<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_vb</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_vb_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEVBButtonLeftUp</key>
		<string>{0, 0}</string>
		<key>OEVBButtonLeftDown</key>
		<string>{0, 0}</string>
		<key>OEVBButtonLeftLeft</key>
		<string>{0, 0}</string>
		<key>OEVBButtonLeftRight</key>
		<string>{0, 0}</string>
		<key>OEVBButtonRightUp</key>
		<string>{0, 0}</string>
		<key>OEVBButtonRightDown</key>
		<string>{0, 0}</string>
		<key>OEVBButtonRightLeft</key>
		<string>{0, 0}</string>
		<key>OEVBButtonRightRight</key>
		<string>{0, 0}</string>
		<key>OEVBButtonL</key>
		<string>{0, 0}</string>
		<key>OEVBButtonR</key>
		<string>{0, 0}</string>
		<key>OEVBButtonA</key>
		<string>{0, 0}</string>
		<key>OEVBButtonB</key>
		<string>{0, 0}</string>
		<key>OEVBButtonStart</key>
		<string>{0, 0}</string>
		<key>OEVBButtonSelect</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
