<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEVBButtonLeftUp</key>
	<integer>82</integer>
	<key>OEVBButtonLeftDown</key>
	<integer>81</integer>
	<key>OEVBButtonLeftLeft</key>
	<integer>80</integer>
	<key>OEVBButtonLeftRight</key>
	<integer>79</integer>
	<key>OEVBButtonRightUp</key>
	<integer>26</integer>
	<key>OEVBButtonRightDown</key>
	<integer>22</integer>
	<key>OEVBButtonRightLeft</key>
	<integer>4</integer>
	<key>OEVBButtonRightRight</key>
	<integer>7</integer>
	<key>OEVBButtonA</key>
	<integer>29</integer>
	<key>OEVBButtonB</key>
	<integer>27</integer>
	<key>OEVBButtonL</key>
	<integer>20</integer>
	<key>OEVBButtonR</key>
	<integer>8</integer>
	<key>OEVBButtonStart</key>
	<integer>40</integer>
	<key>OEVBButtonSelect</key>
	<integer>229</integer>
</dict>
</plist>
