<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerMicrosoftXbox360DPadUp</string>
		<key>OE2600ButtonDown</key>
		<string>OEControllerMicrosoftXbox360DPadDown</string>
		<key>OE2600ButtonLeft</key>
		<string>OEControllerMicrosoftXbox360DPadLeft</string>
		<key>OE2600ButtonRight</key>
		<string>OEControllerMicrosoftXbox360DPadRight</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerMicrosoftXbox360ButtonA</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerMicrosoftXbox360ButtonStart</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerMicrosoftXbox360ButtonBack</string>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerSonyPS3SixaxisDPadUp</string>
		<key>OE2600ButtonDown</key>
		<string>OEControllerSonyPS3SixaxisDPadDown</string>
		<key>OE2600ButtonLeft</key>
		<string>OEControllerSonyPS3SixaxisDPadLeft</string>
		<key>OE2600ButtonRight</key>
		<string>OEControllerSonyPS3SixaxisDPadRight</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerSonyPS3SixaxisButtonCross</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerSonyPS3SixaxisButtonStart</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerSonyPS3SixaxisButtonSelect</string>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerLogitechDualActionDPadUp</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerLogitechDualActionButton2</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerLogitechDualActionButtonStart</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerLogitechDualActionButtonSelect</string>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerSegaSaturnDPadUp</string>
		<key>OE2600ButtonLeft</key>
		<string>OEControllerSegaSaturnDPadLeft</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerSegaSaturnButtonC</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerSegaSaturnButtonStart</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerSegaSaturnButtonX</string>
	</dict>
	<key>OEControllerGravisGamePadPro</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerGravisGamePadProDPadUp</string>
		<key>OE2600ButtonLeft</key>
		<string>OEControllerGravisGamePadProDPadLeft</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerGravisGamePadProButton2</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerGravisGamePadProButtonStart</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerGravisGamePadProButtonSelect</string>
	</dict>
	<key>OEControllerRetroUSBSNES</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerRetroUSBSNESDPadUp</string>
		<key>OE2600ButtonLeft</key>
		<string>OEControllerRetroUSBSNESDPadLeft</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerRetroUSBSNESButtonB</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerRetroUSBSNESButtonStart</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerRetroUSBSNESButtonSelect</string>
	</dict>
	<key>OEControllerPS3NeoGeoPad</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerPS3NeoGeoPadDPadUp</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerPS3NeoGeoPadButtonCross</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerPS3NeoGeoPadButtonStart</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerPS3NeoGeoPadButtonSelect</string>
	</dict>
	<key>OEControllerRetrode</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerRetrodeDPadUp</string>
		<key>OE2600ButtonLeft</key>
		<string>OEControllerRetrodeDPadLeft</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerRetrodeButtonB</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerRetrodeButtonStart</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerRetrodeButtonSelect</string>
	</dict>
	<key>OEControllerRetrolinkSNES</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerRetrolinkSNESDPadUp</string>
		<key>OE2600ButtonLeft</key>
		<string>OEControllerRetrolinkSNESDPadLeft</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerRetrolinkSNESButtonB</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerRetrolinkSNESButtonStart</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerRetrolinkSNESButtonSelect</string>
	</dict>
	<key>OEControllerRetrolinkN64</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerRetrolinkN64DPadUp</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerRetrolinkN64ButtonA</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerRetrolinkN64ButtonStart</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerRetrolinkN64ButtonZ</string>
	</dict>
	<key>OEControllerAdaptoidN64</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerAdaptoidN64DPadUp</string>
		<key>OE2600ButtonDown</key>
		<string>OEControllerAdaptoidN64DPadDown</string>
		<key>OE2600ButtonLeft</key>
		<string>OEControllerAdaptoidN64DPadLeft</string>
		<key>OE2600ButtonRight</key>
		<string>OEControllerAdaptoidN64DPadRight</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerAdaptoidN64ButtonA</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerAdaptoidN64ButtonStart</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerAdaptoidN64ButtonZ</string>
	</dict>
	<key>OEControllerWiimote</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerWiimoteDPadRight</string>
		<key>OE2600ButtonDown</key>
		<string>OEControllerWiimoteDPadLeft</string>
		<key>OE2600ButtonLeft</key>
		<string>OEControllerWiimoteDPadUp</string>
		<key>OE2600ButtonRight</key>
		<string>OEControllerWiimoteDPadDown</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerWiimoteButton2</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerWiimoteButtonPlus</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerWiimoteButtonMinus</string>
	</dict>
	<key>OEControllerNintendoWiiUProController</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerNintendoWiiUProControllerDPadUp</string>
		<key>OE2600ButtonDown</key>
		<string>OEControllerNintendoWiiUProControllerDPadDown</string>
		<key>OE2600ButtonLeft</key>
		<string>OEControllerNintendoWiiUProControllerDPadLeft</string>
		<key>OE2600ButtonRight</key>
		<string>OEControllerNintendoWiiUProControllerDPadRight</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerNintendoWiiUProControllerButtonB</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerNintendoWiiUProControllerButtonPlus</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerNintendoWiiUProControllerButtonMinus</string>
	</dict>
	<key>OEControllerSonyPS4Dualshock4</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerSonyPS4Dualshock4DPadUp</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCross</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerSonyPS4Dualshock4ButtonOptions</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerSonyPS4Dualshock4ButtonShare</string>
	</dict>
	<key>OEControllerGCExtendedGamepadProfile</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerGCExtendedGamepadProfileDPadUp</string>
		<key>OE2600ButtonDown</key>
		<string>OEControllerGCExtendedGamepadProfileDPadDown</string>
		<key>OE2600ButtonLeft</key>
		<string>OEControllerGCExtendedGamepadProfileDPadLeft</string>
		<key>OE2600ButtonRight</key>
		<string>OEControllerGCExtendedGamepadProfileDPadRight</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerGCExtendedGamepadProfileButtonA</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerGCExtendedGamepadProfileButtonHome</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerGCExtendedGamepadProfileButtonL1</string>
	</dict>
	<key>OEControllerNintendoSwitchProController</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerNintendoSwitchProControllerDPadUp</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerNintendoSwitchProControllerButtonB</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerNintendoSwitchProControllerButtonPlus</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerNintendoSwitchProControllerButtonMinus</string>
	</dict>
	<key>OEControllerMicrosoftXboxOne</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerMicrosoftXboxOneDPadUp</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerMicrosoftXboxOneButtonA</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerMicrosoftXboxOneButtonMenu</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerMicrosoftXboxOneButtonView</string>
	</dict>
	<key>OEControllerRetroBitSegaBluetooth8ButtonArcadePad</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadDPadUp</string>
		<key>OE2600ButtonFire1</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonC</string>
		<key>OE2600ButtonReset</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonStart</string>
		<key>OE2600ButtonSelect</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonSelect</string>
	</dict>
</dict>
</plist>
