<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_sms</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_sms_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OESMSButtonUp</key>
		<string>{145, 264}</string>
		<key>OESMSButtonDown</key>
		<string>{145, 181}</string>
		<key>OESMSButtonLeft</key>
		<string>{107, 226}</string>
		<key>OESMSButtonRight</key>
		<string>{184, 226}</string>
		<key>OESMSButtonA</key>
		<string>{333, 202}</string>
		<key>OESMSButtonB</key>
		<string>{403, 202}</string>
		<key>OESMSButtonStart</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
