<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OESystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESMSButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESMSButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESMSButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESMSButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 1/Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESMSButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESMSButtonB</string>
			</dict>
			<string>-</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Console Pause</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESMSButtonStart</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OESMSButtonUp</string>
				<string>OESMSButtonDown</string>
			</array>
			<array>
				<string>OESMSButtonLeft</string>
				<string>OESMSButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OESMSButtonUp</string>
				<string>OESMSButtonRight</string>
				<string>OESMSButtonDown</string>
				<string>OESMSButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>sms</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OESMSButtonUp</string>
		<string>OESMSButtonDown</string>
		<string>OESMSButtonLeft</string>
		<string>OESMSButtonRight</string>
		<string>OESMSButtonA</string>
		<string>OESMSButtonB</string>
		<string>OESMSButtonStart</string>
		<string>OESMSButtonReset</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OESMSSystemResponder</string>
	<key>OESystemControlNamesKey</key>
	<array>
		<string>OESMSButtonStart</string>
		<string>OESMSButtonReset</string>
	</array>
	<key>OESystemIcon</key>
	<string>sms_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.sms</string>
	<key>OESystemName</key>
	<string>Sega Master System</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
