<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEColecoVisionSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left Action</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButtonLeftAction</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right Action</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButtonRightAction</string>
			</dict>
		</array>
		<array>
			<string>Keypad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButton1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButton2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButton3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>4</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButton4</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>5</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButton5</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>6</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButton6</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>7</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButton7</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>8</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButton8</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>9</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButton9</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>0</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButton0</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>*</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButtonAsterisk</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>#</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEColecoVisionButtonPound</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEColecoVisionButtonUp</string>
				<string>OEColecoVisionButtonDown</string>
			</array>
			<array>
				<string>OEColecoVisionButtonLeft</string>
				<string>OEColecoVisionButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEColecoVisionButtonUp</string>
				<string>OEColecoVisionButtonRight</string>
				<string>OEColecoVisionButtonDown</string>
				<string>OEColecoVisionButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>col</string>
		<string>rom</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEColecoVisionButtonUp</string>
		<string>OEColecoVisionButtonDown</string>
		<string>OEColecoVisionButtonLeft</string>
		<string>OEColecoVisionButtonRight</string>
		<string>OEColecoVisionButtonLeftAction</string>
		<string>OEColecoVisionButtonRightAction</string>
		<string>OEColecoVisionButton1</string>
		<string>OEColecoVisionButton2</string>
		<string>OEColecoVisionButton3</string>
		<string>OEColecoVisionButton4</string>
		<string>OEColecoVisionButton5</string>
		<string>OEColecoVisionButton6</string>
		<string>OEColecoVisionButton7</string>
		<string>OEColecoVisionButton8</string>
		<string>OEColecoVisionButton9</string>
		<string>OEColecoVisionButton0</string>
		<string>OEColecoVisionButtonAsterisk</string>
		<string>OEColecoVisionButtonPound</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OEColecoVisionSystemResponder</string>
	<key>OESystemIcon</key>
	<string>colecovision_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.colecovision</string>
	<key>OESystemName</key>
	<string>ColecoVision</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
