<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_colecovision</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_colecovision_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEColecoVisionButtonUp</key>
		<string>{250, 400}</string>
		<key>OEColecoVisionButtonDown</key>
		<string>{250, 346}</string>
		<key>OEColecoVisionButtonLeft</key>
		<string>{223, 373}</string>
		<key>OEColecoVisionButtonRight</key>
		<string>{276, 373}</string>
		<key>OEColecoVisionButtonLeftAction</key>
		<string>{178, 296}</string>
		<key>OEColecoVisionButtonRightAction</key>
		<string>{323, 296}</string>
		<key>OEColecoVisionButton1</key>
		<string>{208, 212}</string>
		<key>OEColecoVisionButton2</key>
		<string>{250, 212}</string>
		<key>OEColecoVisionButton3</key>
		<string>{292, 212}</string>
		<key>OEColecoVisionButton4</key>
		<string>{208, 165}</string>
		<key>OEColecoVisionButton5</key>
		<string>{250, 165}</string>
		<key>OEColecoVisionButton6</key>
		<string>{292, 165}</string>
		<key>OEColecoVisionButton7</key>
		<string>{208, 120}</string>
		<key>OEColecoVisionButton8</key>
		<string>{250, 120}</string>
		<key>OEColecoVisionButton9</key>
		<string>{292, 120}</string>
		<key>OEColecoVisionButton0</key>
		<string>{250, 75}</string>
		<key>OEColecoVisionButtonAsterisk</key>
		<string>{208, 75}</string>
		<key>OEColecoVisionButtonPound</key>
		<string>{292, 75}</string>
	</dict>
</dict>
</plist>
