<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEMSXButtonUp</key>
	<integer>82</integer>
	<key>OEMSXButtonDown</key>
	<integer>81</integer>
	<key>OEMSXButtonLeft</key>
	<integer>80</integer>
	<key>OEMSXButtonRight</key>
	<integer>79</integer>
	<key>OEMSXButtonA</key>
	<integer>4</integer>
	<key>OEMSXButtonB</key>
	<integer>22</integer>
</dict>
</plist>
