<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.openemu.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 OpenEmu Team. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>OEGBASystemController</string>
	<key>OESystemPluginName</key>
	<string>Game Boy Advance</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.gba</string>
	<key>OESystemName</key>
	<string>Game Boy Advance</string>
	<key>OEArchiveIDs</key>
	<array>
		<integer>85</integer>
	</array>
	<key>OEFileSuffixes</key>
	<array>
		<string>gba</string>
	</array>
	<key>OEControlListKey</key>
	<array>
		<array>
			<array>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Up</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEGBAButtonUp[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{146, 173}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Down</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEGBAButtonDown[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{146, 138}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Left</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEGBAButtonLeft[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{128, 155}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Right</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEGBAButtonRight[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{168, 155}</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Start</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEGBAButtonStart[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{173, 97}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Select</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEGBAButtonSelect[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{173, 73}</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>A</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEGBAButtonA[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{471, 161}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>B</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEGBAButtonB[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{437, 148}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Left Trigger</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEGBAButtonL[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{131, 237}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Right Trigger</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEGBAButtonR[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{469, 237}</string>
				</dict>
			</array>
		</array>
	</array>
</dict>
</plist>
