<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEGBAButtonUp</key>
	<integer>82</integer>
	<key>OEGBAButtonDown</key>
	<integer>81</integer>
	<key>OEGBAButtonLeft</key>
	<integer>80</integer>
	<key>OEGBAButtonRight</key>
	<integer>79</integer>
	<key>OEGBAButtonA</key>
	<integer>7</integer>
	<key>OEGBAButtonB</key>
	<integer>22</integer>
	<key>OEGBAButtonL</key>
	<integer>20</integer>
	<key>OEGBAButtonR</key>
	<integer>8</integer>
	<key>OEGBAButtonStart</key>
	<integer>40</integer>
	<key>OEGBAButtonSelect</key>
	<integer>229</integer>
</dict>
</plist>
