<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_gb</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_gb_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEGBButtonUp</key>
		<string>{178, 172}</string>
		<key>OEGBButtonDown</key>
		<string>{178, 134}</string>
		<key>OEGBButtonLeft</key>
		<string>{156, 153}</string>
		<key>OEGBButtonRight</key>
		<string>{197, 154}</string>
		<key>OEGBButtonStart</key>
		<string>{258, 94}</string>
		<key>OEGBButtonSelect</key>
		<string>{217, 94}</string>
		<key>OEGBButtonA</key>
		<string>{340, 166}</string>
		<key>OEGBButtonB</key>
		<string>{300, 149}</string>
	</dict>
</dict>
</plist>
