<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEGBSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBButtonStart</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBButtonSelect</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBButtonB</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEGBButtonUp</string>
				<string>OEGBButtonDown</string>
			</array>
			<array>
				<string>OEGBButtonLeft</string>
				<string>OEGBButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEGBButtonUp</string>
				<string>OEGBButtonRight</string>
				<string>OEGBButtonDown</string>
				<string>OEGBButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>gb</string>
		<string>gbc</string>
		<string>sgb</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEGBButtonUp</string>
		<string>OEGBButtonDown</string>
		<string>OEGBButtonLeft</string>
		<string>OEGBButtonRight</string>
		<string>OEGBButtonA</string>
		<string>OEGBButtonB</string>
		<string>OEGBButtonStart</string>
		<string>OEGBButtonSelect</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>1</integer>
	<key>OEResponderClassKey</key>
	<string>OEGBSystemResponder</string>
	<key>OESystemIcon</key>
	<string>gameboy_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.gb</string>
	<key>OESystemName</key>
	<string>Game Boy</string>
	<key>OESystemType</key>
	<string>OESystemTypeHandheld</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
