<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>mupen64plus</string>
	<key>CFBundleIdentifier</key>
	<string>com.openemu.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0 hg</string>
	<key>NSPrincipalClass</key>
	<string>OEGameCoreController</string>
	<key>OEProjectURL</key>
	<string>http://bitbucket.org/richard42/</string>
	<key>OESystemIdentifiers</key>
	<array>
		<string>openemu.system.n64</string>
	</array>
	<key>SUEnableAutomaticChecks</key>
	<string>1</string>
	<key>SUFeedURL</key>
	<string>http://openemu.org/update/mupen64plus_appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>OEGameCoreClass</key>
	<string>MupenGameCore</string>
	<key>OEGameCorePlayerCount</key>
	<string>8</string>
</dict>
</plist>
