<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEDCSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<string>D-Pad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEDCButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEDCButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEDCButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEDCButtonRight</string>
			</dict>
		</array>
		<array>
			<string>Analog</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEDCAnalogUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEDCAnalogDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEDCAnalogLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEDCAnalogRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEDCButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEDCButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>X</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEDCButtonX</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Y</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEDCButtonY</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEDCAnalogL</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEDCAnalogR</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEDCButtonStart</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAnalogControlsKey</key>
		<array>
			<string>OEDCAnalogUp</string>
			<string>OEDCAnalogDown</string>
			<string>OEDCAnalogLeft</string>
			<string>OEDCAnalogRight</string>
			<string>OEDCAnalogL</string>
			<string>OEDCAnalogR</string>
		</array>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEDCButtonUp</string>
				<string>OEDCButtonDown</string>
			</array>
			<array>
				<string>OEDCButtonLeft</string>
				<string>OEDCButtonRight</string>
			</array>
			<array>
				<string>OEDCAnalogUp</string>
				<string>OEDCAnalogDown</string>
			</array>
			<array>
				<string>OEDCAnalogLeft</string>
				<string>OEDCAnalogRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEDCButtonUp</string>
				<string>OEDCButtonRight</string>
				<string>OEDCButtonDown</string>
				<string>OEDCButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>cdi</string>
		<string>gdi</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEDCButtonUp</string>
		<string>OEDCButtonDown</string>
		<string>OEDCButtonLeft</string>
		<string>OEDCButtonRight</string>
		<string>OEDCButtonA</string>
		<string>OEDCButtonB</string>
		<string>OEDCButtonX</string>
		<string>OEDCButtonY</string>
		<string>OEDCAnalogL</string>
		<string>OEDCAnalogR</string>
		<string>OEDCButtonStart</string>
		<string>OEDCAnalogUp</string>
		<string>OEDCAnalogDown</string>
		<string>OEDCAnalogLeft</string>
		<string>OEDCAnalogRight</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>4</integer>
	<key>OEResponderClassKey</key>
	<string>OEDCSystemResponder</string>
	<key>OESystemCoverAspectRatio</key>
	<string>1</string>
	<key>OESystemIcon</key>
	<string>dc_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.dc</string>
	<key>OESystemName</key>
	<string>Dreamcast</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaOpticalDisc</string>
	</array>
</dict>
</plist>
