<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerMicrosoftXbox360DPadUp</string>
		<key>OE3DOButtonDown</key>
		<string>OEControllerMicrosoftXbox360DPadDown</string>
		<key>OE3DOButtonLeft</key>
		<string>OEControllerMicrosoftXbox360DPadLeft</string>
		<key>OE3DOButtonRight</key>
		<string>OEControllerMicrosoftXbox360DPadRight</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerMicrosoftXbox360ButtonX</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerMicrosoftXbox360ButtonA</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerMicrosoftXbox360ButtonB</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerMicrosoftXbox360ButtonLeftShoulder</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerMicrosoftXbox360ButtonRightShoulder</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerMicrosoftXbox360ButtonStart</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerMicrosoftXbox360ButtonBack</string>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerSonyPS3SixaxisDPadUp</string>
		<key>OE3DOButtonDown</key>
		<string>OEControllerSonyPS3SixaxisDPadDown</string>
		<key>OE3DOButtonLeft</key>
		<string>OEControllerSonyPS3SixaxisDPadLeft</string>
		<key>OE3DOButtonRight</key>
		<string>OEControllerSonyPS3SixaxisDPadRight</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerSonyPS3SixaxisButtonSquare</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerSonyPS3SixaxisButtonCross</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerSonyPS3SixaxisButtonCircle</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerSonyPS3SixaxisButtonL1</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerSonyPS3SixaxisButtonR1</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerSonyPS3SixaxisButtonStart</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerSonyPS3SixaxisButtonSelect</string>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerLogitechDualActionDPadUp</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerLogitechDualActionButton1</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerLogitechDualActionButton2</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerLogitechDualActionButton3</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerLogitechDualActionButtonLeftShoulder</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerLogitechDualActionButtonRightShoulder</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerLogitechDualActionButtonStart</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerLogitechDualActionButtonSelect</string>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerSegaSaturnDPadUp</string>
		<key>OE3DOButtonLeft</key>
		<string>OEControllerSegaSaturnDPadLeft</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerSegaSaturnButtonA</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerSegaSaturnButtonB</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerSegaSaturnButtonC</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerSegaSaturnButtonLeftShoulder</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerSegaSaturnButtonRightShoulder</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerSegaSaturnButtonStart</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerSegaSaturnButtonX</string>
	</dict>
	<key>OEControllerGravisGamePadPro</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerGravisGamePadProDPadUp</string>
		<key>OE3DOButtonLeft</key>
		<string>OEControllerGravisGamePadProDPadLeft</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerGravisGamePadProButton1</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerGravisGamePadProButton2</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerGravisGamePadProButton3</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerGravisGamePadProButtonLeftShoulder</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerGravisGamePadProButtonRightShoulder</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerGravisGamePadProButtonStart</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerGravisGamePadProButtonSelect</string>
	</dict>
	<key>OEControllerRetroUSBSNES</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerRetroUSBSNESDPadUp</string>
		<key>OE3DOButtonLeft</key>
		<string>OEControllerRetroUSBSNESDPadLeft</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerRetroUSBSNESButtonY</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerRetroUSBSNESButtonB</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerRetroUSBSNESButtonA</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerRetroUSBSNESButtonLeftShoulder</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerRetroUSBSNESButtonRightShoulder</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerRetroUSBSNESButtonStart</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerRetroUSBSNESButtonSelect</string>
	</dict>
	<key>OEControllerPS3NeoGeoPad</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerPS3NeoGeoPadDPadUp</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerPS3NeoGeoPadButtonCross</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerPS3NeoGeoPadButtonCircle</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerPS3NeoGeoPadButtonR1</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerPS3NeoGeoPadButtonL2</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerPS3NeoGeoPadButtonR2</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerPS3NeoGeoPadButtonStart</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerPS3NeoGeoPadButtonSelect</string>
	</dict>
	<key>OEControllerRetrode</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerRetrodeDPadUp</string>
		<key>OE3DOButtonLeft</key>
		<string>OEControllerRetrodeDPadLeft</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerRetrodeButtonY</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerRetrodeButtonB</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerRetrodeButtonA</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerRetrodeButtonLeftShoulder</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerRetrodeButtonRightShoulder</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerRetrodeButtonStart</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerRetrodeButtonSelect</string>
	</dict>
	<key>OEControllerRetrolinkSNES</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerRetrolinkSNESDPadUp</string>
		<key>OE3DOButtonLeft</key>
		<string>OEControllerRetrolinkSNESDPadLeft</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerRetrolinkSNESButtonY</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerRetrolinkSNESButtonB</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerRetrolinkSNESButtonA</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerRetrolinkSNESButtonLeftShoulder</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerRetrolinkSNESButtonRightShoulder</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerRetrolinkSNESButtonStart</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerRetrolinkSNESButtonSelect</string>
	</dict>
	<key>OEControllerRetrolinkN64</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerRetrolinkN64DPadUp</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerRetrolinkN64ButtonA</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerRetrolinkN64CPadDown</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerRetrolinkN64CPadRight</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerRetrolinkN64ButtonLeftShoulder</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerRetrolinkN64ButtonRightShoulder</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerRetrolinkN64ButtonStart</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerRetrolinkN64ButtonZ</string>
	</dict>
	<key>OEControllerAdaptoidN64</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerAdaptoidN64DPadUp</string>
		<key>OE3DOButtonDown</key>
		<string>OEControllerAdaptoidN64DPadDown</string>
		<key>OE3DOButtonLeft</key>
		<string>OEControllerAdaptoidN64DPadLeft</string>
		<key>OE3DOButtonRight</key>
		<string>OEControllerAdaptoidN64DPadRight</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerAdaptoidN64ButtonA</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerAdaptoidN64CPadDown</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerAdaptoidN64CPadRight</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerAdaptoidN64ButtonLeftShoulder</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerAdaptoidN64ButtonRightShoulder</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerAdaptoidN64ButtonStart</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerAdaptoidN64ButtonZ</string>
	</dict>
	<key>OEControllerWiimote</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerWiimoteDPadRight</string>
		<key>OE3DOButtonDown</key>
		<string>OEControllerWiimoteDPadLeft</string>
		<key>OE3DOButtonLeft</key>
		<string>OEControllerWiimoteDPadUp</string>
		<key>OE3DOButtonRight</key>
		<string>OEControllerWiimoteDPadDown</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerWiimoteButtonA</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerWiimoteButton1</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerWiimoteButton2</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerWiimoteButtonPlus</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerWiimoteButtonMinus</string>
	</dict>
	<key>OEControllerNintendoWiiUProController</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerNintendoWiiUProControllerDPadUp</string>
		<key>OE3DOButtonDown</key>
		<string>OEControllerNintendoWiiUProControllerDPadDown</string>
		<key>OE3DOButtonLeft</key>
		<string>OEControllerNintendoWiiUProControllerDPadLeft</string>
		<key>OE3DOButtonRight</key>
		<string>OEControllerNintendoWiiUProControllerDPadRight</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerNintendoWiiUProControllerButtonY</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerNintendoWiiUProControllerButtonB</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerNintendoWiiUProControllerButtonA</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerNintendoWiiUProControllerButtonL</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerNintendoWiiUProControllerButtonR</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerNintendoWiiUProControllerButtonPlus</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerNintendoWiiUProControllerButtonMinus</string>
	</dict>
	<key>OEControllerSonyPS4Dualshock4</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerSonyPS4Dualshock4DPadUp</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerSonyPS4Dualshock4ButtonSquare</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCross</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCircle</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerSonyPS4Dualshock4ButtonL1</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerSonyPS4Dualshock4ButtonR1</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerSonyPS4Dualshock4ButtonOptions</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerSonyPS4Dualshock4ButtonShare</string>
	</dict>
	<key>OEControllerGCExtendedGamepadProfile</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerGCExtendedGamepadProfileDPadUp</string>
		<key>OE3DOButtonDown</key>
		<string>OEControllerGCExtendedGamepadProfileDPadDown</string>
		<key>OE3DOButtonLeft</key>
		<string>OEControllerGCExtendedGamepadProfileDPadLeft</string>
		<key>OE3DOButtonRight</key>
		<string>OEControllerGCExtendedGamepadProfileDPadRight</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerGCExtendedGamepadProfileButtonX</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerGCExtendedGamepadProfileButtonA</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerGCExtendedGamepadProfileButtonB</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerGCExtendedGamepadProfileButtonL1</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerGCExtendedGamepadProfileButtonR1</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerGCExtendedGamepadProfileButtonHome</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerGCExtendedGamepadProfileButtonL2</string>
	</dict>
	<key>OEControllerNintendoSwitchProController</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerNintendoSwitchProControllerDPadUp</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerNintendoSwitchProControllerButtonY</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerNintendoSwitchProControllerButtonB</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerNintendoSwitchProControllerButtonA</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerNintendoSwitchProControllerButtonL</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerNintendoSwitchProControllerButtonR</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerNintendoSwitchProControllerButtonPlus</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerNintendoSwitchProControllerButtonMinus</string>
	</dict>
	<key>OEControllerMicrosoftXboxOne</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerMicrosoftXboxOneDPadUp</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerMicrosoftXboxOneButtonX</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerMicrosoftXboxOneButtonA</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerMicrosoftXboxOneButtonB</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerMicrosoftXboxOneButtonLeftShoulder</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerMicrosoftXboxOneButtonRightShoulder</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerMicrosoftXboxOneButtonMenu</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerMicrosoftXboxOneButtonView</string>
	</dict>
	<key>OEControllerRetroBitSegaBluetooth8ButtonArcadePad</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadDPadUp</string>
		<key>OE3DOButtonA</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonA</string>
		<key>OE3DOButtonB</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonB</string>
		<key>OE3DOButtonC</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonC</string>
		<key>OE3DOButtonL</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonLeftShoulder</string>
		<key>OE3DOButtonR</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonRightShoulder</string>
		<key>OE3DOButtonP</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonStart</string>
		<key>OE3DOButtonX</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonSelect</string>
	</dict>
</dict>
</plist>
