<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_3do</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_3do_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OE3DOButtonUp</key>
		<string>{116, 270}</string>
		<key>OE3DOButtonDown</key>
		<string>{116, 220}</string>
		<key>OE3DOButtonLeft</key>
		<string>{96, 246}</string>
		<key>OE3DOButtonRight</key>
		<string>{140, 246}</string>
		<key>OE3DOButtonA</key>
		<string>{350, 220}</string>
		<key>OE3DOButtonB</key>
		<string>{394, 249}</string>
		<key>OE3DOButtonC</key>
		<string>{441, 269}</string>
		<key>OE3DOButtonL</key>
		<string>{125, 350}</string>
		<key>OE3DOButtonR</key>
		<string>{374, 350}</string>
		<key>OE3DOButtonP</key>
		<string>{284, 250}</string>
		<key>OE3DOButtonX</key>
		<string>{218, 250}</string>
	</dict>
</dict>
</plist>
