<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_genesis</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_genesis_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEGenesisButtonUp</key>
		<string>{140, 265}</string>
		<key>OEGenesisButtonDown</key>
		<string>{140, 215}</string>
		<key>OEGenesisButtonLeft</key>
		<string>{111, 239}</string>
		<key>OEGenesisButtonRight</key>
		<string>{168, 239}</string>
		<key>OEGenesisButtonStart</key>
		<string>{241, 240}</string>
		<key>OEGenesisButtonMode</key>
		<string>{0, 0}</string>
		<key>OEGenesisButtonA</key>
		<string>{318, 200}</string>
		<key>OEGenesisButtonB</key>
		<string>{362, 219}</string>
		<key>OEGenesisButtonC</key>
		<string>{405, 232}</string>
		<key>OEGenesisButtonX</key>
		<string>{304, 243}</string>
		<key>OEGenesisButtonY</key>
		<string>{340, 260}</string>
		<key>OEGenesisButtonZ</key>
		<string>{377, 272}</string>
	</dict>
</dict>
</plist>
