<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_genesis.png</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_genesis_mask.png</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEGenesisButtonUp</key>
		<string>{190, 180}</string>
		<key>OEGenesisButtonDown</key>
		<string>{190, 130}</string>
		<key>OEGenesisButtonLeft</key>
		<string>{161, 154}</string>
		<key>OEGenesisButtonRight</key>
		<string>{218, 154}</string>
		<key>OEGenesisButtonStart</key>
		<string>{291, 155}</string>
		<key>OEGenesisButtonMode</key>
		<string>{0, 0}</string>
		<key>OEGenesisButtonA</key>
		<string>{368, 115}</string>
		<key>OEGenesisButtonB</key>
		<string>{412, 134}</string>
		<key>OEGenesisButtonC</key>
		<string>{455, 147}</string>
		<key>OEGenesisButtonX</key>
		<string>{354, 158}</string>
		<key>OEGenesisButtonY</key>
		<string>{390, 175}</string>
		<key>OEGenesisButtonZ</key>
		<string>{427, 187}</string>
	</dict>
</dict>
</plist>
