<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_fc.png</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_fc_mask.png</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEFDSButtonUp</key>
		<string>{159, 137}</string>
		<key>OEFDSButtonDown</key>
		<string>{159, 90}</string>
		<key>OEFDSButtonLeft</key>
		<string>{136, 113}</string>
		<key>OEFDSButtonRight</key>
		<string>{183, 113}</string>
		<key>OEFDSButtonStart</key>
		<string>{260, 92}</string>
		<key>OEFDSButtonSelect</key>
		<string>{309, 92}</string>
		<key>OEFDSButtonA</key>
		<string>{449, 95}</string>
		<key>OEFDSButtonB</key>
		<string>{391, 95}</string>
		<key>OEFDSButtonChangeSide</key>
		<string>{391, 95}</string>
	</dict>
</dict>
</plist>
