<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OESystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFDSButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFDSButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFDSButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFDSButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFDSButtonStart</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFDSButtonSelect</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFDSButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFDSButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Change Disk Side</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFDSButtonChangeSide</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEFDSButtonUp</string>
				<string>OEFDSButtonDown</string>
			</array>
			<array>
				<string>OEFDSButtonLeft</string>
				<string>OEFDSButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEFDSButtonUp</string>
				<string>OEFDSButtonRight</string>
				<string>OEFDSButtonDown</string>
				<string>OEFDSButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>fds</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEFDSButtonUp</string>
		<string>OEFDSButtonDown</string>
		<string>OEFDSButtonLeft</string>
		<string>OEFDSButtonRight</string>
		<string>OEFDSButtonA</string>
		<string>OEFDSButtonB</string>
		<string>OEFDSButtonStart</string>
		<string>OEFDSButtonSelect</string>
		<string>OEFDSButtonChangeSide</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>4</integer>
	<key>OEResponderClassKey</key>
	<string>OEFDSSystemResponder</string>
	<key>OESystemCoverAspectRatio</key>
	<string>1.1</string>
	<key>OESystemIcon</key>
	<string>famicom_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.fds</string>
	<key>OESystemName</key>
	<string>Famicom Disk System</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaFloppyDisk</string>
	</array>
</dict>
</plist>
