#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_POCKETSCUMM         ICON    DISCARDABLE     "images/scumm_icon.ico"

/////////////////////////////////////////////////////////////////////////////
//
// BINARY
//

PANEL_GENERIC           BINARY  DISCARDABLE     "images/panelbig.bmp"
PANEL_KEYBOARD          BINARY  DISCARDABLE     "images/keyboard.bmp"
ITEM_SKIP               BINARY  DISCARDABLE     "images/Action.bmp"
ITEM_OPTIONS            BINARY  DISCARDABLE     "images/DiskwFolder.bmp"
ITEM_SOUND_ON           BINARY  DISCARDABLE     "images/SoundOn.bmp"
ITEM_SOUND_OFF          BINARY  DISCARDABLE     "images/SoundOff.bmp"
ITEM_VIEW_PORTRAIT      BINARY  DISCARDABLE     "images/MonkeyPortrait.bmp"
ITEM_VIEW_LANDSCAPE     BINARY  DISCARDABLE     "images/MonkeyLandscape.bmp"
ITEM_BINDKEYS           BINARY  DISCARDABLE     "images/bindkeys.bmp"
HI_RES_AWARE CEUX {1}
