[submodule "OpenEmu-SDK"]
	path = OpenEmu-SDK
	url = ../../OpenEmu/OpenEmu-SDK.git
[submodule "CrabEmu"]
	path = CrabEmu
	url = ../../OpenEmu/CrabEmu-Core.git
[submodule "FCEU"]
	path = FCEU
	url = ../../OpenEmu/FCEU-Core.git
[submodule "Gambatte"]
	path = Gambatte
	url = ../../OpenEmu/Gambatte-Core.git
[submodule "GenesisPlus"]
	path = GenesisPlus
	url = ../../OpenEmu/GenesisPlus-Core.git
[submodule "Mednafen"]
	path = Mednafen
	url = ../../OpenEmu/Mednafen-Core.git
[submodule "Mupen64Plus"]
	path = Mupen64Plus
	url = ../../OpenEmu/Mupen64Plus-Core.git
[submodule "Nestopia"]
	path = Nestopia
	url = ../../OpenEmu/Nestopia-Core.git
[submodule "SNES9x"]
	path = SNES9x
	url = ../../OpenEmu/SNES9x-Core.git
[submodule "picodrive"]
	path = picodrive
	url = ../../OpenEmu/picodrive.git
[submodule "VecXGL"]
	path = VecXGL
	url = ../../OpenEmu/VecXGL-Core.git
[submodule "ProSystem"]
	path = ProSystem
	url = ../../OpenEmu/ProSystem-Core.git
[submodule "Stella"]
	path = Stella
	url = ../../OpenEmu/Stella-Core.git
[submodule "Atari800"]
	path = Atari800
	url = ../../OpenEmu/Atari800-Core.git
[submodule "blueMSX"]
	path = blueMSX
	url = ../../OpenEmu/blueMSX-Core.git
[submodule "4DO"]
	path = 4DO
	url = ../../OpenEmu/4DO-Core.git
[submodule "VirtualJaguar"]
	path = VirtualJaguar
	url = ../../OpenEmu/VirtualJaguar-Core.git
[submodule "O2EM"]
	path = O2EM
	url = ../../OpenEmu/O2EM-Core.git
[submodule "Bliss"]
	path = Bliss
	url = ../../OpenEmu/Bliss-Core.git
[submodule "Potator-Core"]
	path = Potator-Core
	url = ../../OpenEmu/Potator-Core.git
[submodule "PokeMini"]
	path = PokeMini
	url = ../../OpenEmu/PokeMini-Core
[submodule "Reicast"]
	path = Reicast
	url = ../../OpenEmu/Reicast-Core.git
[submodule "mGBA"]
	path = mGBA
	url = ../../OpenEmu/mGBA-Core.git
[submodule "OpenEmu-Shaders"]
	path = OpenEmu-Shaders
	url = ../../OpenEmu/OpenEmu-Shaders.git
[submodule "BSNES"]
	path = BSNES
	url = ../../OpenEmu/BSNES-Core.git
[submodule "OpenEmuKit"]
	path = OpenEmuKit
	url = ../../OpenEmu/OpenEmuKit.git
[submodule "XADMaster"]
	path = Vendor/XADMaster
	url = https://github.com/MacPaw/XADMaster
[submodule "UniversalDetector"]
	path = Vendor/UniversalDetector
	url = https://github.com/MacPaw/universal-detector
[submodule "JollyCV"]
	path = JollyCV
	url = ../../OpenEmu/JollyCV-Core.git
[submodule "DeSmuME"]
	path = DeSmuME
	url = ../../OpenEmu/DeSmuME-Core.git
