<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>OpenEmuQC</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.OpenEmuQC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIconFile</key>
	<string>OpenEmuQCIcon</string>
	<key>QCPlugInClasses</key>
	<array>
		<string>OpenEmuQC</string>
		<string>OpenEmuQCNES</string>
		<string>OpenEmuQCFiltersPlugin</string>
	</array>
	<key>OEBundlePath</key>
	<string>~/Library/Application Support/OpenEmu/Cores/</string>
	<key>OENESBundlePath</key>
	<string>~/Library/Application Support/OpenEmu/Cores/Nestopia.bundle</string>
</dict>
</plist>
