<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerMicrosoftXbox360DPadUp</string>
		<key>OENGPButtonDown</key>
		<string>OEControllerMicrosoftXbox360DPadDown</string>
		<key>OENGPButtonLeft</key>
		<string>OEControllerMicrosoftXbox360DPadLeft</string>
		<key>OENGPButtonRight</key>
		<string>OEControllerMicrosoftXbox360DPadRight</string>
		<key>OENGPButtonA</key>
		<string>OEControllerMicrosoftXbox360ButtonX</string>
		<key>OENGPButtonB</key>
		<string>OEControllerMicrosoftXbox360ButtonA</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerMicrosoftXbox360ButtonStart</string>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerSonyPS3SixaxisDPadUp</string>
		<key>OENGPButtonDown</key>
		<string>OEControllerSonyPS3SixaxisDPadDown</string>
		<key>OENGPButtonLeft</key>
		<string>OEControllerSonyPS3SixaxisDPadLeft</string>
		<key>OENGPButtonRight</key>
		<string>OEControllerSonyPS3SixaxisDPadRight</string>
		<key>OENGPButtonA</key>
		<string>OEControllerSonyPS3SixaxisButtonSquare</string>
		<key>OENGPButtonB</key>
		<string>OEControllerSonyPS3SixaxisButtonCross</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerSonyPS3SixaxisButtonStart</string>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerLogitechDualActionDPadUp</string>
		<key>OENGPButtonA</key>
		<string>OEControllerLogitechDualActionButton1</string>
		<key>OENGPButtonB</key>
		<string>OEControllerLogitechDualActionButton2</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerLogitechDualActionButtonStart</string>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerSegaSaturnDPadUp</string>
		<key>OENGPButtonLeft</key>
		<string>OEControllerSegaSaturnDPadLeft</string>
		<key>OENGPButtonA</key>
		<string>OEControllerSegaSaturnButtonZ</string>
		<key>OENGPButtonB</key>
		<string>OEControllerSegaSaturnButtonC</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerSegaSaturnButtonStart</string>
	</dict>
	<key>OEControllerGravisGamePadPro</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerGravisGamePadProDPadUp</string>
		<key>OENGPButtonLeft</key>
		<string>OEControllerGravisGamePadProDPadLeft</string>
		<key>OENGPButtonA</key>
		<string>OEControllerGravisGamePadProButton1</string>
		<key>OENGPButtonB</key>
		<string>OEControllerGravisGamePadProButton2</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerGravisGamePadProButtonStart</string>
	</dict>
	<key>OEControllerRetroUSBSNES</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerRetroUSBSNESDPadUp</string>
		<key>OENGPButtonLeft</key>
		<string>OEControllerRetroUSBSNESDPadLeft</string>
		<key>OENGPButtonA</key>
		<string>OEControllerRetroUSBSNESButtonB</string>
		<key>OENGPButtonB</key>
		<string>OEControllerRetroUSBSNESButtonA</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerRetroUSBSNESButtonStart</string>
	</dict>
	<key>OEControllerPS3NeoGeoPad</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerPS3NeoGeoPadDPadUp</string>
		<key>OENGPButtonA</key>
		<string>OEControllerPS3NeoGeoPadButtonSquare</string>
		<key>OENGPButtonB</key>
		<string>OEControllerPS3NeoGeoPadButtonCross</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerPS3NeoGeoPadButtonStart</string>
	</dict>
	<key>OEControllerRetrode</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerRetrodeDPadUp</string>
		<key>OENGPButtonLeft</key>
		<string>OEControllerRetrodeDPadLeft</string>
		<key>OENGPButtonA</key>
		<string>OEControllerRetrodeButtonY</string>
		<key>OENGPButtonB</key>
		<string>OEControllerRetrodeButtonB</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerRetrodeButtonStart</string>
	</dict>
	<key>OEControllerRetrolinkSNES</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerRetrolinkSNESDPadUp</string>
		<key>OENGPButtonLeft</key>
		<string>OEControllerRetrolinkSNESDPadLeft</string>
		<key>OENGPButtonA</key>
		<string>OEControllerRetrolinkSNESButtonY</string>
		<key>OENGPButtonB</key>
		<string>OEControllerRetrolinkSNESButtonB</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerRetrolinkSNESButtonStart</string>
	</dict>
	<key>OEControllerRetrolinkN64</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerRetrolinkN64AnalogUp</string>
		<key>OENGPButtonLeft</key>
		<string>OEControllerRetrolinkN64AnalogLeft</string>
		<key>OENGPButtonA</key>
		<string>OEControllerRetrolinkN64CPadDown</string>
		<key>OENGPButtonB</key>
		<string>OEControllerRetrolinkN64CPadRight</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerRetrolinkN64ButtonStart</string>
	</dict>
	<key>OEControllerAdaptoidN64</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerAdaptoidN64DPadUp</string>
		<key>OENGPButtonDown</key>
		<string>OEControllerAdaptoidN64DPadDown</string>
		<key>OENGPButtonLeft</key>
		<string>OEControllerAdaptoidN64DPadLeft</string>
		<key>OENGPButtonRight</key>
		<string>OEControllerAdaptoidN64DPadRight</string>
		<key>OENGPButtonA</key>
		<string>OEControllerAdaptoidN64CPadDown</string>
		<key>OENGPButtonB</key>
		<string>OEControllerAdaptoidN64CPadRight</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerAdaptoidN64ButtonStart</string>
	</dict>
	<key>OEControllerWiimote</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerWiimoteDPadRight</string>
		<key>OENGPButtonDown</key>
		<string>OEControllerWiimoteDPadLeft</string>
		<key>OENGPButtonLeft</key>
		<string>OEControllerWiimoteDPadUp</string>
		<key>OENGPButtonRight</key>
		<string>OEControllerWiimoteDPadDown</string>
		<key>OENGPButtonA</key>
		<string>OEControllerWiimoteButton1</string>
		<key>OENGPButtonB</key>
		<string>OEControllerWiimoteButton2</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerWiimoteButtonPlus</string>
	</dict>
	<key>OEControllerNintendoWiiUProController</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerNintendoWiiUProControllerDPadUp</string>
		<key>OENGPButtonDown</key>
		<string>OEControllerNintendoWiiUProControllerDPadDown</string>
		<key>OENGPButtonLeft</key>
		<string>OEControllerNintendoWiiUProControllerDPadLeft</string>
		<key>OENGPButtonRight</key>
		<string>OEControllerNintendoWiiUProControllerDPadRight</string>
		<key>OENGPButtonA</key>
		<string>OEControllerNintendoWiiUProControllerButtonY</string>
		<key>OENGPButtonB</key>
		<string>OEControllerNintendoWiiUProControllerButtonB</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerNintendoWiiUProControllerButtonPlus</string>
	</dict>
	<key>OEControllerSonyPS4Dualshock4</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerSonyPS4Dualshock4DPadUp</string>
		<key>OENGPButtonA</key>
		<string>OEControllerSonyPS4Dualshock4ButtonSquare</string>
		<key>OENGPButtonB</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCross</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerSonyPS4Dualshock4ButtonOptions</string>
	</dict>
	<key>OEControllerGCExtendedGamepadProfile</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerGCExtendedGamepadProfileDPadUp</string>
		<key>OENGPButtonDown</key>
		<string>OEControllerGCExtendedGamepadProfileDPadDown</string>
		<key>OENGPButtonLeft</key>
		<string>OEControllerGCExtendedGamepadProfileDPadLeft</string>
		<key>OENGPButtonRight</key>
		<string>OEControllerGCExtendedGamepadProfileDPadRight</string>
		<key>OENGPButtonA</key>
		<string>OEControllerGCExtendedGamepadProfileButtonX</string>
		<key>OENGPButtonB</key>
		<string>OEControllerGCExtendedGamepadProfileButtonA</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerGCExtendedGamepadProfileButtonHome</string>
	</dict>
	<key>OEControllerNintendoSwitchProController</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerNintendoSwitchProControllerDPadUp</string>
		<key>OENGPButtonA</key>
		<string>OEControllerNintendoSwitchProControllerButtonY</string>
		<key>OENGPButtonB</key>
		<string>OEControllerNintendoSwitchProControllerButtonB</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerNintendoSwitchProControllerButtonPlus</string>
	</dict>
	<key>OEControllerMicrosoftXboxOne</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerMicrosoftXboxOneDPadUp</string>
		<key>OENGPButtonA</key>
		<string>OEControllerMicrosoftXboxOneButtonX</string>
		<key>OENGPButtonB</key>
		<string>OEControllerMicrosoftXboxOneButtonA</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerMicrosoftXboxOneButtonMenu</string>
	</dict>
	<key>OEControllerRetroBitSegaBluetooth8ButtonArcadePad</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadDPadUp</string>
		<key>OENGPButtonA</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonZ</string>
		<key>OENGPButtonB</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonC</string>
		<key>OENGPButtonOption</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonStart</string>
	</dict>
</dict>
</plist>
