<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_ngp</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_ngp_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OENGPButtonUp</key>
		<string>{100, 260}</string>
		<key>OENGPButtonDown</key>
		<string>{100, 240}</string>
		<key>OENGPButtonLeft</key>
		<string>{90, 250}</string>
		<key>OENGPButtonRight</key>
		<string>{110, 250}</string>
		<key>OENGPButtonA</key>
		<string>{378, 250}</string>
		<key>OENGPButtonB</key>
		<string>{418, 284}</string>
		<key>OENGPButtonOption</key>
		<string>{418, 335}</string>
	</dict>
</dict>
</plist>
