<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_sg1000</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_sg1000_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OESG1000ButtonUp</key>
		<string>{248, 290}</string>
		<key>OESG1000ButtonDown</key>
		<string>{248, 240}</string>
		<key>OESG1000ButtonLeft</key>
		<string>{220, 262}</string>
		<key>OESG1000ButtonRight</key>
		<string>{278, 262}</string>
		<key>OESG1000Button1</key>
		<string>{180, 380}</string>
		<key>OESG1000Button2</key>
		<string>{320, 380}</string>
		<key>OESG1000ButtonPause</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
