<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_atari8bit</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_atari8bit_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEA8JoystickUp</key>
		<string>{0, 0}</string>
		<key>OEA8JoystickDown</key>
		<string>{0, 0}</string>
		<key>OEA8JoystickLeft</key>
		<string>{0, 0}</string>
		<key>OEA8JoystickRight</key>
		<string>{0, 0}</string>
		<key>OEA8ButtonFire</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
