<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEPCESystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCEButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCEButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCEButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCEButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Run</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCEButtonRun</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCEButtonSelect</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCEButton1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCEButton2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCEButton3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>4</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCEButton4</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>5</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCEButton5</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>6</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCEButton6</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>2/6 Mode</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCEButtonMode</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEPCEButtonUp</string>
				<string>OEPCEButtonDown</string>
			</array>
			<array>
				<string>OEPCEButtonLeft</string>
				<string>OEPCEButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEPCEButtonUp</string>
				<string>OEPCEButtonRight</string>
				<string>OEPCEButtonDown</string>
				<string>OEPCEButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>pce</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEPCEButtonUp</string>
		<string>OEPCEButtonDown</string>
		<string>OEPCEButtonLeft</string>
		<string>OEPCEButtonRight</string>
		<string>OEPCEButton1</string>
		<string>OEPCEButton2</string>
		<string>OEPCEButton3</string>
		<string>OEPCEButton4</string>
		<string>OEPCEButton5</string>
		<string>OEPCEButton6</string>
		<string>OEPCEButtonRun</string>
		<string>OEPCEButtonSelect</string>
		<string>OEPCEButtonMode</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>5</integer>
	<key>OEResponderClassKey</key>
	<string>OEPCESystemResponder</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.pce</string>
	<key>OESystemName</key>
	<string>TurboGrafx-16</string>
	<key>OERegionalizedSystemNames</key>
	<dict>
		<key>jp</key>
		<string>PC Engine</string>
	</dict>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
