<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_vmu</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_vmu_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEVMUButtonUp</key>
		<string>{0, 0}</string>
		<key>OEVMUButtonDown</key>
		<string>{0, 0}</string>
		<key>OEVMUButtonLeft</key>
		<string>{0, 0}</string>
		<key>OEVMUButtonRight</key>
		<string>{0, 0}</string>
		<key>OEVMUButtonA</key>
		<string>{0, 0}</string>
		<key>OEVMUButtonB</key>
		<string>{0, 0}</string>
		<key>OEVMUButtonSleep</key>
		<string>{0, 0}</string>
		<key>OEVMUButtonMode</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
