<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OESystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVMUButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVMUButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVMUButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVMUButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Sleep</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVMUButtonSleep</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Mode</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVMUButtonMode</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVMUButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVMUButtonB</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEVMUButtonUp</string>
				<string>OEVMUButtonDown</string>
			</array>
			<array>
				<string>OEVMUButtonLeft</string>
				<string>OEVMUButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEVMUButtonUp</string>
				<string>OEVMUButtonRight</string>
				<string>OEVMUButtonDown</string>
				<string>OEVMUButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>vms</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEVMUButtonUp</string>
		<string>OEVMUButtonDown</string>
		<string>OEVMUButtonLeft</string>
		<string>OEVMUButtonRight</string>
		<string>OEVMUButtonA</string>
		<string>OEVMUButtonB</string>
		<string>OEVMUButtonSleep</string>
		<string>OEVMUButtonMode</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>1</integer>
	<key>OEResponderClassKey</key>
	<string>OEVMUSystemResponder</string>
	<key>OESystemIcon</key>
	<string>vmu_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.vmu</string>
	<key>OESystemName</key>
	<string>VMU</string>
	<key>OERegionalizedSystemNames</key>
	<dict>
		<key>jp</key>
		<string>VMS</string>
	</dict>
	<key>OESystemType</key>
	<string>OESystemTypeHandheld</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
