<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_msx</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_msx_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEMSXButtonUp</key>
		<string>{0, 0}</string>
		<key>OEMSXButtonDown</key>
		<string>{0, 0}</string>
		<key>OEMSXButtonLeft</key>
		<string>{0, 0}</string>
		<key>OEMSXButtonRight</key>
		<string>{0, 0}</string>
		<key>OEMSXButtonA</key>
		<string>{0, 0}</string>
		<key>OEMSXButtonB</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
