<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEMSXSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEMSXButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEMSXButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEMSXButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEMSXButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEMSXButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEMSXButtonB</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEMSXButtonUp</string>
				<string>OEMSXButtonDown</string>
			</array>
			<array>
				<string>OEMSXButtonLeft</string>
				<string>OEMSXButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEMSXButtonUp</string>
				<string>OEMSXButtonRight</string>
				<string>OEMSXButtonDown</string>
				<string>OEMSXButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>rom</string>
		<string>mx1</string>
		<string>mx2</string>
		<string>cas</string>
		<string>dsk</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEMSXButtonUp</string>
		<string>OEMSXButtonDown</string>
		<string>OEMSXButtonLeft</string>
		<string>OEMSXButtonRight</string>
		<string>OEMSXButtonA</string>
		<string>OEMSXButtonB</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OEMSXSystemResponder</string>
	<key>OESystemIcon</key>
	<string>msx_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.msx</string>
	<key>OESystemName</key>
	<string>MSX</string>
	<key>OESystemType</key>
	<string>OESystemTypeComputer</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
		<string>OESystemMediaCassetteTape</string>
		<string>OESystemMediaFloppyDisk</string>
	</array>
</dict>
</plist>
