<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>Gamma and Contrast</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>gamma</string>
		<key>parameters</key>
		<array>
			<string>crt_gamma</string>
			<string>lcd_gamma</string>
			<string>levels_contrast</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Halation and Diffusion</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>halation</string>
		<key>parameters</key>
		<array>
			<string>halation_weight</string>
			<string>diffusion_weight</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Bloom</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>bloom</string>
		<key>parameters</key>
		<array>
			<string>bloom_underestimate_levels</string>
			<string>bloom_excess</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Beam</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>beam</string>
		<key>parameters</key>
		<array>
			<string>beam_min_sigma</string>
			<string>beam_max_sigma</string>
			<string>beam_spot_power</string>
			<string>beam_min_shape</string>
			<string>beam_max_shape</string>
			<string>beam_shape_power</string>
			<string>beam_horiz_filter</string>
			<string>beam_horiz_sigma</string>
			<string>beam_horiz_linear_rgb_weight</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Convergence</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>convergence</string>
		<key>parameters</key>
		<array>
			<string>convergence_offset_x_r</string>
			<string>convergence_offset_x_g</string>
			<string>convergence_offset_x_b</string>
			<string>convergence_offset_y_r</string>
			<string>convergence_offset_y_g</string>
			<string>convergence_offset_y_b</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Mask</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>mask</string>
		<key>parameters</key>
		<array>
			<string>mask_type</string>
			<string>mask_sample_mode_desired</string>
			<string>mask_specify_num_triads</string>
			<string>mask_triad_size_desired</string>
			<string>mask_num_triads_desired</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Anti Aliasing</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>aa</string>
		<key>parameters</key>
		<array>
			<string>aa_subpixel_r_offset_x_runtime</string>
			<string>aa_subpixel_r_offset_y_runtime</string>
			<string>aa_cubic_c</string>
			<string>aa_gauss_sigma</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Geometry</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>geom</string>
		<key>parameters</key>
		<array>
			<string>geom_mode_runtime</string>
			<string>geom_radius</string>
			<string>geom_view_dist</string>
			<string>geom_tilt_angle_x</string>
			<string>geom_tilt_angle_y</string>
			<string>geom_aspect_ratio_x</string>
			<string>geom_aspect_ratio_y</string>
			<string>geom_overscan_x</string>
			<string>geom_overscan_y</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Border</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>border</string>
		<key>parameters</key>
		<array>
			<string>border_size</string>
			<string>border_darkness</string>
			<string>border_compress</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Interlacing</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>interlace</string>
		<key>parameters</key>
		<array>
			<string>interlace_detect_toggle</string>
			<string>interlace_bff</string>
			<string>interlace_1080i</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Other</string>
		<key>hidden</key>
		<true/>
		<key>name</key>
		<string>default</string>
		<key>parameters</key>
		<array>
			<string>LUT_selector_param</string>
		</array>
	</dict>
</array>
</plist>
