<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OE2600SystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE2600ButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE2600ButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE2600ButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE2600ButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Fire</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE2600ButtonFire1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Console Reset</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE2600ButtonReset</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE2600ButtonSelect</string>
			</dict>
		</array>
		<array>
			<string>Switches</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L Diff A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE2600ButtonLeftDiffA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L Diff B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE2600ButtonLeftDiffB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R Diff A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE2600ButtonRightDiffA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R Diff B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE2600ButtonRightDiffB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>TV Color</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE2600ButtonTVTypeColor</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>TV Black &amp; White</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE2600ButtonTVTypeBlackAndWhite</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OE2600ButtonUp</string>
				<string>OE2600ButtonDown</string>
			</array>
			<array>
				<string>OE2600ButtonLeft</string>
				<string>OE2600ButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OE2600ButtonUp</string>
				<string>OE2600ButtonRight</string>
				<string>OE2600ButtonDown</string>
				<string>OE2600ButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>a26</string>
		<string>bin</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OE2600ButtonUp</string>
		<string>OE2600ButtonDown</string>
		<string>OE2600ButtonLeft</string>
		<string>OE2600ButtonRight</string>
		<string>OE2600ButtonFire1</string>
		<string>OE2600ButtonLeftDiffA</string>
		<string>OE2600ButtonLeftDiffB</string>
		<string>OE2600ButtonRightDiffA</string>
		<string>OE2600ButtonRightDiffB</string>
		<string>OE2600ButtonTVTypeColor</string>
		<string>OE2600ButtonTVTypeBlackAndWhite</string>
		<string>OE2600ButtonReset</string>
		<string>OE2600ButtonSelect</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OE2600SystemResponder</string>
	<key>OESystemIcon</key>
	<string>atari2600_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.2600</string>
	<key>OESystemName</key>
	<string>Atari 2600</string>
	<key>OERegionalizedSystemNames</key>
	<dict>
		<key>jp</key>
		<string>Atari 2800</string>
	</dict>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
