<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_2600</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_2600_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OE2600ButtonUp</key>
		<string>{249, 335}</string>
		<key>OE2600ButtonDown</key>
		<string>{249, 124}</string>
		<key>OE2600ButtonFire1</key>
		<string>{158, 345}</string>
		<key>OE2600ButtonLeft</key>
		<string>{137, 232}</string>
		<key>OE2600ButtonRight</key>
		<string>{361, 232}</string>
		<key>OE2600ButtonReset</key>
		<string>{0, 0}</string>
		<key>OE2600ButtonSelect</key>
		<string>{0, 0}</string>
		<key>OE2600ButtonLeftDiffA</key>
		<string>{0, 0}</string>
		<key>OE2600ButtonLeftDiffB</key>
		<string>{0, 0}</string>
		<key>OE2600ButtonRightDiffA</key>
		<string>{0, 0}</string>
		<key>OE2600ButtonRightDiffB</key>
		<string>{0, 0}</string>
		<key>OE2600ButtonTVTypeColor</key>
		<string>{0, 0}</string>
		<key>OE2600ButtonTVTypeBlackAndWhite</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
