<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_pcfx</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_pcfx_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEPCFXButtonUp</key>
		<string>{98, 268}</string>
		<key>OEPCFXButtonDown</key>
		<string>{98, 206}</string>
		<key>OEPCFXButtonLeft</key>
		<string>{66, 238}</string>
		<key>OEPCFXButtonRight</key>
		<string>{130, 238}</string>
		<key>OEPCFXButtonRun</key>
		<string>{268, 194}</string>
		<key>OEPCFXButtonSelect</key>
		<string>{228, 194}</string>
		<key>OEPCFXButton1</key>
		<string>{450, 238}</string>
		<key>OEPCFXButton2</key>
		<string>{406, 226}</string>
		<key>OEPCFXButton3</key>
		<string>{368, 204}</string>
		<key>OEPCFXButton4</key>
		<string>{350, 250}</string>
		<key>OEPCFXButton5</key>
		<string>{390, 268}</string>
		<key>OEPCFXButton6</key>
		<string>{432, 280}</string>
	</dict>
</dict>
</plist>
