<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEPCFXSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCFXButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCFXButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCFXButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCFXButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Run</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCFXButtonRun</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCFXButtonSelect</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCFXButton1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCFXButton2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCFXButton3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>4</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCFXButton4</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>5</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCFXButton5</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>6</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCFXButton6</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEPCFXButtonUp</string>
				<string>OEPCFXButtonDown</string>
			</array>
			<array>
				<string>OEPCFXButtonLeft</string>
				<string>OEPCFXButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEPCFXButtonUp</string>
				<string>OEPCFXButtonRight</string>
				<string>OEPCFXButtonDown</string>
				<string>OEPCFXButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>cue</string>
		<string>ccd</string>
		<string>m3u</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEPCFXButtonUp</string>
		<string>OEPCFXButtonDown</string>
		<string>OEPCFXButtonLeft</string>
		<string>OEPCFXButtonRight</string>
		<string>OEPCFXButton1</string>
		<string>OEPCFXButton2</string>
		<string>OEPCFXButton3</string>
		<string>OEPCFXButton4</string>
		<string>OEPCFXButton5</string>
		<string>OEPCFXButton6</string>
		<string>OEPCFXButtonRun</string>
		<string>OEPCFXButtonSelect</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OEPCFXSystemResponder</string>
	<key>OESystemIcon</key>
	<string>pcfx_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.pcfx</string>
	<key>OESystemName</key>
	<string>PC-FX</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaOpticalDisc</string>
	</array>
</dict>
</plist>
