<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEOdyssey2SystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEOdyssey2ButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEOdyssey2ButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEOdyssey2ButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEOdyssey2ButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Action</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEOdyssey2ButtonAction</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEOdyssey2ButtonUp</string>
				<string>OEOdyssey2ButtonDown</string>
			</array>
			<array>
				<string>OEOdyssey2ButtonLeft</string>
				<string>OEOdyssey2ButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEOdyssey2ButtonUp</string>
				<string>OEOdyssey2ButtonRight</string>
				<string>OEOdyssey2ButtonDown</string>
				<string>OEOdyssey2ButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>bin</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEOdyssey2ButtonUp</string>
		<string>OEOdyssey2ButtonDown</string>
		<string>OEOdyssey2ButtonLeft</string>
		<string>OEOdyssey2ButtonRight</string>
		<string>OEOdyssey2ButtonAction</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OEOdyssey2SystemResponder</string>
	<key>OESystemIcon</key>
	<string>odyssey2_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.odyssey2</string>
	<key>OESystemName</key>
	<string>Odyssey²</string>
	<key>OERegionalizedSystemNames</key>
	<dict>
		<key>eu</key>
		<string>Videopac+</string>
	</dict>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
