<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
				<string>gb</string>
				<string>gbc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Gameboy Game</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>gameboy</string>
	<key>CFBundleIdentifier</key>
	<string>com.openemu.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.4.3.1</string>
	<key>NSPrincipalClass</key>
	<string>GBGameController</string>
	<key>ToolbarLabel</key>
	<string>Gameboy</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUFeedURL</key>
	<string>http://openemu.org/update/gambatte_appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<string>1</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.gb</string>
	<key>OEProjectURL</key>
	<string>http://findout.com</string>
</dict>
</plist>
