<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEPCECDSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCECDButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCECDButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCECDButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCECDButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Run</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCECDButtonRun</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCECDButtonSelect</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCECDButton1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCECDButton2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCECDButton3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>4</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCECDButton4</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>5</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCECDButton5</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>6</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCECDButton6</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>2/6 Mode</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPCECDButtonMode</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEPCECDButtonUp</string>
				<string>OEPCECDButtonDown</string>
			</array>
			<array>
				<string>OEPCECDButtonLeft</string>
				<string>OEPCECDButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEPCECDButtonUp</string>
				<string>OEPCECDButtonRight</string>
				<string>OEPCECDButtonDown</string>
				<string>OEPCECDButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>cue</string>
		<string>ccd</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEPCECDButtonUp</string>
		<string>OEPCECDButtonDown</string>
		<string>OEPCECDButtonLeft</string>
		<string>OEPCECDButtonRight</string>
		<string>OEPCECDButton1</string>
		<string>OEPCECDButton2</string>
		<string>OEPCECDButton3</string>
		<string>OEPCECDButton4</string>
		<string>OEPCECDButton5</string>
		<string>OEPCECDButton6</string>
		<string>OEPCECDButtonRun</string>
		<string>OEPCECDButtonSelect</string>
		<string>OEPCECDButtonMode</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>5</integer>
	<key>OEResponderClassKey</key>
	<string>OEPCECDSystemResponder</string>
	<key>OESystemCoverAspectRatio</key>
	<string>1</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.pcecd</string>
	<key>OESystemName</key>
	<string>TurboGrafx-CD</string>
	<key>OERegionalizedSystemNames</key>
	<dict>
		<key>jp</key>
		<string>PC Engine CD</string>
	</dict>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaOpticalDisc</string>
	</array>
</dict>
</plist>
