<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_jaguar</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_jaguar_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEJaguarButtonUp</key>
		<string>{0, 0}</string>
		<key>OEJaguarButtonDown</key>
		<string>{0, 0}</string>
		<key>OEJaguarButtonLeft</key>
		<string>{0, 0}</string>
		<key>OEJaguarButtonRight</key>
		<string>{0, 0}</string>
		<key>OEJaguarButtonA</key>
		<string>{0, 0}</string>
		<key>OEJaguarButtonB</key>
		<string>{0, 0}</string>
		<key>OEJaguarButtonC</key>
		<string>{0, 0}</string>
		<key>OEJaguarButtonPause</key>
		<string>{0, 0}</string>
		<key>OEJaguarButtonOption</key>
		<string>{0, 0}</string>
		<key>OEJaguarButton1</key>
		<string>{0, 0}</string>
		<key>OEJaguarButton2</key>
		<string>{0, 0}</string>
		<key>OEJaguarButton3</key>
		<string>{0, 0}</string>
		<key>OEJaguarButton4</key>
		<string>{0, 0}</string>
		<key>OEJaguarButton5</key>
		<string>{0, 0}</string>
		<key>OEJaguarButton6</key>
		<string>{0, 0}</string>
		<key>OEJaguarButton7</key>
		<string>{0, 0}</string>
		<key>OEJaguarButton8</key>
		<string>{0, 0}</string>
		<key>OEJaguarButton9</key>
		<string>{0, 0}</string>
		<key>OEJaguarButton0</key>
		<string>{0, 0}</string>
		<key>OEJaguarButtonAsterisk</key>
		<string>{0, 0}</string>
		<key>OEJaguarButtonPound</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
