<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OESystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Console Pause</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButtonPause</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Option</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButtonOption</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>C</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButtonC</string>
			</dict>
		</array>
		<array>
			<string>Keypad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButton1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButton2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButton3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>4</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButton4</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>5</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButton5</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>6</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButton6</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>7</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButton7</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>8</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButton8</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>9</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButton9</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>0</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButton0</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>*</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButtonAsterisk</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>#</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEJaguarButtonPound</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEJaguarButtonUp</string>
				<string>OEJaguarButtonDown</string>
			</array>
			<array>
				<string>OEJaguarButtonLeft</string>
				<string>OEJaguarButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEJaguarButtonUp</string>
				<string>OEJaguarButtonRight</string>
				<string>OEJaguarButtonDown</string>
				<string>OEJaguarButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>j64</string>
		<string>jag</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEJaguarButtonUp</string>
		<string>OEJaguarButtonDown</string>
		<string>OEJaguarButtonLeft</string>
		<string>OEJaguarButtonRight</string>
		<string>OEJaguarButtonA</string>
		<string>OEJaguarButtonB</string>
		<string>OEJaguarButtonC</string>
		<string>OEJaguarButtonPause</string>
		<string>OEJaguarButtonOption</string>
		<string>OEJaguarButton1</string>
		<string>OEJaguarButton2</string>
		<string>OEJaguarButton3</string>
		<string>OEJaguarButton4</string>
		<string>OEJaguarButton5</string>
		<string>OEJaguarButton6</string>
		<string>OEJaguarButton7</string>
		<string>OEJaguarButton8</string>
		<string>OEJaguarButton9</string>
		<string>OEJaguarButton0</string>
		<string>OEJaguarButtonAsterisk</string>
		<string>OEJaguarButtonPound</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OEJaguarSystemResponder</string>
	<key>OESystemIcon</key>
	<string>jaguar_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.jaguar</string>
	<key>OESystemName</key>
	<string>Atari Jaguar</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
