<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OESystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>X1 Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWSButtonX1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>X3 Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWSButtonX3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>X4 Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWSButtonX4</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>X2 Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWSButtonX2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Y1 Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWSButtonY1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Y3 Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWSButtonY3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Y4 Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWSButtonY4</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Y2 Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWSButtonY2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWSButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWSButtonB</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWSButtonStart</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Sound</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWSButtonSound</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEWSButtonX1</string>
				<string>OEWSButtonX3</string>
			</array>
			<array>
				<string>OEWSButtonX4</string>
				<string>OEWSButtonX2</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEWSButtonX1</string>
				<string>OEWSButtonX2</string>
				<string>OEWSButtonX3</string>
				<string>OEWSButtonX4</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>ws</string>
		<string>wsc</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEWSButtonX1</string>
		<string>OEWSButtonX3</string>
		<string>OEWSButtonX4</string>
		<string>OEWSButtonX2</string>
		<string>OEWSButtonY1</string>
		<string>OEWSButtonY3</string>
		<string>OEWSButtonY4</string>
		<string>OEWSButtonY2</string>
		<string>OEWSButtonA</string>
		<string>OEWSButtonB</string>
		<string>OEWSButtonStart</string>
		<string>OEWSButtonSound</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>1</integer>
	<key>OEResponderClassKey</key>
	<string>OEWSSystemResponder</string>
	<key>OESystemIcon</key>
	<string>wonderswan_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.ws</string>
	<key>OESystemName</key>
	<string>WonderSwan</string>
	<key>OESystemType</key>
	<string>OESystemTypeHandheld</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
