<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>Features</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>feat</string>
		<key>parameters</key>
		<array>
			<string>ntscsignal</string>
			<string>scanlinetoggle</string>
			<string>chromatoggle</string>
			<string>distortiontoggle</string>
			<string>phosphortoggle</string>
			<string>swapxy</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Screen Layout</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>screen</string>
		<key>parameters</key>
		<array>
			<string>screenscale_x</string>
			<string>screenscale_y</string>
			<string>screenoffset_x</string>
			<string>screenoffset_y</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Post Pass</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>post</string>
		<key>parameters</key>
		<array>
			<string>mask_offset_x</string>
			<string>mask_offset_y</string>
			<string>shadowtilemode</string>
			<string>power_r</string>
			<string>power_g</string>
			<string>power_b</string>
			<string>floor_r</string>
			<string>floor_g</string>
			<string>floor_b</string>
			<string>chromamode</string>
			<string>conversiongain_x</string>
			<string>conversiongain_y</string>
			<string>conversiongain_z</string>
			<string>humbaralpha</string>
			<string>humbar_hertz_rate</string>
			<string>shadowalpha</string>
			<string>shadowcount_x</string>
			<string>shadowcount_y</string>
			<string>shadowuv_x</string>
			<string>shadowuv_y</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>NTSC Pass</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>ntsc</string>
		<key>parameters</key>
		<array>
			<string>avalue</string>
			<string>bvalue</string>
			<string>ccvalue</string>
			<string>ovalue</string>
			<string>pvalue</string>
			<string>scantime</string>
			<string>notch_width</string>
			<string>yfreqresponse</string>
			<string>ifreqresponse</string>
			<string>qfreqresponse</string>
			<string>jitter_offset</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Color Pass</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>color</string>
		<key>parameters</key>
		<array>
			<string>col_rr</string>
			<string>col_rg</string>
			<string>col_rb</string>
			<string>col_gr</string>
			<string>col_gg</string>
			<string>col_gb</string>
			<string>col_br</string>
			<string>col_bg</string>
			<string>col_bb</string>
			<string>col_offset_x</string>
			<string>col_offset_y</string>
			<string>col_offset_z</string>
			<string>col_scale_x</string>
			<string>col_scale_y</string>
			<string>col_scale_z</string>
			<string>col_saturation</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Deconverge Pass</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>deconverge</string>
		<key>parameters</key>
		<array>
			<string>converge_x_r</string>
			<string>converge_x_g</string>
			<string>converge_x_b</string>
			<string>converge_y_r</string>
			<string>converge_y_g</string>
			<string>converge_y_b</string>
			<string>radial_conv_x_r</string>
			<string>radial_conv_x_g</string>
			<string>radial_conv_x_b</string>
			<string>radial_conv_y_r</string>
			<string>radial_conv_y_g</string>
			<string>radial_conv_y_b</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Scanline Pass</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>scanline</string>
		<key>parameters</key>
		<array>
			<string>scanline_crawl</string>
			<string>jitter</string>
			<string>scanlinealpha</string>
			<string>scanlinescale</string>
			<string>scanlineheight</string>
			<string>scanlinevariation</string>
			<string>scanlinebrightscale</string>
			<string>scanlinebrightoffset</string>
			<string>scanline_jitter_amount</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Defocus Pass</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>defocus</string>
		<key>parameters</key>
		<array>
			<string>defocus_x</string>
			<string>defocus_y</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Phosphor Pass</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>phosphor</string>
		<key>parameters</key>
		<array>
			<string>phosphor_r</string>
			<string>phosphor_g</string>
			<string>phosphor_b</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Chroma Pass</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>chroma</string>
		<key>parameters</key>
		<array>
			<string>ygain_r</string>
			<string>ygain_g</string>
			<string>ygain_b</string>
			<string>chromaa_x</string>
			<string>chromaa_y</string>
			<string>chromab_x</string>
			<string>chromab_y</string>
			<string>chromac_x</string>
			<string>chromac_y</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Distortion Pass</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>distortion</string>
		<key>parameters</key>
		<array>
			<string>distortion_amount</string>
			<string>cubic_distortion_amount</string>
			<string>distort_corner_amount</string>
			<string>round_corner_amount</string>
			<string>smooth_border_amount</string>
			<string>vignette_amount</string>
			<string>reflection_amount</string>
			<string>prescale</string>
			<string>noise_amt</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Other parameters</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>default</string>
		<key>parameters</key>
		<array/>
	</dict>
</array>
</plist>
