<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEIntellivisionSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Top Action</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButtonTopAction</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Bottom Left Action</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButtonBottomLeftAction</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Bottom Right Action</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButtonBottomRightAction</string>
			</dict>
		</array>
		<array>
			<string>Keypad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButton1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButton2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButton3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>4</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButton4</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>5</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButton5</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>6</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButton6</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>7</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButton7</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>8</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButton8</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>9</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButton9</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>0</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButton0</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Clear</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButtonClear</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Enter</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEIntellivisionButtonEnter</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEIntellivisionButtonUp</string>
				<string>OEIntellivisionButtonDown</string>
			</array>
			<array>
				<string>OEIntellivisionButtonLeft</string>
				<string>OEIntellivisionButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEIntellivisionButtonUp</string>
				<string>OEIntellivisionButtonRight</string>
				<string>OEIntellivisionButtonDown</string>
				<string>OEIntellivisionButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>intv</string>
		<string>int</string>
		<string>bin</string>
		<string>rom</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEIntellivisionButtonUp</string>
		<string>OEIntellivisionButtonDown</string>
		<string>OEIntellivisionButtonLeft</string>
		<string>OEIntellivisionButtonRight</string>
		<string>OEIntellivisionButtonTopAction</string>
		<string>OEIntellivisionButtonBottomLeftAction</string>
		<string>OEIntellivisionButtonBottomRightAction</string>
		<string>OEIntellivisionButton1</string>
		<string>OEIntellivisionButton2</string>
		<string>OEIntellivisionButton3</string>
		<string>OEIntellivisionButton4</string>
		<string>OEIntellivisionButton5</string>
		<string>OEIntellivisionButton6</string>
		<string>OEIntellivisionButton7</string>
		<string>OEIntellivisionButton8</string>
		<string>OEIntellivisionButton9</string>
		<string>OEIntellivisionButton0</string>
		<string>OEIntellivisionButtonClear</string>
		<string>OEIntellivisionButtonEnter</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OEIntellivisionSystemResponder</string>
	<key>OESystemIcon</key>
	<string>intellivision_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.intellivision</string>
	<key>OESystemName</key>
	<string>Intellivision</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
