// Resource script for Gens/GS Win32
#include "resource.h"
#include "afxres.h"
#include "winuser.h"

#ifdef HAVE_CONFIG_H
#include <config.h>
#endif /* HAVE_CONFIG_H */

// git version
#include "macros/git.h"

// Menu and Command ID definitions
#include "ui/common/gens/gens_menu.h"
#include "gens/gens_window_cmds.h"

// Icons
IDI_GENS_APP		ICON		"../../../../pixmaps/Gens2.ico"
IDI_GENS_MD		ICON		"../../../../pixmaps/gens.ico"
IDI_SONIC_HEAD		ICON		"../../../../pixmaps/sonic.ico"
IDI_SONIC_WAITING	ICON		"../../../../pixmaps/sonic2.ico"

IDI_ARROW_UP		ICON		"../../../../pixmaps/ARW07UP.ico"
IDI_ARROW_DOWN		ICON		"../../../../pixmaps/ARW07DN.ico"

// Bitmaps
IDB_GENS_LOGO_SMALL	BITMAP		"../../../../pixmaps/gens_small.bmp"
IDB_GENS_LOGO_BIG	BITMAP		"../../../../pixmaps/gens_big.bmp"

// Dialogs
IDD_ZIPSELECT		DIALOGEX	0, 0, 224, 148
STYLE			DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0
CAPTION "Archive File Selection"
BEGIN
	CTEXT		"This archive contains multiple files.\nSelect which file you want to load.", IDC_STATIC, 0, 4, 224, 24
	LISTBOX		IDC_ZIPSELECT_LSTFILES, 4, 24, 224-8, 104, WS_TABSTOP | WS_VSCROLL
	DEFPUSHBUTTON	"&OK", IDOK, (224-(65*2+8))/2, 24+104+2, 65, 13
	PUSHBUTTON	"&Cancel", IDCANCEL, ((224-(65*2+8))/2)+65+8, 24+104+2, 65, 13
END

// Accelerator Table for non-menu commands
IDR_GENS_WINDOW_ACCEL_NONMENU	ACCELERATORS	DISCARDABLE
BEGIN
	VK_ESCAPE,	IDCMD_ESC,			VIRTKEY, NOINVERT
	VK_PAUSE,	IDCMD_PAUSE,			VIRTKEY, NOINVERT
	VK_F2,		IDCMD_FRAMESKIP_AUTO,		VIRTKEY, NOINVERT
	VK_F2,		IDCMD_STRETCH_MODE,		VIRTKEY, SHIFT, NOINVERT
	VK_F3,		IDCMD_FRAMESKIP_DEC,		VIRTKEY, NOINVERT
	VK_F4,		IDCMD_FRAMESKIP_INC,		VIRTKEY, NOINVERT
	VK_F6,		IDCMD_SAVESLOT_DEC,		VIRTKEY, NOINVERT
	VK_F7,		IDCMD_SAVESLOT_INC,		VIRTKEY, NOINVERT
	VK_F9,		IDCMD_SWBLIT,			VIRTKEY, SHIFT, NOINVERT
	VK_F9,		IDCMD_FASTBLUR,			VIRTKEY, NOINVERT
	
	VK_F12,		IDCMD_YM2612_IMPROVED,		VIRTKEY, SHIFT, NOINVERT
	VK_F10,		IDCMD_DAC_IMPROVED,		VIRTKEY, SHIFT, NOINVERT
	VK_F11,		IDCMD_PSG_IMPROVED,		VIRTKEY, SHIFT, NOINVERT
	
	VK_F10,		IDCMD_FPS,			VIRTKEY, NOINVERT
	VK_F11,		IDCMD_RENDERMODE_DEC,		VIRTKEY, NOINVERT
	VK_F12,		IDCMD_RENDERMODE_INC,		VIRTKEY, NOINVERT
	
	"V",		IDCMD_CHANGE_CD,		VIRTKEY, CONTROL, NOINVERT
	
	"0",		IDCMD_SAVESLOT_NUMERIC_0,	VIRTKEY, NOINVERT
	"1",		IDCMD_SAVESLOT_NUMERIC_1,	VIRTKEY, NOINVERT
	"2",		IDCMD_SAVESLOT_NUMERIC_2,	VIRTKEY, NOINVERT
	"3",		IDCMD_SAVESLOT_NUMERIC_3,	VIRTKEY, NOINVERT
	"4",		IDCMD_SAVESLOT_NUMERIC_4,	VIRTKEY, NOINVERT
	"5",		IDCMD_SAVESLOT_NUMERIC_5,	VIRTKEY, NOINVERT
	"6",		IDCMD_SAVESLOT_NUMERIC_6,	VIRTKEY, NOINVERT
	"7",		IDCMD_SAVESLOT_NUMERIC_7,	VIRTKEY, NOINVERT
	"8",		IDCMD_SAVESLOT_NUMERIC_8,	VIRTKEY, NOINVERT
	"9",		IDCMD_SAVESLOT_NUMERIC_9,	VIRTKEY, NOINVERT
	
	"1",		IDCMD_ROMHISTORY_NUMERIC_1,	VIRTKEY, CONTROL, NOINVERT
	"2",		IDCMD_ROMHISTORY_NUMERIC_2,	VIRTKEY, CONTROL, NOINVERT
	"3",		IDCMD_ROMHISTORY_NUMERIC_3,	VIRTKEY, CONTROL, NOINVERT
	"4",		IDCMD_ROMHISTORY_NUMERIC_4,	VIRTKEY, CONTROL, NOINVERT
	"5",		IDCMD_ROMHISTORY_NUMERIC_5,	VIRTKEY, CONTROL, NOINVERT
	"6",		IDCMD_ROMHISTORY_NUMERIC_6,	VIRTKEY, CONTROL, NOINVERT
	"7",		IDCMD_ROMHISTORY_NUMERIC_7,	VIRTKEY, CONTROL, NOINVERT
	"8",		IDCMD_ROMHISTORY_NUMERIC_8,	VIRTKEY, CONTROL, NOINVERT
	"9",		IDCMD_ROMHISTORY_NUMERIC_9,	VIRTKEY, CONTROL, NOINVERT
END

// Manifest
APP_MANIFEST		RT_MANIFEST	"gens.exe.manifest"

#ifdef GENS_GIT_VERSION
#define Win32_RC_FileVersion VERSION "\r\n" GENS_GIT_VERSION "\0"
#else /* !GENS_GIT_VERSION */
#define Win32_RC_FileVersion VERSION "\0"
#endif /* GENS_GIT_VERSION */

// Application Version
VS_VERSION_INFO VERSIONINFO
	FILEVERSION 6,0,0,0
	PRODUCTVERSION 6,0,0,0
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS 0x1L
#else
	FILEFLAGS 0x0L
#endif
	FILEOS 0x40004L
	FILETYPE 0x1L
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			//VALUE "Comments", "\0"
			//VALUE "CompanyName", "\0"
			VALUE "FileDescription", "Gens/GS " VERSION
			VALUE "FileVersion", Win32_RC_FileVersion
			VALUE "InternalName", "Gens/GS\0"
			//VALUE "LegalCopyright", "\0"
			//VALUE "LegalTrademarks", "\0"
			//VALUE "OriginalFilename", "\0"
			//VALUE "PrivateBuild", "\0"
			VALUE "ProductName", "Gens/GS\0"
			VALUE "ProductVersion", VERSION
			//VALUE "SpecialBuild", "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END
