<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fonts</key>
	<dict>
		<key>about_github_link</key>
		<dict>
			<key>Family</key>
			<string>$SYSTEM_FONT_FAMILY</string>
			<key>Shadow</key>
			<dict>
				<key>Blur Radius</key>
				<integer>1</integer>
				<key>Color</key>
				<string>rgba(0,0,0,0.4)</string>
				<key>Offset</key>
				<string>{0,-1}</string>
			</dict>
			<key>Size</key>
			<integer>11</integer>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Color</key>
					<string>#526ba0</string>
				</dict>
				<key>Mouse Over</key>
				<dict>
					<key>Color</key>
					<string>#9c2a32</string>
				</dict>
				<key>Mouse Over, Pressed</key>
				<dict>
					<key>Color</key>
					<string>#9c2a32</string>
				</dict>
			</dict>
		</dict>
		<key>about_website_link</key>
		<dict>
			<key>Family</key>
			<string>$SYSTEM_FONT_FAMILY</string>
			<key>Shadow</key>
			<dict>
				<key>Blur Radius</key>
				<integer>1</integer>
				<key>Color</key>
				<string>#000000</string>
				<key>Offset</key>
				<string>{0,-1}</string>
			</dict>
			<key>Size</key>
			<integer>12</integer>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Color</key>
					<string>#526ba0</string>
				</dict>
				<key>Mouse Over</key>
				<dict>
					<key>Color</key>
					<string>#9c2a32</string>
				</dict>
				<key>Mouse Over, Pressed</key>
				<dict>
					<key>Color</key>
					<string>#9c2a32</string>
				</dict>
			</dict>
			<key>Traits</key>
			<string>Bold</string>
		</dict>
		<key>game_scanner_fix_issues</key>
		<dict>
			<key>Family</key>
			<string>$SYSTEM_FONT_FAMILY</string>
			<key>Size</key>
			<integer>11</integer>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Color</key>
					<string>rgba(156,156,156,1.0)</string>
				</dict>
				<key>Mouse Over</key>
				<dict>
					<key>Color</key>
					<string>white</string>
					<key>Shadow</key>
					<dict>
						<key>Blur Radius</key>
						<integer>1</integer>
						<key>Color</key>
						<string>black</string>
						<key>Offset</key>
						<string>{0,-1}</string>
					</dict>
				</dict>
				<key>Mouse Over, Pressed</key>
				<dict>
					<key>Color</key>
					<string>white</string>
					<key>Shadow</key>
					<dict>
						<key>Blur Radius</key>
						<integer>5</integer>
						<key>Color</key>
						<string>black</string>
						<key>Offset</key>
						<string>{0,-1}</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>gloss_button</key>
		<dict>
			<key>Alignment</key>
			<string>Center</string>
			<key>Family</key>
			<string>$SYSTEM_FONT_FAMILY</string>
			<key>Shadow</key>
			<dict>
				<key>Blur Radius</key>
				<integer>1</integer>
			</dict>
			<key>Size</key>
			<integer>11</integer>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Color</key>
					<string>rgba(232,232,232,1.0)</string>
					<key>Shadow</key>
					<dict>
						<key>Color</key>
						<string>black</string>
						<key>Offset</key>
						<string>{0, 1}</string>
					</dict>
				</dict>
				<key>Disabled</key>
				<dict>
					<key>Color</key>
					<string>gray</string>
					<key>Shadow</key>
					<dict>
						<key>Color</key>
						<string>black</string>
						<key>Offset</key>
						<string>{0, 1}</string>
					</dict>
				</dict>
				<key>Pressed</key>
				<dict>
					<key>Color</key>
					<string>rgba(7,7,7,1.0)</string>
					<key>Shadow</key>
					<dict>
						<key>Color</key>
						<string>rgba(255,255,255,0.4)</string>
						<key>Offset</key>
						<string>{0, -1}</string>
					</dict>
				</dict>
			</dict>
			<key>Traits</key>
			<string>Bold</string>
			<key>Weight</key>
			<real>3</real>
		</dict>
		<key>gloss_button_blue</key>
		<dict>
			<key>Alignment</key>
			<string>Center</string>
			<key>Family</key>
			<string>$SYSTEM_FONT_FAMILY</string>
			<key>Shadow</key>
			<dict>
				<key>Blur Radius</key>
				<integer>1</integer>
			</dict>
			<key>Size</key>
			<integer>11</integer>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Color</key>
					<string>rgba(232,232,232,1.0)</string>
					<key>Shadow</key>
					<dict>
						<key>Color</key>
						<string>black</string>
						<key>Offset</key>
						<string>{0, 1}</string>
					</dict>
				</dict>
				<key>Disabled</key>
				<dict>
					<key>Color</key>
					<string>gray</string>
					<key>Shadow</key>
					<dict>
						<key>Color</key>
						<string>black</string>
						<key>Offset</key>
						<string>{0, 1}</string>
					</dict>
				</dict>
				<key>Pressed</key>
				<dict>
					<key>Color</key>
					<string>rgba(7,7,7,1.0)</string>
					<key>Shadow</key>
					<dict>
						<key>Color</key>
						<string>rgba(255,255,255,0.4)</string>
						<key>Offset</key>
						<string>{0, -1}</string>
					</dict>
				</dict>
			</dict>
			<key>Traits</key>
			<string>Bold</string>
			<key>Weight</key>
			<real>3</real>
		</dict>
		<key>gloss_button_green</key>
		<dict>
			<key>Alignment</key>
			<string>Center</string>
			<key>Family</key>
			<string>$SYSTEM_FONT_FAMILY</string>
			<key>Shadow</key>
			<dict>
				<key>Blur Radius</key>
				<integer>1</integer>
			</dict>
			<key>Size</key>
			<integer>11</integer>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Color</key>
					<string>rgba(232,232,232,1.0)</string>
					<key>Shadow</key>
					<dict>
						<key>Color</key>
						<string>black</string>
						<key>Offset</key>
						<string>{0, 1}</string>
					</dict>
				</dict>
				<key>Pressed</key>
				<dict>
					<key>Color</key>
					<string>rgba(7,7,7,1.0)</string>
					<key>Shadow</key>
					<dict>
						<key>Color</key>
						<string>rgba(255,255,255,0.4)</string>
						<key>Offset</key>
						<string>{0, -1}</string>
					</dict>
				</dict>
			</dict>
			<key>Traits</key>
			<string>Bold</string>
			<key>Weight</key>
			<real>3</real>
		</dict>
		<key>open_weblink</key>
		<dict>
			<key>Family</key>
			<string>$SYSTEM_FONT_FAMILY</string>
			<key>Size</key>
			<integer>12</integer>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Color</key>
					<string>rgb(204,204,204)</string>
				</dict>
				<key>Mouse Over</key>
				<dict>
					<key>Color</key>
					<string>white</string>
				</dict>
				<key>Mouse Over, Pressed</key>
				<dict>
					<key>Color</key>
					<string>white</string>
				</dict>
			</dict>
		</dict>
		<key>homebrew_developer</key>
		<dict>
			<key>Family</key>
			<string>$SYSTEM_FONT_FAMILY</string>
			<key>Size</key>
			<integer>14</integer>
			<key>Weight</key>
			<string>0.2</string>
			<key>Shadow</key>
			<dict>
				<key>Blur Radius</key>
				<integer>0</integer>
				<key>Color</key>
				<string>rgba(0,0,0,1)</string>
				<key>Offset</key>
				<string>{0,-1}</string>
			</dict>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Color</key>
					<string>#929DA5</string>
				</dict>
				<key>Window Active, Mouse Over</key>
				<dict>
					<key>Color</key>
					<string>#9c2a32</string>
				</dict>
				<key>Window Active, Mouse Over, Pressed</key>
				<dict>
					<key>Color</key>
					<string>#9c2a32</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Images</key>
	<dict>
		<key>game_scanner_fix_issues</key>
		<dict>
			<key>Resource</key>
			<string>open_weblink_arrow</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<string>{{0,0},{20,20}}</string>
				<key>Mouse Over</key>
				<string>{{0,20},{20,20}}</string>
				<key>Mouse Over, Pressed</key>
				<string>{{0,40},{20,20}}</string>
			</dict>
		</dict>
		<key>gloss_button_background</key>
		<dict>
			<key>Resource</key>
			<string>gloss_button</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,0},{5,23}}</string>
						<string>{{5,0},{41,23}}</string>
						<string>{{46,0},{5,23}}</string>
					</array>
				</dict>
				<key>Pressed</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,23},{5,23}}</string>
						<string>{{5,23},{41,23}}</string>
						<string>{{46,23},{5,23}}</string>
					</array>
				</dict>
				<key>Window Inactive</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,45},{5,23}}</string>
						<string>{{5,45},{41,23}}</string>
						<string>{{46,45},{5,23}}</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>gloss_button_blue_background</key>
		<dict>
			<key>Resource</key>
			<string>gloss_button</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,69},{5,23}}</string>
						<string>{{5,69},{41,23}}</string>
						<string>{{46,69},{5,23}}</string>
					</array>
				</dict>
				<key>Disabled</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,0},{5,23}}</string>
						<string>{{5,0},{41,23}}</string>
						<string>{{46,0},{5,23}}</string>
					</array>
				</dict>
				<key>Disabled, Window Inactive</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,46},{5,23}}</string>
						<string>{{5,46},{41,23}}</string>
						<string>{{46,46},{5,23}}</string>
					</array>
				</dict>
				<key>Pressed</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,23},{5,23}}</string>
						<string>{{5,23},{41,23}}</string>
						<string>{{46,23},{5,23}}</string>
					</array>
				</dict>
				<key>Window Inactive</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,92},{5,23}}</string>
						<string>{{5,92},{41,23}}</string>
						<string>{{46,92},{5,23}}</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>gloss_button_green_background</key>
		<dict>
			<key>Resource</key>
			<string>gloss_button</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,115},{5,23}}</string>
						<string>{{5,115},{41,23}}</string>
						<string>{{46,115},{5,23}}</string>
					</array>
				</dict>
				<key>Pressed</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,23},{5,23}}</string>
						<string>{{5,23},{41,23}}</string>
						<string>{{46,23},{5,23}}</string>
					</array>
				</dict>
				<key>Window Inactive</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,138},{5,23}}</string>
						<string>{{5,138},{41,23}}</string>
						<string>{{46,138},{5,23}}</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>hud_button_fullscreen</key>
		<dict>
			<key>Resource</key>
			<string>hud_fullscreen_glyph</string>
			<key>States</key>
			<dict>
				<key>Toggle Off</key>
				<string>{{0,0},{15,17}}</string>
				<key>Toggle Off, Pressed</key>
				<string>{{15,0},{15,17}}</string>
				<key>Toggle On</key>
				<string>{{0,17},{15,17}}</string>
				<key>Toggle On, Pressed</key>
				<string>{{15,17},{15,17}}</string>
			</dict>
		</dict>
		<key>hud_button_fullscreen_background</key>
		<dict>
			<key>Resource</key>
			<string>hud_button</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,0},{5,23}}</string>
						<string>{{5,0},{41,23}}</string>
						<string>{{46,0},{5,23}}</string>
					</array>
				</dict>
				<key>Pressed</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,23},{5,23}}</string>
						<string>{{5,23},{41,23}}</string>
						<string>{{46,23},{5,23}}</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>hud_button_options</key>
		<dict>
			<key>Resource</key>
			<string>hud_glyphs</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<string>{{0,128},{32,32}}</string>
				<key>Mouse Over</key>
				<string>{{32,128},{32,32}}</string>
				<key>Mouse Over, Pressed</key>
				<string>{{64,128},{32,32}}</string>
			</dict>
		</dict>
		<key>hud_button_power</key>
		<dict>
			<key>Resource</key>
			<string>hud_power_glyph</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<string>{{16,0},{16,20}}</string>
				<key>Pressed</key>
				<string>{{0,0},{16,20}}</string>
			</dict>
		</dict>
		<key>hud_button_power_background</key>
		<dict>
			<key>Resource</key>
			<string>hud_button</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,69},{5,23}}</string>
						<string>{{5,69},{41,23}}</string>
						<string>{{46,69},{5,23}}</string>
					</array>
				</dict>
				<key>Pressed</key>
				<dict>
					<key>Parts</key>
					<array>
						<string>{{0,23},{5,23}}</string>
						<string>{{5,23},{41,23}}</string>
						<string>{{46,23},{5,23}}</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>hud_button_restart</key>
		<dict>
			<key>Resource</key>
			<string>hud_glyphs</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<string>{{0,64},{32,32}}</string>
				<key>Mouse Over</key>
				<string>{{32,64},{32,32}}</string>
				<key>Mouse Over, Pressed</key>
				<string>{{64,64},{32,32}}</string>
			</dict>
		</dict>
		<key>hud_button_save</key>
		<dict>
			<key>Resource</key>
			<string>hud_glyphs</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<string>{{0,96},{32,32}}</string>
				<key>Mouse Over</key>
				<string>{{32,96},{32,32}}</string>
				<key>Mouse Over, Pressed</key>
				<string>{{64,96},{32,32}}</string>
			</dict>
		</dict>
		<key>hud_button_toggle_pause</key>
		<dict>
			<key>Resource</key>
			<string>hud_glyphs</string>
			<key>States</key>
			<dict>
				<key>Toggle Off</key>
				<string>{{0,0},{32,32}}</string>
				<key>Toggle Off, Mouse Over</key>
				<string>{{32,0},{32,32}}</string>
				<key>Toggle Off, Mouse Over, Pressed</key>
				<string>{{64,0},{32,32}}</string>
				<key>Toggle On</key>
				<string>{{0,32},{32,32}}</string>
				<key>Toggle On, Mouse Over</key>
				<string>{{32,32},{32,32}}</string>
				<key>Toggle On, Mouse Over, Pressed</key>
				<string>{{64,32},{32,32}}</string>
			</dict>
		</dict>
		<key>hud_button_volume_down</key>
		<dict>
			<key>Resource</key>
			<string>hud_volume</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<string>{{0,0},{13, 18}}</string>
			</dict>
		</dict>
		<key>hud_button_volume_up</key>
		<dict>
			<key>Resource</key>
			<string>hud_volume</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<string>{{13,0},{16, 18}}</string>
			</dict>
		</dict>
		<key>open_weblink</key>
		<dict>
			<key>Resource</key>
			<string>open_weblink_arrow</string>
			<key>States</key>
			<dict>
				<key>Default</key>
				<string>{{0,0},{20,20}}</string>
				<key>Mouse Over</key>
				<string>{{0,20},{20,20}}</string>
				<key>Mouse Over, Pressed</key>
				<string>{{0,40},{20,20}}</string>
			</dict>
		</dict>
	</dict>
	<key>Name</key>
	<string>Default</string>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
