<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_ps2</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_ps2_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEPSXButtonUp</key>
		<string>{119, 275}</string>
		<key>OEPSXButtonDown</key>
		<string>{119, 233}</string>
		<key>OEPSXButtonTriangle</key>
		<string>{380, 286}</string>
		<key>OEPSXButtonLeft</key>
		<string>{96, 254}</string>
		<key>OEPSXButtonRight</key>
		<string>{142, 254}</string>
		<key>OEPSXButtonStart</key>
		<string>{288, 253}</string>
		<key>OEPSXButtonSelect</key>
		<string>{210, 253}</string>
		<key>OEPSXButtonCircle</key>
		<string>{414, 254}</string>
		<key>OEPSXButtonL1</key>
		<string>{122, 345}</string>
		<key>OEPSXButtonL2</key>
		<string>{122, 329}</string>
		<key>OEPSXButtonL3</key>
		<string>{185, 192}</string>
		<key>OEPSXButtonCross</key>
		<string>{380, 222}</string>
		<key>OEPSXButtonSquare</key>
		<string>{346, 254}</string>
		<key>OEPSXButtonR1</key>
		<string>{377, 345}</string>
		<key>OEPSXButtonR2</key>
		<string>{377, 329}</string>
		<key>OEPSXButtonR3</key>
		<string>{315, 192}</string>
		<key>OEPSXButtonAnalogMode</key>
		<string>{250, 215}</string>
		<key>OEPSXLeftAnalogUp</key>
		<string>{184, 188}</string>
		<key>OEPSXLeftAnalogDown</key>
		<string>{184, 188}</string>
		<key>OEPSXLeftAnalogLeft</key>
		<string>{184, 188}</string>
		<key>OEPSXLeftAnalogRight</key>
		<string>{184, 188}</string>
		<key>OEPSXRightAnalogUp</key>
		<string>{315, 188}</string>
		<key>OEPSXRightAnalogDown</key>
		<string>{315, 188}</string>
		<key>OEPSXRightAnalogLeft</key>
		<string>{315, 188}</string>
		<key>OEPSXRightAnalogRight</key>
		<string>{315, 188}</string>
	</dict>
</dict>
</plist>
