<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEPS2ButtonUp</key>
	<integer>82</integer>
	<key>OEPS2ButtonDown</key>
	<integer>81</integer>
	<key>OEPS2ButtonLeft</key>
	<integer>80</integer>
	<key>OEPS2ButtonRight</key>
	<integer>79</integer>
	<key>OEPS2ButtonTriangle</key>
	<integer>27</integer>
	<key>OEPS2ButtonCircle</key>
	<integer>29</integer>
	<key>OEPS2ButtonCross</key>
	<integer>22</integer>
	<key>OEPS2ButtonSquare</key>
	<integer>4</integer>
	<key>OEPS2ButtonL1</key>
	<integer>20</integer>
	<key>OEPS2ButtonL2</key>
	<integer>26</integer>
	<key>OEPS2ButtonL3</key>
	<integer>8</integer>
	<key>OEPS2ButtonR1</key>
	<integer>7</integer>
	<key>OEPS2ButtonR2</key>
	<integer>9</integer>
	<key>OEPS2ButtonR3</key>
	<integer>10</integer>
	<key>OEPS2ButtonStart</key>
	<integer>40</integer>
	<key>OEPS2ButtonSelect</key>
	<integer>229</integer>
	<key>OEPS2ButtonAnalogMode</key>
	<integer>49</integer>
</dict>
</plist>
