<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEPS2SystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<string>D-Pad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonRight</string>
			</dict>
		</array>
		<array>
			<string>Left Analog</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2LeftAnalogUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2LeftAnalogDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2LeftAnalogLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2LeftAnalogRight</string>
			</dict>
		</array>
		<array>
			<string>Right Analog</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2RightAnalogUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2RightAnalogDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2RightAnalogLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2RightAnalogRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Analog Mode</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonAnalogMode</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>△</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonTriangle</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>◯</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonCircle</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>✕</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonCross</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>▢</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonSquare</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonL1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonL2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonR1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonR2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonL3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonR3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonStart</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPS2ButtonSelect</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAnalogControlsKey</key>
		<array>
			<string>OEPS2LeftAnalogUp</string>
			<string>OEPS2LeftAnalogDown</string>
			<string>OEPS2LeftAnalogLeft</string>
			<string>OEPS2LeftAnalogRight</string>
			<string>OEPS2RightAnalogUp</string>
			<string>OEPS2RightAnalogDown</string>
			<string>OEPS2RightAnalogLeft</string>
			<string>OEPS2RightAnalogRight</string>
		</array>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEPS2ButtonUp</string>
				<string>OEPS2ButtonDown</string>
			</array>
			<array>
				<string>OEPS2ButtonLeft</string>
				<string>OEPS2ButtonRight</string>
			</array>
			<array>
				<string>OEPS2LeftAnalogUp</string>
				<string>OEPS2LeftAnalogDown</string>
			</array>
			<array>
				<string>OEPS2LeftAnalogLeft</string>
				<string>OEPS2LeftAnalogRight</string>
			</array>
			<array>
				<string>OEPS2RightAnalogUp</string>
				<string>OEPS2RightAnalogDown</string>
			</array>
			<array>
				<string>OEPS2RightAnalogLeft</string>
				<string>OEPS2RightAnalogRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEPS2ButtonUp</string>
				<string>OEPS2ButtonRight</string>
				<string>OEPS2ButtonDown</string>
				<string>OEPS2ButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>iso</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEPS2ButtonUp</string>
		<string>OEPS2ButtonDown</string>
		<string>OEPS2ButtonLeft</string>
		<string>OEPS2ButtonRight</string>
		<string>OEPS2ButtonTriangle</string>
		<string>OEPS2ButtonCircle</string>
		<string>OEPS2ButtonCross</string>
		<string>OEPS2ButtonSquare</string>
		<string>OEPS2ButtonL1</string>
		<string>OEPS2ButtonL2</string>
		<string>OEPS2ButtonL3</string>
		<string>OEPS2ButtonR1</string>
		<string>OEPS2ButtonR2</string>
		<string>OEPS2ButtonR3</string>
		<string>OEPS2ButtonStart</string>
		<string>OEPS2ButtonSelect</string>
		<string>OEPS2ButtonAnalogMode</string>
		<string>OEPS2LeftAnalogUp</string>
		<string>OEPS2LeftAnalogDown</string>
		<string>OEPS2LeftAnalogLeft</string>
		<string>OEPS2LeftAnalogRight</string>
		<string>OEPS2RightAnalogUp</string>
		<string>OEPS2RightAnalogDown</string>
		<string>OEPS2RightAnalogLeft</string>
		<string>OEPS2RightAnalogRight</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>8</integer>
	<key>OEResponderClassKey</key>
	<string>OEPS2SystemResponder</string>
	<key>OESystemCoverAspectRatio</key>
	<string>1.41</string>
	<key>OESystemIcon</key>
	<string>ps2_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.ps2</string>
	<key>OESystemName</key>
	<string>Sony PlayStation 2</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaOpticalDisc</string>
	</array>
</dict>
</plist>
