<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEArcadeButtonUp</key>
	<integer>82</integer>
	<key>OEArcadeButtonDown</key>
	<integer>81</integer>
	<key>OEArcadeButtonLeft</key>
	<integer>80</integer>
	<key>OEArcadeButtonRight</key>
	<integer>79</integer>
	<key>OEArcadeButton1</key>
	<integer>20</integer>
	<key>OEArcadeButton2</key>
	<integer>26</integer>
	<key>OEArcadeButton3</key>
	<integer>8</integer>
	<key>OEArcadeButton4</key>
	<integer>4</integer>
	<key>OEArcadeButton5</key>
	<integer>22</integer>
	<key>OEArcadeButton6</key>
	<integer>7</integer>
	<key>OEArcadeButtonP1Start</key>
	<integer>30</integer>
	<key>OEArcadeButtonInsertCoin</key>
	<integer>34</integer>
	<key>OEArcadeButtonService</key>
	<integer>59</integer>
	<key>OEArcadeUIConfigure</key>
	<integer>43</integer>
</dict>
</plist>
