<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OESMSButtonUp</key>
		<string>OEControllerMicrosoftXbox360DPadUp</string>
		<key>OESMSButtonDown</key>
		<string>OEControllerMicrosoftXbox360DPadDown</string>
		<key>OESMSButtonLeft</key>
		<string>OEControllerMicrosoftXbox360DPadLeft</string>
		<key>OESMSButtonRight</key>
		<string>OEControllerMicrosoftXbox360DPadRight</string>
		<key>OESMSButtonA</key>
		<string>OEControllerMicrosoftXbox360ButtonX</string>
		<key>OESMSButtonB</key>
		<string>OEControllerMicrosoftXbox360ButtonA</string>
		<key>OESMSButtonStart</key>
		<string>OEControllerMicrosoftXbox360ButtonStart</string>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OESMSButtonUp</key>
		<string>OEControllerSonyPS3SixaxisDPadUp</string>
		<key>OESMSButtonDown</key>
		<string>OEControllerSonyPS3SixaxisDPadDown</string>
		<key>OESMSButtonLeft</key>
		<string>OEControllerSonyPS3SixaxisDPadLeft</string>
		<key>OESMSButtonRight</key>
		<string>OEControllerSonyPS3SixaxisDPadRight</string>
		<key>OESMSButtonA</key>
		<string>OEControllerSonyPS3SixaxisButtonSquare</string>
		<key>OESMSButtonB</key>
		<string>OEControllerSonyPS3SixaxisButtonCross</string>
		<key>OESMSButtonStart</key>
		<string>OEControllerSonyPS3SixaxisButtonStart</string>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OESMSButtonUp</key>
		<string>OEControllerLogitechDualActionDPadUp</string>
		<key>OESMSButtonA</key>
		<string>OEControllerLogitechDualActionButton1</string>
		<key>OESMSButtonB</key>
		<string>OEControllerLogitechDualActionButton2</string>
		<key>OESMSButtonStart</key>
		<string>OEControllerLogitechDualActionButtonStart</string>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OESMSButtonUp</key>
		<string>OEControllerSegaSaturnDPadUp</string>
		<key>OESMSButtonLeft</key>
		<string>OEControllerSegaSaturnDPadLeft</string>
		<key>OESMSButtonA</key>
		<string>OEControllerSegaSaturnButtonZ</string>
		<key>OESMSButtonB</key>
		<string>OEControllerSegaSaturnButtonC</string>
		<key>OESMSButtonStart</key>
		<string>OEControllerSegaSaturnButtonStart</string>
	</dict>
	<key>OEControllerGravisGamePadPro</key>
	<dict>
		<key>OESMSButtonUp</key>
		<dict>
			<key>Type</key>
			<string>Axis</string>
			<key>Axis</key>
			<string>Y</string>
			<key>Direction</key>
			<string>-1</string>
		</dict>
		<key>OESMSButtonLeft</key>
		<dict>
			<key>Type</key>
			<string>Axis</string>
			<key>Axis</key>
			<string>X</string>
			<key>Direction</key>
			<string>-1</string>
		</dict>
		<key>OESMSButtonA</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>1</integer>
		</dict>
		<key>OESMSButtonB</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>2</integer>
		</dict>
		<key>OESMSButtonStart</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>OEControllerRetroUSBSNES</key>
	<dict>
		<key>OESMSButtonUp</key>
		<dict>
			<key>Type</key>
			<string>Axis</string>
			<key>Axis</key>
			<string>Y</string>
			<key>Direction</key>
			<string>-1</string>
		</dict>
		<key>OESMSButtonLeft</key>
		<dict>
			<key>Type</key>
			<string>Axis</string>
			<key>Axis</key>
			<string>X</string>
			<key>Direction</key>
			<string>-1</string>
		</dict>
		<key>OESMSButtonA</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>2</integer>
			<key>Cookie</key>
			<integer>4</integer>
		</dict>
		<key>OESMSButtonB</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>2</integer>
			<key>Cookie</key>
			<integer>8</integer>
		</dict>
		<key>OESMSButtonStart</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>4</integer>
			<key>Cookie</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>OEControllerPS3NeoGeoPad</key>
	<dict>
		<key>OESMSButtonUp</key>
		<string>OEControllerPS3NeoGeoPadDPadUp</string>
		<key>OESMSButtonA</key>
		<string>OEControllerPS3NeoGeoPadButtonSquare</string>
		<key>OESMSButtonB</key>
		<string>OEControllerPS3NeoGeoPadButtonCross</string>
		<key>OESMSButtonStart</key>
		<string>OEControllerPS3NeoGeoPadButtonStart</string>
	</dict>
	<key>OEControllerRetrode</key>
	<dict>
		<key>OESMSButtonUp</key>
		<dict>
			<key>Type</key>
			<string>Axis</string>
			<key>Axis</key>
			<string>Y</string>
			<key>Direction</key>
			<string>-1</string>
			<key>Cookie</key>
			<integer>74</integer>
		</dict>
		<key>OESMSButtonLeft</key>
		<dict>
			<key>Type</key>
			<string>Axis</string>
			<key>Axis</key>
			<string>X</string>
			<key>Direction</key>
			<string>-1</string>
			<key>Cookie</key>
			<integer>73</integer>
		</dict>
		<key>OESMSButtonA</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>2</integer>
			<key>Cookie</key>
			<integer>10</integer>
		</dict>
		<key>OESMSButtonB</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>1</integer>
			<key>Cookie</key>
			<integer>9</integer>
		</dict>
		<key>OESMSButtonStart</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>4</integer>
			<key>Cookie</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>OEControllerRetrolinkSNES</key>
	<dict>
		<key>OESMSButtonUp</key>
		<dict>
			<key>Type</key>
			<string>Axis</string>
			<key>Axis</key>
			<string>Y</string>
			<key>Direction</key>
			<string>-1</string>
		</dict>
		<key>OESMSButtonLeft</key>
		<dict>
			<key>Type</key>
			<string>Axis</string>
			<key>Axis</key>
			<string>X</string>
			<key>Direction</key>
			<string>-1</string>
		</dict>
		<key>OESMSButtonA</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>4</integer>
		</dict>
		<key>OESMSButtonB</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>3</integer>
		</dict>
		<key>OESMSButtonStart</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
