<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OESystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC64JoystickUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC64JoystickDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC64JoystickLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC64JoystickRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Fire</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC64ButtonFire</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Jump</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC64ButtonJump</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Swap Joysticks</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC64SwapJoysticks</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEC64JoystickUp</string>
				<string>OEC64JoystickDown</string>
			</array>
			<array>
				<string>OEC64JoystickLeft</string>
				<string>OEC64JoystickRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEC64JoystickUp</string>
				<string>OEC64JoystickRight</string>
				<string>OEC64JoystickDown</string>
				<string>OEC64JoystickLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>crt</string>
		<string>d64</string>
		<string>d71</string>
		<string>d81</string>
		<string>g64</string>
		<string>p00</string>
		<string>p64</string>
		<string>prg</string>
		<string>t64</string>
		<string>tap</string>
		<string>x64</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEC64JoystickUp</string>
		<string>OEC64JoystickDown</string>
		<string>OEC64JoystickLeft</string>
		<string>OEC64JoystickRight</string>
		<string>OEC64ButtonFire</string>
		<string>OEC64ButtonJump</string>
		<string>OEC64SwapJoysticks</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OEC64SystemResponder</string>
	<key>OESystemIcon</key>
	<string>c64_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.c64</string>
	<key>OESystemName</key>
	<string>Commodore 64</string>
	<key>OESystemType</key>
	<string>OESystemTypeComputer</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
		<string>OESystemMediaCassetteTape</string>
		<string>OESystemMediaFloppyDisk</string>
	</array>
</dict>
</plist>
