<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OEControllerName</key>
		<string>PS3 Sixaxis</string>
		<key>OEGenericControllerName</key>
		<string>OEControllerSonyPS3Sixaxis</string>
		<key>OEControllerDevices</key>
		<array>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>Sony PS3 Sixaxis Wireless</string>
				<key>OEControllerVendorID</key>
				<integer>1356</integer>
				<key>OEControllerProductID</key>
				<integer>616</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>OEControllerName</key>
		<string>Xbox 360</string>
		<key>OEGenericControllerName</key>
		<string>OEControllerMicrosoftXbox360</string>
		<key>OEControllerDevices</key>
		<array>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>Microsoft Official Wired</string>
				<key>OEControllerVendorID</key>
				<integer>1118</integer>
				<key>OEControllerProductID</key>
				<integer>654</integer>
			</dict>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>Microsoft Official Wireless</string>
				<key>OEControllerVendorID</key>
				<integer>1118</integer>
				<key>OEControllerProductID</key>
				<integer>655</integer>
			</dict>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>JoyTek 360</string>
				<key>OEControllerVendorID</key>
				<integer>5678</integer>
				<key>OEControllerProductID</key>
				<integer>48879</integer>
			</dict>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>BigBen 360</string>
				<key>OEControllerVendorID</key>
				<integer>5227</integer>
				<key>OEControllerProductID</key>
				<integer>1537</integer>
			</dict>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>Pelican 360</string>
				<key>OEControllerVendorID</key>
				<integer>3695</integer>
				<key>OEControllerProductID</key>
				<integer>513</integer>
			</dict>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>MadCatz Gamepad</string>
				<key>OEControllerVendorID</key>
				<integer>1848</integer>
				<key>OEControllerProductID</key>
				<integer>18198</integer>
			</dict>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>MadCatz Pro Gamepad</string>
				<key>OEControllerVendorID</key>
				<integer>1848</integer>
				<key>OEControllerProductID</key>
				<integer>18214</integer>
			</dict>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>MadCatz Microcon</string>
				<key>OEControllerVendorID</key>
				<integer>1848</integer>
				<key>OEControllerProductID</key>
				<integer>18230</integer>
			</dict>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>Hori DOA4 Stick</string>
				<key>OEControllerVendorID</key>
				<integer>3853</integer>
				<key>OEControllerProductID</key>
				<integer>10</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>OEControllerName</key>
		<string>Logitech Dual Action</string>
		<key>OEGenericControllerName</key>
		<string>OEControllerLogitechDualAction</string>
		<key>OEControllerDevices</key>
		<array>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>Logitech Dual Action</string>
				<key>OEControllerVendorID</key>
				<integer>1133</integer>
				<key>OEControllerProductID</key>
				<integer>49686</integer>
			</dict>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>Logitech Rumble Pad 2</string>
				<key>OEControllerVendorID</key>
				<integer>1133</integer>
				<key>OEControllerProductID</key>
				<integer>49688</integer>
			</dict>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>Logitech Cordless Rumble Pad 2</string>
				<key>OEControllerVendorID</key>
				<integer>1133</integer>
				<key>OEControllerProductID</key>
				<integer>49689</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>OEControllerName</key>
		<string>PS3 Neo Geo Pad USB</string>
		<key>OEGenericControllerName</key>
		<string>OEControllerPS3NeoGeoPad</string>
		<key>OEControllerDevices</key>
		<array>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>PS3 Neo Geo Pad USB</string>
				<key>OEControllerVendorID</key>
				<integer>8015</integer>
				<key>OEControllerProductID</key>
				<integer>8</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>OEControllerName</key>
		<string>Sega Saturn</string>
		<key>OEGenericControllerName</key>
		<string>OEControllerSegaSaturn</string>
		<key>OEControllerDevices</key>
		<array>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>Sega Saturn USB Gamepad</string>
				<key>OEControllerVendorID</key>
				<integer>1204</integer>
				<key>OEControllerProductID</key>
				<integer>266</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>OEControllerName</key>
		<string>Retrode</string>
		<key>OEGenericControllerName</key>
		<string>OEControllerRetrode</string>
		<key>OEControllerDevices</key>
		<array>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>Retrode 1</string>
				<key>OEControllerVendorID</key>
				<integer>1027</integer>
				<key>OEControllerProductID</key>
				<integer>38848</integer>
			</dict>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>Retrode 2</string>
				<key>OEControllerVendorID</key>
				<integer>1027</integer>
				<key>OEControllerProductID</key>
				<integer>38849</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>OEControllerName</key>
		<string>Wiimote</string>
		<key>OEGenericControllerName</key>
		<string>OEControllerWiimote</string>
		<key>OEControllerDevices</key>
		<array>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>Wiimote (Nintendo RVL-CNT-01)</string>
				<key>OEControllerVendorID</key>
				<integer>1406</integer>
				<key>OEControllerProductID</key>
				<integer>774</integer>
			</dict>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>Wiimote Plus (Nintendo RVL-CNT-01-TR)</string>
				<key>OEControllerVendorID</key>
				<integer>1406</integer>
				<key>OEControllerProductID</key>
				<integer>816</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>OEControllerName</key>
		<string>N64 Adaptoid</string>
		<key>OEGenericControllerName</key>
		<string>OEControllerAdaptoid</string>
		<key>OEControllerDevices</key>
		<array>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>N64 Adaptoid</string>
				<key>OEControllerVendorID</key>
				<integer>1783</integer>
				<key>OEControllerProductID</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>OEControllerName</key>
		<string>Gravis GamePad Pro</string>
		<key>OEGenericControllerName</key>
		<string>OEControllerGravisGamePadPro</string>
		<key>OEControllerDevices</key>
		<array>
			<dict>
				<key>OEControllerDeviceName</key>
				<string>Gravis GamePad Pro</string>
				<key>OEControllerVendorID</key>
				<integer>1064</integer>
				<key>OEControllerProductID</key>
				<integer>16385</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
