<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEPSPSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<string>D-Pad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPButtonRight</string>
			</dict>
		</array>
		<array>
			<string>Analog</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPAnalogUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPAnalogDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPAnalogLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPAnalogRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>△</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPButtonTriangle</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>◯</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPButtonCircle</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>✕</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPButtonCross</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>▢</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPButtonSquare</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPButtonL1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPButtonR1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPButtonStart</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSPButtonSelect</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAnalogControlsKey</key>
		<array>
			<string>OEPSPAnalogUp</string>
			<string>OEPSPAnalogDown</string>
			<string>OEPSPAnalogLeft</string>
			<string>OEPSPAnalogRight</string>
		</array>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEPSPButtonUp</string>
				<string>OEPSPButtonDown</string>
			</array>
			<array>
				<string>OEPSPButtonLeft</string>
				<string>OEPSPButtonRight</string>
			</array>
			<array>
				<string>OEPSPAnalogLeft</string>
				<string>OEPSPAnalogRight</string>
			</array>
			<array>
				<string>OEPSPAnalogUp</string>
				<string>OEPSPAnalogDown</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEPSPButtonUp</string>
				<string>OEPSPButtonRight</string>
				<string>OEPSPButtonDown</string>
				<string>OEPSPButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>iso</string>
		<string>cso</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEPSPButtonUp</string>
		<string>OEPSPButtonDown</string>
		<string>OEPSPButtonLeft</string>
		<string>OEPSPButtonRight</string>
		<string>OEPSPAnalogUp</string>
		<string>OEPSPAnalogDown</string>
		<string>OEPSPAnalogLeft</string>
		<string>OEPSPAnalogRight</string>
		<string>OEPSPButtonTriangle</string>
		<string>OEPSPButtonCircle</string>
		<string>OEPSPButtonCross</string>
		<string>OEPSPButtonSquare</string>
		<string>OEPSPButtonL1</string>
		<string>OEPSPButtonR1</string>
		<string>OEPSPButtonStart</string>
		<string>OEPSPButtonSelect</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>1</integer>
	<key>OEResponderClassKey</key>
	<string>OEPSPSystemResponder</string>
	<key>OESystemCoverAspectRatio</key>
	<string>1.7</string>
	<key>OESystemIcon</key>
	<string>psp_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.psp</string>
	<key>OESystemName</key>
	<string>Sony PSP</string>
	<key>OESystemType</key>
	<string>OESystemTypeHandheld</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaOpticalDisc</string>
	</array>
</dict>
</plist>
