<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_fc</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_fc_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEFDSButtonUp</key>
		<string>{109, 225}</string>
		<key>OEFDSButtonDown</key>
		<string>{109, 178}</string>
		<key>OEFDSButtonLeft</key>
		<string>{86, 201}</string>
		<key>OEFDSButtonRight</key>
		<string>{133, 201}</string>
		<key>OEFDSButtonStart</key>
		<string>{259, 180}</string>
		<key>OEFDSButtonSelect</key>
		<string>{210, 180}</string>
		<key>OEFDSButtonA</key>
		<string>{399, 183}</string>
		<key>OEFDSButtonB</key>
		<string>{341, 183}</string>
		<key>OEFDSButtonChangeSide</key>
		<string>{341, 183}</string>
	</dict>
</dict>
</plist>
