<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_vectrex.png</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_vectrex_mask.png</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>{190, 180}</string>
		<key>OEVectrexAnalogDown</key>
		<string>{190, 130}</string>
		<key>OEVectrexAnalogLeft</key>
		<string>{161, 154}</string>
		<key>OEVectrexAnalogRight</key>
		<string>{218, 154}</string>
		<key>OEVectrexButton1</key>
		<string>{368, 115}</string>
		<key>OEVectrexButton2</key>
		<string>{412, 134}</string>
		<key>OEVectrexButton3</key>
		<string>{455, 147}</string>
		<key>OEVectrexButton4</key>
		<string>{354, 158}</string>
	</dict>
</dict>
</plist>
