<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_vectrex_eu</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_vectrex_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>{127, 238}</string>
		<key>OEVectrexAnalogDown</key>
		<string>{127, 210}</string>
		<key>OEVectrexAnalogLeft</key>
		<string>{116, 225}</string>
		<key>OEVectrexAnalogRight</key>
		<string>{140, 225}</string>
		<key>OEVectrexButton1</key>
		<string>{236, 224}</string>
		<key>OEVectrexButton2</key>
		<string>{299, 224}</string>
		<key>OEVectrexButton3</key>
		<string>{362, 224}</string>
		<key>OEVectrexButton4</key>
		<string>{425, 224}</string>
	</dict>
</dict>
</plist>
