<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEVectrexSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<string>Analog</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVectrexAnalogUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVectrexAnalogDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVectrexAnalogLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVectrexAnalogRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVectrexButton1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVectrexButton2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVectrexButton3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 4</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVectrexButton4</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEVectrexAnalogUp</string>
				<string>OEVectrexAnalogDown</string>
			</array>
			<array>
				<string>OEVectrexAnalogLeft</string>
				<string>OEVectrexAnalogRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEVectrexAnalogUp</string>
				<string>OEVectrexAnalogRight</string>
				<string>OEVectrexAnalogDown</string>
				<string>OEVectrexAnalogLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>vec</string>
		<string>gam</string>
		<string>bin</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEVectrexAnalogUp</string>
		<string>OEVectrexAnalogDown</string>
		<string>OEVectrexAnalogLeft</string>
		<string>OEVectrexAnalogRight</string>
		<string>OEVectrexButton1</string>
		<string>OEVectrexButton2</string>
		<string>OEVectrexButton3</string>
		<string>OEVectrexButton4</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>1</integer>
	<key>OEResponderClassKey</key>
	<string>OEVectrexSystemResponder</string>
	<key>OESystemIcon</key>
	<string>vectrex_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.vectrex</string>
	<key>OESystemName</key>
	<string>Vectrex</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
