<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEPSXSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<string>D-Pad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonRight</string>
			</dict>
		</array>
		<array>
			<string>Left Analog</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXLeftAnalogUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXLeftAnalogDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXLeftAnalogLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXLeftAnalogRight</string>
			</dict>
		</array>
		<array>
			<string>Right Analog</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXRightAnalogUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXRightAnalogDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXRightAnalogLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXRightAnalogRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Analog Mode</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonAnalogMode</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>△</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonTriangle</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>◯</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonCircle</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>✕</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonCross</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>▢</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonSquare</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonL1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonL2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonR1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonR2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonL3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonR3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonStart</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPSXButtonSelect</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAnalogControlsKey</key>
		<array>
			<string>OEPSXLeftAnalogUp</string>
			<string>OEPSXLeftAnalogDown</string>
			<string>OEPSXLeftAnalogLeft</string>
			<string>OEPSXLeftAnalogRight</string>
			<string>OEPSXRightAnalogUp</string>
			<string>OEPSXRightAnalogDown</string>
			<string>OEPSXRightAnalogLeft</string>
			<string>OEPSXRightAnalogRight</string>
		</array>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEPSXButtonUp</string>
				<string>OEPSXButtonDown</string>
			</array>
			<array>
				<string>OEPSXButtonLeft</string>
				<string>OEPSXButtonRight</string>
			</array>
			<array>
				<string>OEPSXLeftAnalogUp</string>
				<string>OEPSXLeftAnalogDown</string>
			</array>
			<array>
				<string>OEPSXLeftAnalogLeft</string>
				<string>OEPSXLeftAnalogRight</string>
			</array>
			<array>
				<string>OEPSXRightAnalogUp</string>
				<string>OEPSXRightAnalogDown</string>
			</array>
			<array>
				<string>OEPSXRightAnalogLeft</string>
				<string>OEPSXRightAnalogRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEPSXButtonUp</string>
				<string>OEPSXButtonRight</string>
				<string>OEPSXButtonDown</string>
				<string>OEPSXButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>cue</string>
		<string>ccd</string>
		<string>m3u</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEPSXButtonUp</string>
		<string>OEPSXButtonDown</string>
		<string>OEPSXButtonLeft</string>
		<string>OEPSXButtonRight</string>
		<string>OEPSXButtonTriangle</string>
		<string>OEPSXButtonCircle</string>
		<string>OEPSXButtonCross</string>
		<string>OEPSXButtonSquare</string>
		<string>OEPSXButtonL1</string>
		<string>OEPSXButtonL2</string>
		<string>OEPSXButtonL3</string>
		<string>OEPSXButtonR1</string>
		<string>OEPSXButtonR2</string>
		<string>OEPSXButtonR3</string>
		<string>OEPSXButtonStart</string>
		<string>OEPSXButtonSelect</string>
		<string>OEPSXButtonAnalogMode</string>
		<string>OEPSXLeftAnalogUp</string>
		<string>OEPSXLeftAnalogDown</string>
		<string>OEPSXLeftAnalogLeft</string>
		<string>OEPSXLeftAnalogRight</string>
		<string>OEPSXRightAnalogUp</string>
		<string>OEPSXRightAnalogDown</string>
		<string>OEPSXRightAnalogLeft</string>
		<string>OEPSXRightAnalogRight</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>8</integer>
	<key>OEResponderClassKey</key>
	<string>OEPSXSystemResponder</string>
	<key>OESystemCoverAspectRatio</key>
	<string>1</string>
	<key>OESystemIcon</key>
	<string>psx_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.psx</string>
	<key>OESystemName</key>
	<string>Sony PlayStation</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaOpticalDisc</string>
	</array>
</dict>
</plist>
