<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_ws</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_ws_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEWSButtonX1</key>
		<string>{0, 0}</string>
		<key>OEWSButtonX3</key>
		<string>{0, 0}</string>
		<key>OEWSButtonX4</key>
		<string>{0, 0}</string>
		<key>OEWSButtonX2</key>
		<string>{0, 0}</string>
		<key>OEWSButtonY1</key>
		<string>{0, 0}</string>
		<key>OEWSButtonY3</key>
		<string>{0, 0}</string>
		<key>OEWSButtonY4</key>
		<string>{0, 0}</string>
		<key>OEWSButtonY2</key>
		<string>{0, 0}</string>
		<key>OEWSButtonA</key>
		<string>{0, 0}</string>
		<key>OEWSButtonB</key>
		<string>{0, 0}</string>
		<key>OEWSButtonStart</key>
		<string>{0, 0}</string>
		<key>OEWSButtonSound</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
