<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_n64</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_n64_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEN64ButtonDPadUp</key>
		<string>{132, 310}</string>
		<key>OEN64ButtonDPadDown</key>
		<string>{132, 268}</string>
		<key>OEN64ButtonDPadLeft</key>
		<string>{110, 290}</string>
		<key>OEN64ButtonDPadRight</key>
		<string>{156, 290}</string>
		<key>OEN64ButtonCUp</key>
		<string>{396, 330}</string>
		<key>OEN64ButtonCDown</key>
		<string>{396, 282}</string>
		<key>OEN64ButtonCLeft</key>
		<string>{372, 304}</string>
		<key>OEN64ButtonCRight</key>
		<string>{420, 304}</string>
		<key>OEN64ButtonL</key>
		<string>{130, 378}</string>
		<key>OEN64ButtonR</key>
		<string>{386, 378}</string>
		<key>OEN64ButtonA</key>
		<string>{366, 254}</string>
		<key>OEN64ButtonB</key>
		<string>{338, 280}</string>
		<key>OEN64ButtonStart</key>
		<string>{260, 278}</string>
		<key>OEN64ButtonZ</key>
		<string>{360, 124}</string>
		<key>OEN64AnalogLeft</key>
		<string>{240, 194}</string>
		<key>OEN64AnalogRight</key>
		<string>{278, 194}</string>
		<key>OEN64AnalogUp</key>
		<string>{260, 214}</string>
		<key>OEN64AnalogDown</key>
		<string>{260, 174}</string>
	</dict>
</dict>
</plist>
