<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OEN64ButtonDPadUp</key>
		<string>OEControllerMicrosoftXbox360DPadUp</string>
		<key>OEN64ButtonDPadDown</key>
		<string>OEControllerMicrosoftXbox360DPadDown</string>
		<key>OEN64ButtonDPadLeft</key>
		<string>OEControllerMicrosoftXbox360DPadLeft</string>
		<key>OEN64ButtonDPadRight</key>
		<string>OEControllerMicrosoftXbox360DPadRight</string>
		<key>OEN64AnalogUp</key>
		<string>OEControllerMicrosoftXbox360LeftAnalogUp</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerMicrosoftXbox360LeftAnalogLeft</string>
		<key>OEN64ButtonCUp</key>
		<string>OEControllerMicrosoftXbox360RightAnalogUp</string>
		<key>OEN64ButtonCLeft</key>
		<string>OEControllerMicrosoftXbox360RightAnalogLeft</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerMicrosoftXbox360ButtonA</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerMicrosoftXbox360ButtonX</string>
		<key>OEN64ButtonL</key>
		<string>OEControllerMicrosoftXbox360ButtonLeftShoulder</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerMicrosoftXbox360ButtonRightShoulder</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerMicrosoftXbox360ButtonLeftTrigger</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerMicrosoftXbox360ButtonStart</string>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OEN64ButtonDPadUp</key>
		<string>OEControllerSonyPS3SixaxisDPadUp</string>
		<key>OEN64ButtonDPadDown</key>
		<string>OEControllerSonyPS3SixaxisDPadDown</string>
		<key>OEN64ButtonDPadLeft</key>
		<string>OEControllerSonyPS3SixaxisDPadLeft</string>
		<key>OEN64ButtonDPadRight</key>
		<string>OEControllerSonyPS3SixaxisDPadRight</string>
		<key>OEN64AnalogUp</key>
		<string>OEControllerSonyPS3SixaxisLeftAnalogUp</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerSonyPS3SixaxisLeftAnalogLeft</string>
		<key>OEN64ButtonCUp</key>
		<string>OEControllerSonyPS3SixaxisRightAnalogUp</string>
		<key>OEN64ButtonCLeft</key>
		<string>OEControllerSonyPS3SixaxisRightAnalogLeft</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerSonyPS3SixaxisButtonCross</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerSonyPS3SixaxisButtonSquare</string>
		<key>OEN64ButtonL</key>
		<string>OEControllerSonyPS3SixaxisButtonL1</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerSonyPS3SixaxisButtonR1</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerSonyPS3SixaxisButtonL2</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerSonyPS3SixaxisButtonStart</string>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OEN64ButtonDPadUp</key>
		<string>OEControllerLogitechDualActionDPadUp</string>
		<key>OEN64AnalogUp</key>
		<string>OEControllerLogitechDualActionLeftAnalogUp</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerLogitechDualActionLeftAnalogLeft</string>
		<key>OEN64ButtonCUp</key>
		<string>OEControllerLogitechDualActionRightAnalogUp</string>
		<key>OEN64ButtonCLeft</key>
		<string>OEControllerLogitechDualActionRightAnalogLeft</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerLogitechDualActionButton2</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerLogitechDualActionButton1</string>
		<key>OEN64ButtonL</key>
		<string>OEControllerLogitechDualActionButtonLeftShoulder</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerLogitechDualActionButtonRightShoulder</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerLogitechDualActionButtonLeftTrigger</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerLogitechDualActionButtonStart</string>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OEN64AnalogUp</key>
		<string>OEControllerSegaSaturnDPadUp</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerSegaSaturnDPadLeft</string>
		<key>OEN64ButtonCUp</key>
		<string>OEControllerSegaSaturnButtonY</string>
		<key>OEN64ButtonCDown</key>
		<string>OEControllerSegaSaturnButtonA</string>
		<key>OEN64ButtonCLeft</key>
		<string>OEControllerSegaSaturnButtonX</string>
		<key>OEN64ButtonCRight</key>
		<string>OEControllerSegaSaturnButtonB</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerSegaSaturnButtonC</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerSegaSaturnButtonZ</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerSegaSaturnButtonRightShoulder</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerSegaSaturnButtonLeftShoulder</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerSegaSaturnButtonStart</string>
	</dict>
	<key>OEControllerGravisGamePadPro</key>
	<dict>
		<key>OEN64AnalogUp</key>
		<string>OEControllerGravisGamePadProDPadUp</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerGravisGamePadProDPadLeft</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerGravisGamePadProButton2</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerGravisGamePadProButton1</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerGravisGamePadProButtonRightShoulder</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerGravisGamePadProButtonLeftShoulder</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerGravisGamePadProButtonStart</string>
	</dict>
	<key>OEControllerRetroUSBSNES</key>
	<dict>
		<key>OEN64AnalogUp</key>
		<string>OEControllerRetroUSBSNESDPadUp</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerRetroUSBSNESDPadLeft</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerRetroUSBSNESButtonB</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerRetroUSBSNESButtonY</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerRetroUSBSNESButtonRightShoulder</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerRetroUSBSNESButtonLeftShoulder</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerRetroUSBSNESButtonStart</string>
	</dict>
	<key>OEControllerPS3NeoGeoPad</key>
	<dict>
		<key>OEN64AnalogUp</key>
		<string>OEControllerPS3NeoGeoPadDPadUp</string>
		<key>OEN64ButtonCUp</key>
		<string>OEControllerPS3NeoGeoPadButtonL1</string>
		<key>OEN64ButtonCDown</key>
		<string>OEControllerPS3NeoGeoPadButtonCircle</string>
		<key>OEN64ButtonCLeft</key>
		<string>OEControllerPS3NeoGeoPadButtonTriangle</string>
		<key>OEN64ButtonCRight</key>
		<string>OEControllerPS3NeoGeoPadButtonR1</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerPS3NeoGeoPadButtonCross</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerPS3NeoGeoPadButtonSquare</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerPS3NeoGeoPadButtonR2</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerPS3NeoGeoPadButtonL2</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerPS3NeoGeoPadButtonStart</string>
	</dict>
	<key>OEControllerRetrode</key>
	<dict>
		<key>OEN64AnalogUp</key>
		<string>OEControllerRetrodeDPadUp</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerRetrodeDPadLeft</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerRetrodeButtonB</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerRetrodeButtonY</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerRetrodeButtonRightShoulder</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerRetrodeButtonLeftShoulder</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerRetrodeButtonStart</string>
	</dict>
	<key>OEControllerRetrolinkSNES</key>
	<dict>
		<key>OEN64AnalogUp</key>
		<string>OEControllerRetrolinkSNESDPadUp</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerRetrolinkSNESDPadLeft</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerRetrolinkSNESButtonB</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerRetrolinkSNESButtonY</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerRetrolinkSNESButtonRightShoulder</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerRetrolinkSNESButtonLeftShoulder</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerRetrolinkSNESButtonStart</string>
	</dict>
	<key>OEControllerRetrolinkN64</key>
	<dict>
		<key>OEN64AnalogUp</key>
		<string>OEControllerRetrolinkN64AnalogUp</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerRetrolinkN64AnalogLeft</string>
		<key>OEN64ButtonDPadUp</key>
		<string>OEControllerRetrolinkN64DPadUp</string>
		<key>OEN64ButtonCUp</key>
		<string>OEControllerRetrolinkN64CPadUp</string>
		<key>OEN64ButtonCLeft</key>
		<string>OEControllerRetrolinkN64CPadLeft</string>
		<key>OEN64ButtonCDown</key>
		<string>OEControllerRetrolinkN64CPadDown</string>
		<key>OEN64ButtonCRight</key>
		<string>OEControllerRetrolinkN64CPadRight</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerRetrolinkN64ButtonA</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerRetrolinkN64ButtonB</string>
		<key>OEN64ButtonL</key>
		<string>OEControllerRetrolinkN64ButtonLeftShoulder</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerRetrolinkN64ButtonRightShoulder</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerRetrolinkN64ButtonZ</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerRetrolinkN64ButtonStart</string>
	</dict>
	<key>OEControllerAdaptoidN64</key>
	<dict>
		<key>OEN64AnalogUp</key>
		<string>OEControllerAdaptoidN64AnalogUp</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerAdaptoidN64AnalogLeft</string>
		<key>OEN64ButtonDPadUp</key>
		<string>OEControllerAdaptoidN64DPadUp</string>
		<key>OEN64ButtonDPadDown</key>
		<string>OEControllerAdaptoidN64DPadDown</string>
		<key>OEN64ButtonDPadLeft</key>
		<string>OEControllerAdaptoidN64DPadLeft</string>
		<key>OEN64ButtonDPadRight</key>
		<string>OEControllerAdaptoidN64DPadRight</string>
		<key>OEN64ButtonCUp</key>
		<string>OEControllerAdaptoidN64CPadUp</string>
		<key>OEN64ButtonCLeft</key>
		<string>OEControllerAdaptoidN64CPadLeft</string>
		<key>OEN64ButtonCDown</key>
		<string>OEControllerAdaptoidN64CPadDown</string>
		<key>OEN64ButtonCRight</key>
		<string>OEControllerAdaptoidN64CPadRight</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerAdaptoidN64ButtonA</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerAdaptoidN64ButtonB</string>
		<key>OEN64ButtonL</key>
		<string>OEControllerAdaptoidN64ButtonLeftShoulder</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerAdaptoidN64ButtonRightShoulder</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerAdaptoidN64ButtonZ</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerAdaptoidN64ButtonStart</string>
	</dict>
	<key>OEControllerNintendoWiiUProController</key>
	<dict>
		<key>OEN64ButtonDPadUp</key>
		<string>OEControllerNintendoWiiUProControllerDPadUp</string>
		<key>OEN64ButtonDPadDown</key>
		<string>OEControllerNintendoWiiUProControllerDPadDown</string>
		<key>OEN64ButtonDPadLeft</key>
		<string>OEControllerNintendoWiiUProControllerDPadLeft</string>
		<key>OEN64ButtonDPadRight</key>
		<string>OEControllerNintendoWiiUProControllerDPadRight</string>
		<key>OEN64AnalogUp</key>
		<string>OEControllerNintendoWiiUProControllerLeftAnalogUp</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerNintendoWiiUProControllerLeftAnalogLeft</string>
		<key>OEN64ButtonCUp</key>
		<string>OEControllerNintendoWiiUProControllerRightAnalogUp</string>
		<key>OEN64ButtonCLeft</key>
		<string>OEControllerNintendoWiiUProControllerRightAnalogLeft</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerNintendoWiiUProControllerButtonB</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerNintendoWiiUProControllerButtonY</string>
		<key>OEN64ButtonL</key>
		<string>OEControllerNintendoWiiUProControllerButtonL</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerNintendoWiiUProControllerButtonR</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerNintendoWiiUProControllerButtonZL</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerNintendoWiiUProControllerButtonPlus</string>
	</dict>
	<key>OEControllerSonyPS4Dualshock4</key>
	<dict>
		<key>OEN64ButtonDPadUp</key>
		<string>OEControllerSonyPS4Dualshock4DPadUp</string>
		<key>OEN64AnalogUp</key>
		<string>OEControllerSonyPS4Dualshock4LeftAnalogUp</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerSonyPS4Dualshock4LeftAnalogLeft</string>
		<key>OEN64ButtonCUp</key>
		<string>OEControllerSonyPS4Dualshock4RightAnalogUp</string>
		<key>OEN64ButtonCLeft</key>
		<string>OEControllerSonyPS4Dualshock4RightAnalogLeft</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCross</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerSonyPS4Dualshock4ButtonSquare</string>
		<key>OEN64ButtonL</key>
		<string>OEControllerSonyPS4Dualshock4ButtonL1</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerSonyPS4Dualshock4ButtonR1</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerSonyPS4Dualshock4ButtonL2</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerSonyPS4Dualshock4ButtonOptions</string>
	</dict>
	<key>OEControllerGCExtendedGamepadProfile</key>
	<dict>
		<key>OEN64ButtonDPadUp</key>
		<string>OEControllerGCExtendedGamepadProfileDPadUp</string>
		<key>OEN64ButtonDPadDown</key>
		<string>OEControllerGCExtendedGamepadProfileDPadDown</string>
		<key>OEN64ButtonDPadLeft</key>
		<string>OEControllerGCExtendedGamepadProfileDPadLeft</string>
		<key>OEN64ButtonDPadRight</key>
		<string>OEControllerGCExtendedGamepadProfileDPadRight</string>
		<key>OEN64AnalogUp</key>
		<string>OEControllerGCExtendedGamepadProfileLeftAnalogUp</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerGCExtendedGamepadProfileLeftAnalogLeft</string>
		<key>OEN64ButtonCUp</key>
		<string>OEControllerGCExtendedGamepadProfileRightAnalogUp</string>
		<key>OEN64ButtonCLeft</key>
		<string>OEControllerGCExtendedGamepadProfileRightAnalogLeft</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerGCExtendedGamepadProfileButtonA</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerGCExtendedGamepadProfileButtonX</string>
		<key>OEN64ButtonL</key>
		<string>OEControllerGCExtendedGamepadProfileButtonL1</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerGCExtendedGamepadProfileButtonR1</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerGCExtendedGamepadProfileButtonL2</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerGCExtendedGamepadProfileButtonHome</string>
	</dict>
	<key>OEControllerNintendoSwitchProController</key>
	<dict>
		<key>OEN64ButtonDPadUp</key>
		<string>OEControllerNintendoSwitchProControllerDPadUp</string>
		<key>OEN64AnalogUp</key>
		<string>OEControllerNintendoSwitchProControllerLeftAnalogUp</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerNintendoSwitchProControllerLeftAnalogLeft</string>
		<key>OEN64ButtonCUp</key>
		<string>OEControllerNintendoSwitchProControllerRightAnalogUp</string>
		<key>OEN64ButtonCLeft</key>
		<string>OEControllerNintendoSwitchProControllerRightAnalogLeft</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerNintendoSwitchProControllerButtonB</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerNintendoSwitchProControllerButtonY</string>
		<key>OEN64ButtonL</key>
		<string>OEControllerNintendoSwitchProControllerButtonL</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerNintendoSwitchProControllerButtonR</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerNintendoSwitchProControllerButtonZL</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerNintendoSwitchProControllerButtonPlus</string>
	</dict>
	<key>OEControllerMicrosoftXboxOne</key>
	<dict>
		<key>OEN64ButtonDPadUp</key>
		<string>OEControllerMicrosoftXboxOneDPadUp</string>
		<key>OEN64AnalogUp</key>
		<string>OEControllerMicrosoftXboxOneLeftAnalogUp</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerMicrosoftXboxOneLeftAnalogLeft</string>
		<key>OEN64ButtonCUp</key>
		<string>OEControllerMicrosoftXboxOneRightAnalogUp</string>
		<key>OEN64ButtonCLeft</key>
		<string>OEControllerMicrosoftXboxOneRightAnalogLeft</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerMicrosoftXboxOneButtonA</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerMicrosoftXboxOneButtonX</string>
		<key>OEN64ButtonL</key>
		<string>OEControllerMicrosoftXboxOneButtonLeftShoulder</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerMicrosoftXboxOneButtonRightShoulder</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerMicrosoftXboxOneButtonLeftTrigger</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerMicrosoftXboxOneButtonMenu</string>
	</dict>
	<key>OEControllerRetroBitSegaBluetooth8ButtonArcadePad</key>
	<dict>
		<key>OEN64AnalogUp</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadDPadUp</string>
		<key>OEN64AnalogDown</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadDPadDown</string>
		<key>OEN64AnalogLeft</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadDPadLeft</string>
		<key>OEN64AnalogRight</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadDPadRight</string>
		<key>OEN64ButtonCUp</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonY</string>
		<key>OEN64ButtonCDown</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonA</string>
		<key>OEN64ButtonCLeft</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonX</string>
		<key>OEN64ButtonCRight</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonB</string>
		<key>OEN64ButtonA</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonC</string>
		<key>OEN64ButtonB</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonZ</string>
		<key>OEN64ButtonR</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonRightShoulder</string>
		<key>OEN64ButtonZ</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonLeftShoulder</string>
		<key>OEN64ButtonStart</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonStart</string>
	</dict>
</dict>
</plist>
