<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_gba</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_gba_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEGBAButtonUp</key>
		<string>{96, 261}</string>
		<key>OEGBAButtonDown</key>
		<string>{96, 226}</string>
		<key>OEGBAButtonLeft</key>
		<string>{78, 243}</string>
		<key>OEGBAButtonRight</key>
		<string>{118, 243}</string>
		<key>OEGBAButtonStart</key>
		<string>{123, 185}</string>
		<key>OEGBAButtonSelect</key>
		<string>{123, 161}</string>
		<key>OEGBAButtonA</key>
		<string>{424, 250}</string>
		<key>OEGBAButtonB</key>
		<string>{387, 236}</string>
		<key>OEGBAButtonL</key>
		<string>{81, 325}</string>
		<key>OEGBAButtonR</key>
		<string>{419, 325}</string>
	</dict>
</dict>
</plist>
