<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEGBASystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBAButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBAButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBAButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBAButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBAButtonStart</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBAButtonSelect</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBAButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBAButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBAButtonL</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGBAButtonR</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEGBAButtonUp</string>
				<string>OEGBAButtonDown</string>
			</array>
			<array>
				<string>OEGBAButtonLeft</string>
				<string>OEGBAButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEGBAButtonUp</string>
				<string>OEGBAButtonRight</string>
				<string>OEGBAButtonDown</string>
				<string>OEGBAButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>gba</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEGBAButtonUp</string>
		<string>OEGBAButtonDown</string>
		<string>OEGBAButtonLeft</string>
		<string>OEGBAButtonRight</string>
		<string>OEGBAButtonA</string>
		<string>OEGBAButtonB</string>
		<string>OEGBAButtonL</string>
		<string>OEGBAButtonR</string>
		<string>OEGBAButtonStart</string>
		<string>OEGBAButtonSelect</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>1</integer>
	<key>OEResponderClassKey</key>
	<string>OEGBASystemResponder</string>
	<key>OESystemIcon</key>
	<string>gba_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.gba</string>
	<key>OESystemName</key>
	<string>Game Boy Advance</string>
	<key>OESystemType</key>
	<string>OESystemTypeHandheld</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
