<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OESystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESG1000ButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESG1000ButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESG1000ButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESG1000ButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESG1000Button1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESG1000Button2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Console Pause</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESG1000ButtonPause</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OESG1000ButtonUp</string>
				<string>OESG1000ButtonDown</string>
			</array>
			<array>
				<string>OESG1000ButtonLeft</string>
				<string>OESG1000ButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OESG1000ButtonUp</string>
				<string>OESG1000ButtonRight</string>
				<string>OESG1000ButtonDown</string>
				<string>OESG1000ButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>sg</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OESG1000ButtonUp</string>
		<string>OESG1000ButtonDown</string>
		<string>OESG1000ButtonLeft</string>
		<string>OESG1000ButtonRight</string>
		<string>OESG1000Button1</string>
		<string>OESG1000Button2</string>
		<string>OESG1000ButtonPause</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OESG1000SystemResponder</string>
	<key>OESystemIcon</key>
	<string>sg1000_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.sg1000</string>
	<key>OESystemName</key>
	<string>SG-1000</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
