<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerMicrosoftXbox360DPadUp</string>
		<key>OEVectrexAnalogDown</key>
		<string>OEControllerMicrosoftXbox360DPadDown</string>
		<key>OEVectrexAnalogLeft</key>
		<string>OEControllerMicrosoftXbox360DPadLeft</string>
		<key>OEVectrexAnalogRight</key>
		<string>OEControllerMicrosoftXbox360DPadRight</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerMicrosoftXbox360ButtonB</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerMicrosoftXbox360ButtonA</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerMicrosoftXbox360ButtonY</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerMicrosoftXbox360ButtonX</string>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerSonyPS3SixaxisDPadUp</string>
		<key>OEVectrexAnalogDown</key>
		<string>OEControllerSonyPS3SixaxisDPadDown</string>
		<key>OEVectrexAnalogLeft</key>
		<string>OEControllerSonyPS3SixaxisDPadLeft</string>
		<key>OEVectrexAnalogRight</key>
		<string>OEControllerSonyPS3SixaxisDPadRight</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerSonyPS3SixaxisButtonCircle</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerSonyPS3SixaxisButtonCross</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerSonyPS3SixaxisButtonTriangle</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerSonyPS3SixaxisButtonSquare</string>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerLogitechDualActionDPadUp</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerLogitechDualActionButton3</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerLogitechDualActionButton2</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerLogitechDualActionButton4</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerLogitechDualActionButton1</string>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerSegaSaturnDPadUp</string>
		<key>OEVectrexAnalogLeft</key>
		<string>OEControllerSegaSaturnDPadLeft</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerSegaSaturnButtonC</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerSegaSaturnButtonB</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerSegaSaturnButtonZ</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerSegaSaturnButtonY</string>
	</dict>
	<key>OEControllerGravisGamePadPro</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerGravisGamePadProDPadUp</string>
		<key>OEVectrexAnalogLeft</key>
		<string>OEControllerGravisGamePadProDPadLeft</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerGravisGamePadProButton3</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerGravisGamePadProButton2</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerGravisGamePadProButton4</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerGravisGamePadProButton1</string>
	</dict>
	<key>OEControllerRetroUSBSNES</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerRetroUSBSNESDPadUp</string>
		<key>OEVectrexAnalogLeft</key>
		<string>OEControllerRetroUSBSNESDPadLeft</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerRetroUSBSNESButtonA</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerRetroUSBSNESButtonB</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerRetroUSBSNESButtonX</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerRetroUSBSNESButtonY</string>
	</dict>
	<key>OEControllerPS3NeoGeoPad</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerPS3NeoGeoPadDPadUp</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerPS3NeoGeoPadButtonCircle</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerPS3NeoGeoPadButtonCross</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerPS3NeoGeoPadButtonTriangle</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerPS3NeoGeoPadButtonSquare</string>
	</dict>
	<key>OEControllerRetrode</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerRetrodeDPadUp</string>
		<key>OEVectrexAnalogLeft</key>
		<string>OEControllerRetrodeDPadLeft</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerRetrodeButtonA</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerRetrodeButtonB</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerRetrodeButtonX</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerRetrodeButtonY</string>
	</dict>
	<key>OEControllerRetrolinkSNES</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerRetrolinkSNESDPadUp</string>
		<key>OEVectrexAnalogLeft</key>
		<string>OEControllerRetrolinkSNESDPadLeft</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerRetrolinkSNESButtonA</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerRetrolinkSNESButtonB</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerRetrolinkSNESButtonX</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerRetrolinkSNESButtonY</string>
	</dict>
	<key>OEControllerRetrolinkN64</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerRetrolinkN64DPadUp</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerRetrolinkN64CPadRight</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerRetrolinkN64CPadDown</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerRetrolinkN64CPadUp</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerRetrolinkN64CPadLeft</string>
	</dict>
	<key>OEControllerAdaptoidN64</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerAdaptoidN64DPadUp</string>
		<key>OEVectrexAnalogDown</key>
		<string>OEControllerAdaptoidN64DPadDown</string>
		<key>OEVectrexAnalogLeft</key>
		<string>OEControllerAdaptoidN64DPadLeft</string>
		<key>OEVectrexAnalogRight</key>
		<string>OEControllerAdaptoidN64DPadRight</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerAdaptoidN64CPadRight</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerAdaptoidN64CPadDown</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerAdaptoidN64CPadUp</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerAdaptoidN64CPadLeft</string>
	</dict>
	<key>OEControllerNintendoWiiUProController</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerNintendoWiiUProControllerDPadUp</string>
		<key>OEVectrexAnalogDown</key>
		<string>OEControllerNintendoWiiUProControllerDPadDown</string>
		<key>OEVectrexAnalogLeft</key>
		<string>OEControllerNintendoWiiUProControllerDPadLeft</string>
		<key>OEVectrexAnalogRight</key>
		<string>OEControllerNintendoWiiUProControllerDPadRight</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerNintendoWiiUProControllerButtonA</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerNintendoWiiUProControllerButtonB</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerNintendoWiiUProControllerButtonX</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerNintendoWiiUProControllerButtonY</string>
	</dict>
	<key>OEControllerSonyPS4Dualshock4</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerSonyPS4Dualshock4DPadUp</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCircle</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCross</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerSonyPS4Dualshock4ButtonTriangle</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerSonyPS4Dualshock4ButtonSquare</string>
	</dict>
	<key>OEControllerGCExtendedGamepadProfile</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerGCExtendedGamepadProfileDPadUp</string>
		<key>OEVectrexAnalogDown</key>
		<string>OEControllerGCExtendedGamepadProfileDPadDown</string>
		<key>OEVectrexAnalogLeft</key>
		<string>OEControllerGCExtendedGamepadProfileDPadLeft</string>
		<key>OEVectrexAnalogRight</key>
		<string>OEControllerGCExtendedGamepadProfileDPadRight</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerGCExtendedGamepadProfileButtonB</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerGCExtendedGamepadProfileButtonA</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerGCExtendedGamepadProfileButtonY</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerGCExtendedGamepadProfileButtonX</string>
	</dict>
	<key>OEControllerNintendoSwitchProController</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerNintendoSwitchProControllerDPadUp</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerNintendoSwitchProControllerButtonA</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerNintendoSwitchProControllerButtonB</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerNintendoSwitchProControllerButtonX</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerNintendoSwitchProControllerButtonY</string>
	</dict>
	<key>OEControllerMicrosoftXboxOne</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerMicrosoftXboxOneDPadUp</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerMicrosoftXboxOneButtonB</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerMicrosoftXboxOneButtonA</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerMicrosoftXboxOneButtonY</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerMicrosoftXboxOneButtonX</string>
	</dict>
	<key>OEControllerRetroBitSegaBluetooth8ButtonArcadePad</key>
	<dict>
		<key>OEVectrexAnalogUp</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadDPadUp</string>
		<key>OEVectrexButton3</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonC</string>
		<key>OEVectrexButton2</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonB</string>
		<key>OEVectrexButton4</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonZ</string>
		<key>OEVectrexButton1</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonY</string>
	</dict>
</dict>
</plist>
