<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.openemu.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 OpenEmu Team. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>OENESSystemController</string>
	<key>OESystemPluginName</key>
	<string>Nintendo (NES)</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.nes</string>
	<key>OEArchiveIDs</key>
	<array>
		<integer>32</integer>
		<integer>36</integer>
	</array>
	<key>OEFileSuffixes</key>
	<array>
		<string>fds</string>
		<string>nes</string>
	</array>
	<key>OEControlListKey</key>
	<array>
		<array>
			<array>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Up</string>
					<key>OEControlListKeyNameKey</key>
					<string>OENESButtonUp[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{159, 147}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Down</string>
					<key>OEControlListKeyNameKey</key>
					<string>OENESButtonDown[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{159, 100}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Left</string>
					<key>OEControlListKeyNameKey</key>
					<string>OENESButtonLeft[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{136, 123}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Right</string>
					<key>OEControlListKeyNameKey</key>
					<string>OENESButtonRight[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{183, 123}</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Start</string>
					<key>OEControlListKeyNameKey</key>
					<string>OENESButtonStart[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{306, 101}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Select</string>
					<key>OEControlListKeyNameKey</key>
					<string>OENESButtonSelect[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{256, 101}</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>A</string>
					<key>OEControlListKeyNameKey</key>
					<string>OENESButtonA[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{441, 100}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>B</string>
					<key>OEControlListKeyNameKey</key>
					<string>OENESButtonB[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{384, 100}</string>
				</dict>
			</array>
		</array>
	</array>
</dict>
</plist>
