<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>SMSGameController</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sms</string>
				<string>gg</string>
				<string>sc</string>
				<string>sg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Sega Master System Game</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>CrabEmu</string>
	<key>CFBundleIdentifier</key>
	<string>com.openemu.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>OpEm</string>
	<key>CFBundleVersion</key>
	<string>0.2.1.1</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUFeedURL</key>
	<string>http://openemu.org/update/crabemu_appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<string>1</string>
	<key>OESystemPluginName</key>
	<string>Sega Master System</string>
	<key>LSApplicationCategoryType</key>
	<string>openemu.system.sms</string>
</dict>
</plist>
