<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OESegaCDButtonUp</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>12</integer>
		</dict>
		<key>OESegaCDButtonDown</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>13</integer>
		</dict>
		<key>OESegaCDButtonLeft</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>14</integer>
		</dict>
		<key>OESegaCDButtonRight</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>15</integer>
		</dict>
		<key>OESegaCDButtonA</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>3</integer>
		</dict>
		<key>OESegaCDButtonB</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>4</integer>
		</dict>
		<key>OESegaCDButtonC</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>2</integer>
		</dict>
		<key>OESegaCDButtonX</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>1</integer>
		</dict>
		<key>OESegaCDButtonY</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>5</integer>
		</dict>
		<key>OESegaCDButtonZ</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>6</integer>
		</dict>
		<key>OESegaCDButtonStart</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>9</integer>
		</dict>
		<key>OESegaCDButtonMode</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OESegaCDButtonUp</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>5</integer>
		</dict>
		<key>OESegaCDButtonDown</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>7</integer>
		</dict>
		<key>OESegaCDButtonLeft</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>8</integer>
		</dict>
		<key>OESegaCDButtonRight</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>6</integer>
		</dict>
		<key>OESegaCDButtonA</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>16</integer>
		</dict>
		<key>OESegaCDButtonB</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>13</integer>
		</dict>
		<key>OESegaCDButtonC</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>14</integer>
		</dict>
		<key>OESegaCDButtonX</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>15</integer>
		</dict>
		<key>OESegaCDButtonY</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>11</integer>
		</dict>
		<key>OESegaCDButtonZ</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>12</integer>
		</dict>
		<key>OESegaCDButtonStart</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>4</integer>
		</dict>
		<key>OESegaCDButtonMode</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OESegaCDButtonUp</key>
		<dict>
			<key>Type</key>
			<string>HatSwitch</string>
			<key>Direction</key>
			<string>N</string>
		</dict>
		<key>OESegaCDButtonA</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>1</integer>
		</dict>
		<key>OESegaCDButtonB</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>4</integer>
		</dict>
		<key>OESegaCDButtonC</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>3</integer>
		</dict>
		<key>OESegaCDButtonX</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>2</integer>
		</dict>
		<key>OESegaCDButtonY</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>5</integer>
		</dict>
		<key>OESegaCDButtonZ</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>6</integer>
		</dict>
		<key>OESegaCDButtonStart</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>10</integer>
		</dict>
		<key>OESegaCDButtonMode</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OESegaCDButtonUp</key>
		<dict>
			<key>Type</key>
			<string>Axis</string>
			<key>Axis</key>
			<string>Y</string>
			<key>Direction</key>
			<string>-1</string>
		</dict>
		<key>OESegaCDButtonLeft</key>
		<dict>
			<key>Type</key>
			<string>Axis</string>
			<key>Axis</key>
			<string>X</string>
			<key>Direction</key>
			<string>-1</string>
		</dict>
		<key>OESegaCDButtonA</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>1</integer>
		</dict>
		<key>OESegaCDButtonB</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>2</integer>
		</dict>
		<key>OESegaCDButtonC</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>3</integer>
		</dict>
		<key>OESegaCDButtonX</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>4</integer>
		</dict>
		<key>OESegaCDButtonY</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>5</integer>
		</dict>
		<key>OESegaCDButtonZ</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>6</integer>
		</dict>
		<key>OESegaCDButtonStart</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>9</integer>
		</dict>
		<key>OESegaCDButtonMode</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>OEControllerGravisGamePadPro</key>
	<dict>
		<key>OESegaCDButtonUp</key>
		<dict>
			<key>Type</key>
			<string>Axis</string>
			<key>Axis</key>
			<string>Y</string>
			<key>Direction</key>
			<string>-1</string>
		</dict>
		<key>OESegaCDButtonLeft</key>
		<dict>
			<key>Type</key>
			<string>Axis</string>
			<key>Axis</key>
			<string>X</string>
			<key>Direction</key>
			<string>-1</string>
		</dict>
		<key>OESegaCDButtonA</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>1</integer>
		</dict>
		<key>OESegaCDButtonB</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>4</integer>
		</dict>
		<key>OESegaCDButtonC</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>3</integer>
		</dict>
		<key>OESegaCDButtonX</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>2</integer>
		</dict>
		<key>OESegaCDButtonY</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>5</integer>
		</dict>
		<key>OESegaCDButtonZ</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>6</integer>
		</dict>
		<key>OESegaCDButtonStart</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>10</integer>
		</dict>
		<key>OESegaCDButtonMode</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>9</integer>
		</dict>
	</dict>
</dict>
</plist>
