<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OE5200SystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200ButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200ButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200ButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200ButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Fire 1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200ButtonFire1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Fire 2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200ButtonFire2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200ButtonStart</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Console Pause</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200ButtonPause</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Console Reset</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200ButtonReset</string>
			</dict>
		</array>
		<array>
			<string>Keypad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200Button1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200Button2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200Button3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>4</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200Button4</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>5</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200Button5</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>6</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200Button6</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>7</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200Button7</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>8</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200Button8</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>9</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200Button9</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>0</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200Button0</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>*</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200ButtonAsterisk</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>#</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE5200ButtonPound</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OE5200ButtonUp</string>
				<string>OE5200ButtonDown</string>
			</array>
			<array>
				<string>OE5200ButtonLeft</string>
				<string>OE5200ButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OE5200ButtonUp</string>
				<string>OE5200ButtonRight</string>
				<string>OE5200ButtonDown</string>
				<string>OE5200ButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>a52</string>
		<string>bin</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OE5200ButtonUp</string>
		<string>OE5200ButtonDown</string>
		<string>OE5200ButtonLeft</string>
		<string>OE5200ButtonRight</string>
		<string>OE5200ButtonFire1</string>
		<string>OE5200ButtonFire2</string>
		<string>OE5200ButtonStart</string>
		<string>OE5200ButtonPause</string>
		<string>OE5200ButtonReset</string>
		<string>OE5200Button1</string>
		<string>OE5200Button2</string>
		<string>OE5200Button3</string>
		<string>OE5200Button4</string>
		<string>OE5200Button5</string>
		<string>OE5200Button6</string>
		<string>OE5200Button7</string>
		<string>OE5200Button8</string>
		<string>OE5200Button9</string>
		<string>OE5200Button0</string>
		<string>OE5200ButtonAsterisk</string>
		<string>OE5200ButtonPound</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OE5200SystemResponder</string>
	<key>OESystemIcon</key>
	<string>atari5200_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.5200</string>
	<key>OESystemName</key>
	<string>Atari 5200</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
