<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OESega32XSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESega32XButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESega32XButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESega32XButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESega32XButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESega32XButtonStart</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Mode</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESega32XButtonMode</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESega32XButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESega32XButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>C</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESega32XButtonC</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>X</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESega32XButtonX</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Y</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESega32XButtonY</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Z</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESega32XButtonZ</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OESega32XButtonUp</string>
				<string>OESega32XButtonDown</string>
			</array>
			<array>
				<string>OESega32XButtonLeft</string>
				<string>OESega32XButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OESega32XButtonUp</string>
				<string>OESega32XButtonRight</string>
				<string>OESega32XButtonDown</string>
				<string>OESega32XButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>32x</string>
		<string>bin</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OESega32XButtonUp</string>
		<string>OESega32XButtonDown</string>
		<string>OESega32XButtonLeft</string>
		<string>OESega32XButtonRight</string>
		<string>OESega32XButtonA</string>
		<string>OESega32XButtonB</string>
		<string>OESega32XButtonC</string>
		<string>OESega32XButtonX</string>
		<string>OESega32XButtonY</string>
		<string>OESega32XButtonZ</string>
		<string>OESega32XButtonStart</string>
		<string>OESega32XButtonMode</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OESega32XSystemResponder</string>
	<key>OESystemIcon</key>
	<string>32x_na_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.32x</string>
	<key>OESystemName</key>
	<string>Sega 32X</string>
	<key>OERegionalizedSystemNames</key>
	<dict>
		<key>jp</key>
		<string>Sega Super 32X</string>
		<key>eu</key>
		<string>Sega Mega Drive 32X</string>
	</dict>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
