<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_7800</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_7800_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OE7800ButtonUp</key>
		<string>{244,284}</string>
		<key>OE7800ButtonDown</key>
		<string>{244, 239}</string>
		<key>OE7800ButtonFire1</key>
		<string>{182, 327}</string>
		<key>OE7800ButtonFire2</key>
		<string>{300, 327}</string>
		<key>OE7800ButtonLeft</key>
		<string>{222, 261}</string>
		<key>OE7800ButtonRight</key>
		<string>{264, 261}</string>
		<key>OE7800ButtonSelect</key>
		<string>{0, 0}</string>
		<key>OE7800ButtonPause</key>
		<string>{0, 0}</string>
		<key>OE7800ButtonReset</key>
		<string>{0, 0}</string>
		<key>OE7800ButtonLeftDiff</key>
		<string>{0, 0}</string>
		<key>OE7800ButtonRightDiff</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
