<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OESNESSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonSelect</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonStart</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>X</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonX</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Y</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonY</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonTriggerLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonTriggerRight</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OESNESButtonUp</string>
				<string>OESNESButtonDown</string>
			</array>
			<array>
				<string>OESNESButtonLeft</string>
				<string>OESNESButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OESNESButtonUp</string>
				<string>OESNESButtonRight</string>
				<string>OESNESButtonDown</string>
				<string>OESNESButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>smc</string>
		<string>snes</string>
		<string>fig</string>
		<string>sfc</string>
		<string>bs</string>
		<string>st</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OESNESButtonUp</string>
		<string>OESNESButtonDown</string>
		<string>OESNESButtonLeft</string>
		<string>OESNESButtonRight</string>
		<string>OESNESButtonA</string>
		<string>OESNESButtonB</string>
		<string>OESNESButtonX</string>
		<string>OESNESButtonY</string>
		<string>OESNESButtonTriggerLeft</string>
		<string>OESNESButtonTriggerRight</string>
		<string>OESNESButtonStart</string>
		<string>OESNESButtonSelect</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>8</integer>
	<key>OEResponderClassKey</key>
	<string>OESNESSystemResponder</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.snes</string>
	<key>OESystemName</key>
	<string>Super Nintendo (SNES)</string>
	<key>OERegionalizedSystemNames</key>
	<dict>
		<key>jp</key>
		<string>Super Famicom</string>
	</dict>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
