<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerMicrosoftXbox360DPadUp</string>
		<key>OESaturnButtonDown</key>
		<string>OEControllerMicrosoftXbox360DPadDown</string>
		<key>OESaturnButtonLeft</key>
		<string>OEControllerMicrosoftXbox360DPadLeft</string>
		<key>OESaturnButtonRight</key>
		<string>OEControllerMicrosoftXbox360DPadRight</string>
		<key>OESaturnLeftAnalogUp</key>
		<string>OEControllerMicrosoftXbox360LeftAnalogUp</string>
		<key>OESaturnLeftAnalogLeft</key>
		<string>OEControllerMicrosoftXbox360LeftAnalogLeft</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerMicrosoftXbox360ButtonX</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerMicrosoftXbox360ButtonA</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerMicrosoftXbox360ButtonB</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerMicrosoftXbox360ButtonY</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerMicrosoftXbox360ButtonLeftShoulder</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerMicrosoftXbox360ButtonRightShoulder</string>
		<key>OESaturnButtonL</key>
		<string>OEControllerMicrosoftXbox360ButtonLeftTrigger</string>
		<key>OESaturnButtonR</key>
		<string>OEControllerMicrosoftXbox360ButtonRightTrigger</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerMicrosoftXbox360ButtonStart</string>
		<key>OESaturnButtonAnalogMode</key>
		<string>OEControllerMicrosoftXbox360ButtonHome</string>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerSonyPS3SixaxisDPadUp</string>
		<key>OESaturnButtonDown</key>
		<string>OEControllerSonyPS3SixaxisDPadDown</string>
		<key>OESaturnButtonLeft</key>
		<string>OEControllerSonyPS3SixaxisDPadLeft</string>
		<key>OESaturnButtonRight</key>
		<string>OEControllerSonyPS3SixaxisDPadRight</string>
		<key>OESaturnLeftAnalogUp</key>
		<string>OEControllerSonyPS3SixaxisLeftAnalogUp</string>
		<key>OESaturnLeftAnalogLeft</key>
		<string>OEControllerSonyPS3SixaxisLeftAnalogLeft</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerSonyPS3SixaxisButtonSquare</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerSonyPS3SixaxisButtonCross</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerSonyPS3SixaxisButtonCircle</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerSonyPS3SixaxisButtonTriangle</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerSonyPS3SixaxisButtonL1</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerSonyPS3SixaxisButtonR1</string>
		<key>OESaturnButtonL</key>
		<string>OEControllerSonyPS3SixaxisButtonL2</string>
		<key>OESaturnButtonR</key>
		<string>OEControllerSonyPS3SixaxisButtonR2</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerSonyPS3SixaxisButtonStart</string>
		<key>OESaturnButtonAnalogMode</key>
		<string>OEControllerSonyPS3SixaxisButtonHome</string>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerLogitechDualActionDPadUp</string>
		<key>OESaturnLeftAnalogUp</key>
		<string>OEControllerLogitechDualActionLeftAnalogUp</string>
		<key>OESaturnLeftAnalogLeft</key>
		<string>OEControllerLogitechDualActionLeftAnalogLeft</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerLogitechDualActionButton1</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerLogitechDualActionButton2</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerLogitechDualActionButton3</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerLogitechDualActionButton4</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerLogitechDualActionButtonLeftShoulder</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerLogitechDualActionButtonRightShoulder</string>
		<key>OESaturnButtonL</key>
		<string>OEControllerLogitechDualActionButtonLeftTrigger</string>
		<key>OESaturnButtonR</key>
		<string>OEControllerLogitechDualActionButtonRightTrigger</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerLogitechDualActionButtonStart</string>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerSegaSaturnDPadUp</string>
		<key>OESaturnButtonLeft</key>
		<string>OEControllerSegaSaturnDPadLeft</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerSegaSaturnButtonA</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerSegaSaturnButtonB</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerSegaSaturnButtonC</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerSegaSaturnButtonX</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerSegaSaturnButtonY</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerSegaSaturnButtonZ</string>
		<key>OESaturnButtonL</key>
		<string>OEControllerSegaSaturnButtonLeftShoulder</string>
		<key>OESaturnButtonR</key>
		<string>OEControllerSegaSaturnButtonRightShoulder</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerSegaSaturnButtonStart</string>
	</dict>
	<key>OEControllerGravisGamePadPro</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerGravisGamePadProDPadUp</string>
		<key>OESaturnButtonLeft</key>
		<string>OEControllerGravisGamePadProDPadLeft</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerGravisGamePadProButton1</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerGravisGamePadProButton2</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerGravisGamePadProButton3</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerGravisGamePadProButton4</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerGravisGamePadProButtonLeftShoulder</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerGravisGamePadProButtonRightShoulder</string>
		<key>OESaturnButtonL</key>
		<string>OEControllerGravisGamePadProButtonLeftTrigger</string>
		<key>OESaturnButtonR</key>
		<string>OEControllerGravisGamePadProButtonRightTrigger</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerGravisGamePadProButtonStart</string>
	</dict>
	<key>OEControllerRetroUSBSNES</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerRetroUSBSNESDPadUp</string>
		<key>OESaturnButtonLeft</key>
		<string>OEControllerRetroUSBSNESDPadLeft</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerRetroUSBSNESButtonY</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerRetroUSBSNESButtonB</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerRetroUSBSNESButtonA</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerRetroUSBSNESButtonX</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerRetroUSBSNESButtonLeftShoulder</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerRetroUSBSNESButtonRightShoulder</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerRetroUSBSNESButtonStart</string>
	</dict>
	<key>OEControllerPS3NeoGeoPad</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerPS3NeoGeoPadDPadUp</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerPS3NeoGeoPadButtonCross</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerPS3NeoGeoPadButtonCircle</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerPS3NeoGeoPadButtonR1</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerPS3NeoGeoPadButtonSquare</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerPS3NeoGeoPadButtonTriangle</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerPS3NeoGeoPadButtonL1</string>
		<key>OESaturnButtonL</key>
		<string>OEControllerPS3NeoGeoPadButtonL2</string>
		<key>OESaturnButtonR</key>
		<string>OEControllerPS3NeoGeoPadButtonR2</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerPS3NeoGeoPadButtonStart</string>
		<key>OESaturnButtonAnalogMode</key>
		<string>OEControllerPS3NeoGeoPadButtonHome</string>
	</dict>
	<key>OEControllerRetrode</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerRetrodeDPadUp</string>
		<key>OESaturnButtonLeft</key>
		<string>OEControllerRetrodeDPadLeft</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerRetrodeButtonY</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerRetrodeButtonB</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerRetrodeButtonA</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerRetrodeButtonX</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerRetrodeButtonLeftShoulder</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerRetrodeButtonRightShoulder</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerRetrodeButtonStart</string>
	</dict>
	<key>OEControllerRetrolinkSNES</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerRetrolinkSNESDPadUp</string>
		<key>OESaturnButtonLeft</key>
		<string>OEControllerRetrolinkSNESDPadLeft</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerRetrolinkSNESButtonY</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerRetrolinkSNESButtonB</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerRetrolinkSNESButtonA</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerRetrolinkSNESButtonX</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerRetrolinkSNESButtonLeftShoulder</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerRetrolinkSNESButtonRightShoulder</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerRetrolinkSNESButtonStart</string>
	</dict>
	<key>OEControllerRetrolinkN64</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerRetrolinkN64DPadUp</string>
		<key>OESaturnLeftAnalogUp</key>
		<string>OEControllerRetrolinkN64AnalogUp</string>
		<key>OESaturnLeftAnalogLeft</key>
		<string>OEControllerRetrolinkN64AnalogLeft</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerRetrolinkN64ButtonA</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerRetrolinkN64CPadDown</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerRetrolinkN64CPadRight</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerRetrolinkN64ButtonB</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerRetrolinkN64CPadLeft</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerRetrolinkN64CPadUp</string>
		<key>OESaturnButtonL</key>
		<string>OEControllerRetrolinkN64ButtonLeftShoulder</string>
		<key>OESaturnButtonR</key>
		<string>OEControllerRetrolinkN64ButtonRightShoulder</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerRetrolinkN64ButtonStart</string>
	</dict>
	<key>OEControllerAdaptoidN64</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerAdaptoidN64DPadUp</string>
		<key>OESaturnButtonDown</key>
		<string>OEControllerAdaptoidN64DPadDown</string>
		<key>OESaturnButtonLeft</key>
		<string>OEControllerAdaptoidN64DPadLeft</string>
		<key>OESaturnButtonRight</key>
		<string>OEControllerAdaptoidN64DPadRight</string>
		<key>OESaturnLeftAnalogUp</key>
		<string>OEControllerAdaptoidN64AnalogUp</string>
		<key>OESaturnLeftAnalogLeft</key>
		<string>OEControllerAdaptoidN64AnalogLeft</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerAdaptoidN64ButtonA</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerAdaptoidN64CPadDown</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerAdaptoidN64CPadRight</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerAdaptoidN64ButtonB</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerAdaptoidN64CPadLeft</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerAdaptoidN64CPadUp</string>
		<key>OESaturnButtonL</key>
		<string>OEControllerAdaptoidN64ButtonLeftShoulder</string>
		<key>OESaturnButtonR</key>
		<string>OEControllerAdaptoidN64ButtonRightShoulder</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerAdaptoidN64ButtonStart</string>
	</dict>
	<key>OEControllerWiimote</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerWiimoteDPadRight</string>
		<key>OESaturnButtonDown</key>
		<string>OEControllerWiimoteDPadLeft</string>
		<key>OESaturnButtonLeft</key>
		<string>OEControllerWiimoteDPadUp</string>
		<key>OESaturnButtonRight</key>
		<string>OEControllerWiimoteDPadDown</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerWiimoteButtonA</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerWiimoteButton1</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerWiimoteButton2</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerWiimoteButtonPlus</string>
	</dict>
	<key>OEControllerNintendoWiiUProController</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerNintendoWiiUProControllerDPadUp</string>
		<key>OESaturnButtonDown</key>
		<string>OEControllerNintendoWiiUProControllerDPadDown</string>
		<key>OESaturnButtonLeft</key>
		<string>OEControllerNintendoWiiUProControllerDPadLeft</string>
		<key>OESaturnButtonRight</key>
		<string>OEControllerNintendoWiiUProControllerDPadRight</string>
		<key>OESaturnLeftAnalogUp</key>
		<string>OEControllerNintendoWiiUProControllerLeftAnalogUp</string>
		<key>OESaturnLeftAnalogLeft</key>
		<string>OEControllerNintendoWiiUProControllerLeftAnalogLeft</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerNintendoWiiUProControllerButtonY</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerNintendoWiiUProControllerButtonB</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerNintendoWiiUProControllerButtonA</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerNintendoWiiUProControllerButtonX</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerNintendoWiiUProControllerButtonL</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerNintendoWiiUProControllerButtonR</string>
		<key>OESaturnButtonL</key>
		<string>OEControllerNintendoWiiUProControllerButtonZL</string>
		<key>OESaturnButtonR</key>
		<string>OEControllerNintendoWiiUProControllerButtonZR</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerNintendoWiiUProControllerButtonPlus</string>
		<key>OESaturnButtonAnalogMode</key>
		<string>OEControllerNintendoWiiUProControllerButtonHome</string>
	</dict>
	<key>OEControllerSonyPS4Dualshock4</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerSonyPS4Dualshock4DPadUp</string>
		<key>OESaturnLeftAnalogUp</key>
		<string>OEControllerSonyPS4Dualshock4LeftAnalogUp</string>
		<key>OESaturnLeftAnalogLeft</key>
		<string>OEControllerSonyPS4Dualshock4LeftAnalogLeft</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerSonyPS4Dualshock4ButtonSquare</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCross</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCircle</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerSonyPS4Dualshock4ButtonTriangle</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerSonyPS4Dualshock4ButtonL1</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerSonyPS4Dualshock4ButtonR1</string>
		<key>OESaturnButtonL</key>
		<string>OEControllerSonyPS4Dualshock4ButtonL2</string>
		<key>OESaturnButtonR</key>
		<string>OEControllerSonyPS4Dualshock4ButtonR2</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerSonyPS4Dualshock4ButtonOptions</string>
		<key>OESaturnButtonAnalogMode</key>
		<string>OEControllerSonyPS4Dualshock4ButtonHome</string>
	</dict>
	<key>OEControllerGCExtendedGamepadProfile</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerGCExtendedGamepadProfileDPadUp</string>
		<key>OESaturnButtonDown</key>
		<string>OEControllerGCExtendedGamepadProfileDPadDown</string>
		<key>OESaturnButtonLeft</key>
		<string>OEControllerGCExtendedGamepadProfileDPadLeft</string>
		<key>OESaturnButtonRight</key>
		<string>OEControllerGCExtendedGamepadProfileDPadRight</string>
		<key>OESaturnLeftAnalogUp</key>
		<string>OEControllerGCExtendedGamepadProfileLeftAnalogUp</string>
		<key>OESaturnLeftAnalogLeft</key>
		<string>OEControllerGCExtendedGamepadProfileLeftAnalogLeft</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerGCExtendedGamepadProfileButtonX</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerGCExtendedGamepadProfileButtonA</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerGCExtendedGamepadProfileButtonB</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerGCExtendedGamepadProfileButtonY</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerGCExtendedGamepadProfileButtonL1</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerGCExtendedGamepadProfileButtonR1</string>
		<key>OESaturnButtonL</key>
		<string>OEControllerGCExtendedGamepadProfileButtonL2</string>
		<key>OESaturnButtonR</key>
		<string>OEControllerGCExtendedGamepadProfileButtonR2</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerGCExtendedGamepadProfileButtonHome</string>
	</dict>
	<key>OEControllerNintendoSwitchProController</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerNintendoSwitchProControllerDPadUp</string>
		<key>OESaturnLeftAnalogUp</key>
		<string>OEControllerNintendoSwitchProControllerLeftAnalogUp</string>
		<key>OESaturnLeftAnalogLeft</key>
		<string>OEControllerNintendoSwitchProControllerLeftAnalogLeft</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerNintendoSwitchProControllerButtonY</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerNintendoSwitchProControllerButtonB</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerNintendoSwitchProControllerButtonA</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerNintendoSwitchProControllerButtonX</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerNintendoSwitchProControllerButtonL</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerNintendoSwitchProControllerButtonR</string>
		<key>OESaturnButtonL</key>
		<string>OEControllerNintendoSwitchProControllerButtonZL</string>
		<key>OESaturnButtonR</key>
		<string>OEControllerNintendoSwitchProControllerButtonZR</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerNintendoSwitchProControllerButtonPlus</string>
		<key>OESaturnButtonAnalogMode</key>
		<string>OEControllerNintendoSwitchProControllerButtonHome</string>
	</dict>
	<key>OEControllerMicrosoftXboxOne</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerMicrosoftXboxOneDPadUp</string>
		<key>OESaturnLeftAnalogUp</key>
		<string>OEControllerMicrosoftXboxOneLeftAnalogUp</string>
		<key>OESaturnLeftAnalogLeft</key>
		<string>OEControllerMicrosoftXboxOneLeftAnalogLeft</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerMicrosoftXboxOneButtonX</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerMicrosoftXboxOneButtonA</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerMicrosoftXboxOneButtonB</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerMicrosoftXboxOneButtonY</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerMicrosoftXboxOneButtonLeftShoulder</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerMicrosoftXboxOneButtonRightShoulder</string>
		<key>OESaturnButtonL</key>
		<string>OEControllerMicrosoftXboxOneButtonLeftTrigger</string>
		<key>OESaturnButtonR</key>
		<string>OEControllerMicrosoftXboxOneButtonRightTrigger</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerMicrosoftXboxOneButtonMenu</string>
		<key>OESaturnButtonAnalogMode</key>
		<string>OEControllerMicrosoftXboxOneButtonXbox</string>
	</dict>
	<key>OEControllerRetroBitSegaBluetooth8ButtonArcadePad</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadDPadUp</string>
		<key>OESaturnButtonA</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonA</string>
		<key>OESaturnButtonB</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonB</string>
		<key>OESaturnButtonC</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonC</string>
		<key>OESaturnButtonX</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonX</string>
		<key>OESaturnButtonY</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonY</string>
		<key>OESaturnButtonZ</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonZ</string>
		<key>OESaturnButtonL</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonLeftShoulder</string>
		<key>OESaturnButtonR</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonRightShoulder</string>
		<key>OESaturnButtonStart</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonStart</string>
	</dict>
</dict>
</plist>
