<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_saturn.png</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_saturn_mask.png</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>{120, 160}</string>
		<key>OESaturnButtonDown</key>
		<string>{120, 110}</string>
		<key>OESaturnButtonLeft</key>
		<string>{96, 140}</string>
		<key>OESaturnButtonRight</key>
		<string>{146, 140}</string>
		<key>OESaturnButtonA</key>
		<string>{297, 100}</string>
		<key>OESaturnButtonB</key>
		<string>{334, 126}</string>
		<key>OESaturnButtonC</key>
		<string>{380, 142}</string>
		<key>OESaturnButtonX</key>
		<string>{285, 150}</string>
		<key>OESaturnButtonY</key>
		<string>{316, 165}</string>
		<key>OESaturnButtonZ</key>
		<string>{352, 180}</string>
		<key>OESaturnButtonStart</key>
		<string>{229, 100}</string>
		<key>OESaturnButtonL</key>
		<string>{108, 236}</string>
		<key>OESaturnButtonR</key>
		<string>{345, 236}</string>
	</dict>
</dict>
</plist>
