<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_saturn</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_saturn_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OESaturnButtonUp</key>
		<string>{144, 248}</string>
		<key>OESaturnButtonDown</key>
		<string>{144, 198}</string>
		<key>OESaturnButtonLeft</key>
		<string>{119, 228}</string>
		<key>OESaturnButtonRight</key>
		<string>{169, 228}</string>
		<key>OESaturnButtonA</key>
		<string>{320, 190}</string>
		<key>OESaturnButtonB</key>
		<string>{357, 215}</string>
		<key>OESaturnButtonC</key>
		<string>{401, 233}</string>
		<key>OESaturnButtonX</key>
		<string>{306, 235}</string>
		<key>OESaturnButtonY</key>
		<string>{339, 258}</string>
		<key>OESaturnButtonZ</key>
		<string>{375, 272}</string>
		<key>OESaturnButtonStart</key>
		<string>{252, 192}</string>
		<key>OESaturnButtonL</key>
		<string>{131, 324}</string>
		<key>OESaturnButtonR</key>
		<string>{368, 324}</string>
	</dict>
</dict>
</plist>
