<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OESaturnSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<string>D-Pad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnButtonStart</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnButtonL</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnButtonR</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>C</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnButtonC</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>X</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnButtonX</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Y</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnButtonY</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Z</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnButtonZ</string>
			</dict>
		</array>
		<array>
			<string>3D Control Pad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnLeftAnalogUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnLeftAnalogDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnLeftAnalogLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnLeftAnalogRight</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Trigger L</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnAnalogL</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Trigger R</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnAnalogR</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Mode Switch</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESaturnButtonAnalogMode</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAnalogControlsKey</key>
		<array>
			<string>OESaturnLeftAnalogUp</string>
			<string>OESaturnLeftAnalogDown</string>
			<string>OESaturnLeftAnalogLeft</string>
			<string>OESaturnLeftAnalogRight</string>
			<string>OESaturnAnalogL</string>
			<string>OESaturnAnalogR</string>
		</array>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OESaturnButtonUp</string>
				<string>OESaturnButtonDown</string>
			</array>
			<array>
				<string>OESaturnButtonLeft</string>
				<string>OESaturnButtonRight</string>
			</array>
			<array>
				<string>OESaturnLeftAnalogUp</string>
				<string>OESaturnLeftAnalogDown</string>
			</array>
			<array>
				<string>OESaturnLeftAnalogLeft</string>
				<string>OESaturnLeftAnalogRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OESaturnButtonUp</string>
				<string>OESaturnButtonRight</string>
				<string>OESaturnButtonDown</string>
				<string>OESaturnButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>cue</string>
		<string>ccd</string>
		<string>m3u</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OESaturnButtonUp</string>
		<string>OESaturnButtonDown</string>
		<string>OESaturnButtonLeft</string>
		<string>OESaturnButtonRight</string>
		<string>OESaturnButtonA</string>
		<string>OESaturnButtonB</string>
		<string>OESaturnButtonC</string>
		<string>OESaturnButtonX</string>
		<string>OESaturnButtonY</string>
		<string>OESaturnButtonZ</string>
		<string>OESaturnButtonL</string>
		<string>OESaturnButtonR</string>
		<string>OESaturnButtonStart</string>
		<string>OESaturnButtonAnalogMode</string>
		<string>OESaturnLeftAnalogUp</string>
		<string>OESaturnLeftAnalogDown</string>
		<string>OESaturnLeftAnalogLeft</string>
		<string>OESaturnLeftAnalogRight</string>
		<string>OESaturnAnalogL</string>
		<string>OESaturnAnalogR</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>12</integer>
	<key>OEResponderClassKey</key>
	<string>OESaturnSystemResponder</string>
	<key>OESystemIcon</key>
	<string>saturn_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.saturn</string>
	<key>OESystemName</key>
	<string>Sega Saturn</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaOpticalDisc</string>
	</array>
</dict>
</plist>
