<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_computer</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_computer_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>{0, 0}</string>
		<key>OEC64JoystickDown</key>
		<string>{0, 0}</string>
		<key>OEC64JoystickLeft</key>
		<string>{0, 0}</string>
		<key>OEC64JoystickRight</key>
		<string>{0, 0}</string>
		<key>OEC64ButtonFire</key>
		<string>{0, 0}</string>
		<key>OEC64ButtonJump</key>
		<string>{0, 0}</string>
		<key>OEC64SwapJoysticks</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
