<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>OEControllerMicrosoftXbox360DPadUp</string>
		<key>OEC64JoystickDown</key>
		<string>OEControllerMicrosoftXbox360DPadDown</string>
		<key>OEC64JoystickLeft</key>
		<string>OEControllerMicrosoftXbox360DPadLeft</string>
		<key>OEC64JoystickRight</key>
		<string>OEControllerMicrosoftXbox360DPadRight</string>
		<key>OEC64ButtonFire</key>
		<string>OEControllerMicrosoftXbox360ButtonA</string>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>OEControllerSonyPS3SixaxisDPadUp</string>
		<key>OEC64JoystickDown</key>
		<string>OEControllerSonyPS3SixaxisDPadDown</string>
		<key>OEC64JoystickLeft</key>
		<string>OEControllerSonyPS3SixaxisDPadLeft</string>
		<key>OEC64JoystickRight</key>
		<string>OEControllerSonyPS3SixaxisDPadRight</string>
		<key>OEC64ButtonFire</key>
		<string>OEControllerSonyPS3SixaxisButtonCross</string>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>OEControllerLogitechDualActionDPadUp</string>
		<key>OEC64ButtonFire</key>
		<string>OEControllerLogitechDualActionButton2</string>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>OEControllerSegaSaturnDPadUp</string>
		<key>OEC64JoystickLeft</key>
		<string>OEControllerSegaSaturnDPadLeft</string>
		<key>OEC64ButtonFire</key>
		<string>OEControllerSegaSaturnButtonC</string>
	</dict>
	<key>OEControllerGravisGamePadPro</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>OEControllerGravisGamePadProDPadUp</string>
		<key>OEC64JoystickLeft</key>
		<string>OEControllerGravisGamePadProDPadLeft</string>
		<key>OEC64ButtonFire</key>
		<string>OEControllerGravisGamePadProButton2</string>
	</dict>
	<key>OEControllerRetroUSBSNES</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>OEControllerRetroUSBSNESDPadUp</string>
		<key>OEC64JoystickLeft</key>
		<string>OEControllerRetroUSBSNESDPadLeft</string>
		<key>OEC64ButtonFire</key>
		<string>OEControllerRetroUSBSNESButtonB</string>
	</dict>
	<key>OEControllerPS3NeoGeoPad</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>OEControllerPS3NeoGeoPadDPadUp</string>
		<key>OEC64ButtonFire</key>
		<string>OEControllerPS3NeoGeoPadButtonCross</string>
	</dict>
	<key>OEControllerRetrode</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>OEControllerRetrodeDPadUp</string>
		<key>OEC64JoystickLeft</key>
		<string>OEControllerRetrodeDPadLeft</string>
		<key>OEC64ButtonFire</key>
		<string>OEControllerRetrodeButtonB</string>
	</dict>
	<key>OEControllerRetrolinkSNES</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>OEControllerRetrolinkSNESDPadUp</string>
		<key>OEC64JoystickLeft</key>
		<string>OEControllerRetrolinkSNESDPadLeft</string>
		<key>OEC64ButtonFire</key>
		<string>OEControllerRetrolinkSNESButtonB</string>
	</dict>
	<key>OEControllerRetrolinkN64</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>OEControllerRetrolinkN64DPadUp</string>
		<key>OEC64ButtonFire</key>
		<string>OEControllerRetrolinkN64ButtonA</string>
	</dict>
	<key>OEControllerAdaptoidN64</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>OEControllerAdaptoidN64DPadUp</string>
		<key>OEC64JoystickDown</key>
		<string>OEControllerAdaptoidN64DPadDown</string>
		<key>OEC64JoystickLeft</key>
		<string>OEControllerAdaptoidN64DPadLeft</string>
		<key>OEC64JoystickRight</key>
		<string>OEControllerAdaptoidN64DPadRight</string>
		<key>OEC64ButtonFire</key>
		<string>OEControllerAdaptoidN64ButtonA</string>
	</dict>
	<key>OEControllerWiimote</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>OEControllerWiimoteDPadRight</string>
		<key>OEC64JoystickDown</key>
		<string>OEControllerWiimoteDPadLeft</string>
		<key>OEC64JoystickLeft</key>
		<string>OEControllerWiimoteDPadUp</string>
		<key>OEC64JoystickRight</key>
		<string>OEControllerWiimoteDPadDown</string>
		<key>OEC64ButtonFire</key>
		<string>OEControllerWiimoteButton2</string>
	</dict>
	<key>OEControllerNintendoWiiUProController</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>OEControllerNintendoWiiUProControllerDPadUp</string>
		<key>OEC64JoystickDown</key>
		<string>OEControllerNintendoWiiUProControllerDPadDown</string>
		<key>OEC64JoystickLeft</key>
		<string>OEControllerNintendoWiiUProControllerDPadLeft</string>
		<key>OEC64JoystickRight</key>
		<string>OEControllerNintendoWiiUProControllerDPadRight</string>
		<key>OEC64ButtonFire</key>
		<string>OEControllerNintendoWiiUProControllerButtonB</string>
	</dict>
	<key>OEControllerSonyPS4Dualshock4</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>OEControllerSonyPS4Dualshock4DPadUp</string>
		<key>OEC64ButtonFire</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCross</string>
	</dict>
	<key>OEControllerSteelSeriesWireless</key>
	<dict>
		<key>OEC64JoystickUp</key>
		<string>OEControllerSteelSeriesWirelessDPadUp</string>
		<key>OEC64JoystickDown</key>
		<string>OEControllerSteelSeriesWirelessDPadDown</string>
		<key>OEC64JoystickLeft</key>
		<string>OEControllerSteelSeriesWirelessDPadLeft</string>
		<key>OEC64JoystickRight</key>
		<string>OEControllerSteelSeriesWirelessDPadRight</string>
		<key>OEC64ButtonFire</key>
		<string>OEControllerSteelSeriesWirelessButtonA</string>
	</dict>
</dict>
</plist>
