<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEGenesisSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGenesisButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGenesisButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGenesisButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGenesisButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGenesisButtonStart</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Mode</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGenesisButtonMode</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGenesisButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGenesisButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>C</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGenesisButtonC</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>X</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGenesisButtonX</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Y</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGenesisButtonY</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Z</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEGenesisButtonZ</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEGenesisButtonUp</string>
				<string>OEGenesisButtonDown</string>
			</array>
			<array>
				<string>OEGenesisButtonLeft</string>
				<string>OEGenesisButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEGenesisButtonUp</string>
				<string>OEGenesisButtonRight</string>
				<string>OEGenesisButtonDown</string>
				<string>OEGenesisButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>smd</string>
		<string>bin</string>
		<string>md</string>
		<string>gen</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEGenesisButtonUp</string>
		<string>OEGenesisButtonDown</string>
		<string>OEGenesisButtonLeft</string>
		<string>OEGenesisButtonRight</string>
		<string>OEGenesisButtonA</string>
		<string>OEGenesisButtonB</string>
		<string>OEGenesisButtonC</string>
		<string>OEGenesisButtonX</string>
		<string>OEGenesisButtonY</string>
		<string>OEGenesisButtonZ</string>
		<string>OEGenesisButtonStart</string>
		<string>OEGenesisButtonMode</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>8</integer>
	<key>OEResponderClassKey</key>
	<string>OEGenesisSystemResponder</string>
	<key>OESystemIcon</key>
	<string>genesis_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.sg</string>
	<key>OESystemName</key>
	<string>Sega Mega Drive</string>
	<key>OERegionalizedSystemNames</key>
	<dict>
		<key>na</key>
		<string>Sega Genesis</string>
	</dict>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
