<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_5200.png</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_5200_mask.png</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OE5200ButtonUp</key>
		<string>{50, 250}</string>
		<key>OE5200ButtonDown</key>
		<string>{50, 220}</string>
		<key>OE5200ButtonFire1</key>
		<string>{50, 130}</string>
		<key>OE5200ButtonFire2</key>
		<string>{50, 130}</string>
		<key>OE5200ButtonLeft</key>
		<string>{50, 190}</string>
		<key>OE5200ButtonRight</key>
		<string>{50, 160}</string>
		<key>OE5200ButtonStart</key>
		<string>{150, 190}</string>
		<key>OE5200ButtonPause</key>
		<string>{150, 160}</string>
		<key>OE5200ButtonReset</key>
		<string>{50, 100}</string>
	</dict>
</dict>
</plist>
