<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OE5200ButtonUp</key>
	<integer>82</integer>
	<key>OE5200ButtonDown</key>
	<integer>81</integer>
	<key>OE5200ButtonLeft</key>
	<integer>80</integer>
	<key>OE5200ButtonRight</key>
	<integer>79</integer>
	<key>OE5200ButtonFire1</key>
	<integer>4</integer>
	<key>OE5200ButtonFire2</key>
	<integer>22</integer>
	<key>OE5200ButtonStart</key>
	<integer>40</integer>
	<key>OE5200ButtonPause</key>
	<integer>229</integer>
	<key>OE5200ButtonReset</key>
	<integer>20</integer>
</dict>
</plist>
