
STRINGTABLE DISCARDABLE
BEGIN
    IDS_FIRSTRUN1				"This appears to be the first time you run %s v%.20s.\n\n"
    IDS_FIRSTRUN2				"Please take some time to match the audio/video settings to your system capabilities and personal preferences. If you continue to use and/or distribute this software, you must agree to be bound by the terms of license agreement, which is always accessible via the about dialog.\n\n"
    IDS_FIRSTRUN3A				"Note that this is alpha quality software. As such, it likely will exhibit problems, including audio/video options not behaving correctly, the emulation of some games misses some features, and may exhibit stability problems. CAVEAT LECTOR!"
    IDS_FIRSTRUN3B				"Note that this is beta quality software. As such, it likely may be missing some features, or exhibit some problems with your system."

	IDS_CHEAT_NAME				"Cheat name"
	IDS_CHEAT_STATUS			"Status"

	IDS_INPUT_INPUT				"Game input"
	IDS_INPUT_MAPPING			"Mapped to"
	IDS_INPUT_STATE				"State"
	IDS_INPUT_INP_PLAYER		"Player %i"
	IDS_INPUT_INP_KEYBOARD		"Keyboard"
	IDS_INPUT_INP_JOYSTICK		"Joystick %i"
	IDS_INPUT_INP_XARCADEL		"X-Arcade (left side)"
	IDS_INPUT_INP_XARCADER		"X-Arcade (right side)"
	IDS_INPUT_INP_HOTRODL		"Hot Rod (left side)"
	IDS_INPUT_INP_HOTRODR		"Hot Rod (right side)"
	IDS_INPUT_ANALOG_ABS		"Absolute"
	IDS_INPUT_ANALOG_AUTO		"Auto-center"
	IDS_INPUT_ANALOG_NORMAL		"Normal"

	IDS_DIP_GROUP				"DIPSwitch group"
	IDS_DIP_SETTING				"Setting"

	IDS_INPSET_MOVENAME			"Move control or press key for %.100hs"
	IDS_INPSET_MOVE				"Move control or press key"
	IDS_INPSET_WAITING			"Waiting for %.80s to be released..."

	IDS_MEMCARD_CREATE			"Create new memory card"
	IDS_MEMCARD_SELECT			"Select new memory card"

	IDS_PROGRESS_LOADING		"Loading and initialising %s..."
	IDS_PROGRESS_LOADING_ONLY	"Loading"

	IDS_REPLAY_RECORD			"Record Input to File"
	IDS_REPLAY_REPLAY			"Replay Input from File"

	IDS_ROMS_SELECT_DIR			"Select Directory:"

	IDS_STATE_LOAD				"Load State"
	IDS_STATE_SAVE				"Save State"
	IDS_STATE_ACTIVESLOT		"slot %d active"
	IDS_STATE_LOADED			"state loaded"
	IDS_STATE_LOAD_ERROR		"load error"
	IDS_STATE_SAVED				"state saved"
	IDS_STATE_SAVE_ERROR		"save error"

	IDS_DAT_GENERATE			"Generate %s dat"
	IDS_SCRN_NOGAME				"no game loaded"

	IDS_NETPLAY_START			"*** Starting netplay: "
	IDS_NETPLAY_START_YOU		"*** You are player %i. "
	IDS_NETPLAY_START_TOTAL		"There are %i total players."
	IDS_NETPLAY_DROP			"*** Player %1i <%.32hs> dropped from the game."
	IDS_NETPLAY_TOOMUCH			"too much text"

	IDS_SSHOT_SAVED				"PNG saved"
	IDS_SSHOT_ERROR				"PNG error %1d"

	IDS_SOUND_NOVOLUME			"No volume control"
	IDS_SOUND_VOLUMESET			"volume %03i %%"
	IDS_SOUND_MUTE				"Silence"
	IDS_SOUND_MUTE_OFF			"Sound Restored"

	IDS_DISK_REPLAY				"This input recording"
	IDS_DISK_THIS_REPLAY		"input recording."
	IDS_DISK_FILE_REPLAY		"%s Input Recording Files"
	IDS_DISK_STATE				"state file"
	IDS_DISK_THIS_STATE			"This state file"
	IDS_DISK_FILE_STATE			"%s State Files"
	IDS_DISK_FILE_PATCH			"%s Patch Files"
	IDS_DISK_SOUND				"sound recording"
	IDS_DISK_THIS_SOUND			"This sound recording"
	IDS_DISK_FILE_SOUND			"%s Sound Recording Files"
	IDS_DISK_FILE_CARD			"%s Memory Card Files"
	IDS_DISK_ALL_CARD			"All Memory Card Files"
	IDS_DISK_ALL_DAT			"All Dat Files"
	IDS_DISK_TEXT				"Text Files"

	IDS_DISK_SAVEREPORT			"Save system information report"
	
	IDS_GAMELANG_LOAD			"Select game list localisation template"
	IDS_GAMELANG_EXPORT			"Create game list localisation template"
	
	IDS_ROMINFO_DIALOGTITLE		"Rom Information"
	IDS_ROMINFO_ROMS			"Rom Info"
	IDS_ROMINFO_SAMPLES			"Sample Info"
	IDS_ROMINFO_NAME			"Name"
	IDS_ROMINFO_SIZE			"Size (bytes)"
	IDS_ROMINFO_CRC32			"CRC32"
	IDS_ROMINFO_TYPE			"Type"
	IDS_ROMINFO_FLAGS			"Flags"
	IDS_ROMINFO_ESSENTIAL		"%s, Essential"
	IDS_ROMINFO_OPTIONAL		"%s, Optional"
	IDS_ROMINFO_PROGRAM			"%s, Program"
	IDS_ROMINFO_GRAPHICS		"%s, Graphics"
	IDS_ROMINFO_SOUND			"%s, Sound"
	IDS_ROMINFO_BIOS			"%s, BIOS"
	IDS_ROMINFO_NODUMP			"%s, No Dump"
	
	IDS_SPATH_PREVIEW			"Previews"
	IDS_SPATH_TITLES			"Titles"
	IDS_SPATH_ICONS				"Icons"
	IDS_SPATH_CHEATS			"Cheats"
	IDS_SPATH_HISCORE			"High Scores"
	IDS_SPATH_SAMPLES			"Samples"
	IDS_SPATH_IPS				"IPS"
	IDS_SPATH_NGCD_ISOS			"Neo Geo CDZ Games"
	IDS_SPATH_NGCD_COVERS		"Neo Geo CDZ Covers"
	
	IDS_ROMPATH_1				"Path #1"
	IDS_ROMPATH_2				"Path #2"
	IDS_ROMPATH_3				"Path #3"
	IDS_ROMPATH_4				"Path #4"
	IDS_ROMPATH_5				"Path #5"
	IDS_ROMPATH_6				"Path #6"
	IDS_ROMPATH_7				"Path #7"
	IDS_ROMPATH_8				"Path #8"
	IDS_ROMPATH_9				"Path #9"
	IDS_ROMPATH_10				"Path #10"
	IDS_ROMPATH_11				"Path #11"
	IDS_ROMPATH_12				"Path #12"
	IDS_ROMPATH_13				"Path #13"
	IDS_ROMPATH_14				"Path #14"
	IDS_ROMPATH_15				"Path #15"
	IDS_ROMPATH_16				"Path #16"
	IDS_ROMPATH_17				"Path #17"
	IDS_ROMPATH_18				"Path #18"
	IDS_ROMPATH_19				"Path #19"
	IDS_ROMPATH_20				"Path #20"
	
	IDS_PRESET_SAVED			"The preset file was saved to %s."
	
	IDS_LOCAL_GL_CREATE			"Create gamelist localisation template"
	IDS_LOCAL_GL_SELECT			"Select gamelist localisation template"
	IDS_LOCAL_GL_FILTER			"FB Alpha gamelist localisation templates"
	
	IDS_CD_SELECT_IMAGE			"Select CD-ROM image..."
	IDS_CD_SELECT_IMAGE_TITLE	"Select CD-ROM image"
	IDS_CD_SELECT_FILTER		"CD images"
	
	IDS_LOCAL_CREATE			"Create localisation template"
	IDS_LOCAL_SELECT			"Select localisation template"
	IDS_LOCAL_FILTER			"FB Alpha localisation templates"
	
	IDS_SEL_FILTERS				"Filters"
	IDS_SEL_HARDWARE			"Hardware"
	IDS_SEL_CAVE				"Cave"
	IDS_SEL_CPS1				"CPS-1"
	IDS_SEL_CPS2				"CPS-2"
	IDS_SEL_CPS3				"CPS-3"
	IDS_SEL_NEOGEO				"Neo Geo"
	IDS_SEL_PGM					"PGM"
	IDS_SEL_PSIKYO				"Psikyo"
	IDS_SEL_SEGA				"Sega"
	IDS_SEL_TAITO				"Taito"
	IDS_SEL_TOAPLAN				"Toaplan"
	IDS_SEL_MISCPRE90S			"Misc (pre 90s)"
	IDS_SEL_MISCPOST90S			"Misc (post 90s)"
	IDS_SEL_MEGADRIVE			"Megadrive"
	IDS_SEL_PACMAN				"Pacman"
	IDS_SEL_KONAMI				"Konami"
	IDS_SEL_GALAXIAN			"Galaxian"
	IDS_SEL_IREM				"Irem"
	IDS_SEL_BOARDTYPE			"Board Type"
	IDS_SEL_BOOTLEG				"Bootleg"
	IDS_SEL_PROTOTYPE			"Prototype"
	IDS_SEL_HACK				"Hack"
	IDS_SEL_HOMEBREW			"Homebrew"
	IDS_SEL_DEMO				"Demo"
	IDS_SEL_GENUINE				"Genuine"
	IDS_SEL_SETSTATUS			"Showing %i of %i sets [%i Unavailable sets]"
	IDS_SEL_KANEKO				"Kaneko"
	IDS_SEL_SNES				"SNES"
	IDS_SEL_DATAEAST			"Data East"
	IDS_SEL_CAPCOM_MISC			"Capcom (Other)"
	IDS_SEL_SETA				"Seta"
	IDS_SEL_TECHNOS				"Technos"
	IDS_SEL_PCE					"PC-Engine"
	
	IDS_GENRE					"Genre"
	IDS_GENRE_HORSHOOT			"Shooter - Horizontal"
	IDS_GENRE_VERSHOOT			"Shooter - Vertical"
	IDS_GENRE_SCRFIGHT			"Fighter - Scrolling"
	IDS_GENRE_VSFIGHT			"Fighter - Versus"
	IDS_GENRE_BIOS				"BIOS"
	IDS_GENRE_BREAKOUT			"Breakout"
	IDS_GENRE_CASINO			"Casino"
	IDS_GENRE_BALLPADDLE		"Ball & Paddle"
	IDS_GENRE_MAZE				"Maze"
	IDS_GENRE_MINIGAMES			"Mini-Games"
	IDS_GENRE_PINBALL			"Pinball"
	IDS_GENRE_PLATFORM			"Platform"
	IDS_GENRE_PUZZLE			"Puzzle"
	IDS_GENRE_QUIZ				"Quiz"
	IDS_GENRE_SPORTSMISC		"Sports - Misc"
	IDS_GENRE_SPORTSFOOTBALL	"Sports - Football"
	IDS_GENRE_MISC				"Misc"
	IDS_GENRE_MAHJONG			"Mahjong"
	IDS_GENRE_RACING			"Racing"
	IDS_GENRE_SHOOT				"Shooter - Other"

	IDS_FAMILY					"Family"
	IDS_FAMILY_MSLUG			"Metal Slug"
	IDS_FAMILY_SF				"Street Fighter"
	IDS_FAMILY_KOF				"King of Fighters"
	IDS_FAMILY_DSTLK			"Darkstalkers"
	IDS_FAMILY_FATFURY			"Fatal Fury"
	IDS_FAMILY_SAMSHO			"Samurai Shodown"
	IDS_FAMILY_19XX				"19XX"
	IDS_FAMILY_SONICWI			"Aero Fighters"
	IDS_FAMILY_PWRINST			"Power Instinct"
	IDS_FAMILY_OTHER			"Other"
	
	IDS_IPSMANAGER_TITLE		"IPS Patch Manager"
	
	IDS_NGCD_DIAG_TITLE			"%s%sNeo Geo CDZ%sSelect Game"
	IDS_NGCD_TITLE				"Title"
	IDS_NGCD_NGCDID				"NGCD-ID"
	
	IDS_MENU_0 					"&Arcade"
    IDS_MENU_1 					"&Other..."
    IDS_MENU_2 					"&Other Gamma value..."
    IDS_MENU_3 					"Adjust &CPU speed..."
    IDS_MENU_4 					"Load state from active slot (no %d)\tF9"
    IDS_MENU_5 					"Save state to active slot (no %d)\tF10"
	IDS_MENU_6					"no game selected"
	
	IDS_NUMDIAL_NUM_FRAMES		"Number of Frames"
	IDS_NUMDIAL_FILTER_SHARP	"Select desired filter sharpness"
	
	IDS_SCANNING_ROMS			"Scanning ROMs..."
	
	IDS_CHEAT_SEARCH_NEW		"New cheat search started"
	IDS_CHEAT_SEARCH_ADD_MATCH	"%i Addresses Matched"
	IDS_CHEAT_SEARCH_RESULTS	"Address %08X Value %02X"
	IDS_CHEAT_SEARCH_EXIT		"Cheat search exited"
	
	IDS_LANG_ENGLISH_US			"English (US)"
	IDS_LANG_SIMP_CHINESE		"Simplified Chinese"
	IDS_LANG_TRAD_CHINESE		"Traditional Chinese"
	IDS_LANG_JAPANESE			"Japanese"
	IDS_LANG_KOREAN				"Korean"
	IDS_LANG_FRENCH				"French"
	IDS_LANG_SPANISH			"Spanish"
	IDS_LANG_ITALIAN			"Italian"
	IDS_LANG_GERMAN				"German"
	IDS_LANG_PORTUGUESE			"Portuguese"
	IDS_LANG_POLISH				"Polish"
	IDS_LANG_HUNGARIAN			"Hungarian"
	
	IDS_CLONE_OF				" (clone of %s"
	IDS_ROMS_FROM_1				", uses ROMs from %s"
	IDS_ROMS_FROM_2				"%suses ROMs from %s"
	IDS_BOARD_ROMS_FROM			"%suses board-ROMs from %s"
	IDS_SAMPLES_FROM			"%suses samples from %s"
	IDS_NUM_PLAYERS				"%s%i player%s"
	IDS_NUM_PLAYERS_MAX			"s max"
	IDS_HARDWARE_DESC			"%s (%s, %s hardware)"
	IDS_MVS_CARTRIDGE			"Neo Geo MVS Cartidge"
	IDS_HISCORES_SUPPORTED		"%shigh scores supported"
	IDS_CARTRIDGE				"cartridge"
	IDS_HARDWARE				"hardware"
	IDS_EMPTY					"Empty"
	IDS_UNIDENTIFIED_CD			"Unidentified CD"

	IDS_ERR_ERROR				"Error"
    IDS_ERR_WARNING				"Warning"
    IDS_ERR_INFORMATION			"Information"
    IDS_ERR_UNKNOWN				"Unknown"

	IDS_ERR_LOAD_OK				"The ROMset is OK."
	IDS_ERR_LOAD_PROBLEM		"The ROMset exhibits the following problems:"
	IDS_ERR_LOAD_NODATA			"No data was found, the game will not run!"
	IDS_ERR_LOAD_ESS_MISS		"essential data is missing, the game will not run!"
	IDS_ERR_LOAD_ESS_BAD		"essential data is invalid, the game might not run!"
	IDS_ERR_LOAD_DATA_MISS		"data is missing."
	IDS_ERR_LOAD_DATA_BAD		"data is invalid."
	IDS_ERR_LOAD_FOUND			"%.32hs was found (%.512s).\n"
	IDS_ERR_LOAD_NOTFOUND		"%.32hs was not found.\n"
	IDS_ERR_LOAD_INVALID		"The following ROMs are invalid:\n"
	IDS_ERR_LOAD_CRC			"%.32hs has a CRC of %.8X (correct is %.8X).\n"
	IDS_ERR_LOAD_SMALL			"%.32hs is %dk which is too small (correct is %dkB).\n"
	IDS_ERR_LOAD_LARGE			"%.32hs is %dk which is too large (correct is %dkB).\n"
	IDS_ERR_LOAD_DET_ESS		"essential "
	IDS_ERR_LOAD_DET_PRG		"program "
	IDS_ERR_LOAD_DET_BIOS		"BIOS "
	IDS_ERR_LOAD_DET_GRA		"graphics "
	IDS_ERR_LOAD_DET_SND		"sound "
	IDS_ERR_LOAD_DET_ROM		"ROM "
	IDS_ERR_LOAD_DISK			"Error reading %.32hs from %.512s"
	IDS_ERR_LOAD_DISK_CRC		"CRC mismatch reading %.32hs from %.512s"
	IDS_ERR_LOAD_REQUEST		"Error loading %.32hs, requested by %.128s.\nThe emulation will likely suffer problems."

	IDS_ERR_BURN_INIT			"There was a problem starting '%.128s'.\n"

	IDS_ERR_UI_NOSUPPORT		"%.32s is not supported by %.32s."
	IDS_ERR_UI_WINDOW			"Couldn't create main window."
	IDS_ERR_UI_MODULE			"Couldn't intialise '%s' module."
	IDS_ERR_UI_TRIPLE			"Couldn't create a triple buffer."
	IDS_ERR_UI_FULL_NOMODE		"No appropriate display mode supported. Please adjust your full-screen settings."
	IDS_ERR_UI_FULL_PROBLEM		"Problem setting '%dx%dx%dbpp (%dHz)' display mode"
	IDS_ERR_UI_FULL_CUSTRES		"\n\nThis is not a standard VGA resolution; please make sure it is supported by your video card."

	IDS_ERR_DISK_CREATE			"Error creating "
	IDS_ERR_DISK_LOAD			"Error loading "
	IDS_ERR_DISK_UNAVAIL		" is for an unavailable game."
	IDS_ERR_DISK_TOONEW			" does not work with this version of %s."
	IDS_ERR_DISK_TOOOLD			" requires a more recent version of %s, please upgrade."
	
	IDS_ERR_NO_NETPLAYDLL		"Error finding 'kailleraclient.dll'."	
	IDS_ERR_NO_DRIVER_SELECTED	"No driver has been selected from the list."	
	IDS_ERR_NO_DRIVER_SEL_SLOT1	"No driver has been selected for slot 1."
	IDS_ERR_NON_WORKING			"This game isn't working. Load it anyway?"
	IDS_ERR_CDEMU_INI_FAIL		"Couldn't initialise CD emulation."
END
