<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_nds.png</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_nds_mask.png</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OENDSButtonUp</key>
		<string>{50, 250}</string>
		<key>OENDSButtonDown</key>
		<string>{50, 220}</string>
		<key>OENDSButtonA</key>
		<string>{50, 130}</string>
		<key>OENDSButtonLeft</key>
		<string>{50, 190}</string>
		<key>OENDSButtonRight</key>
		<string>{50, 160}</string>
		<key>OENDSButtonStart</key>
		<string>{150, 190}</string>
		<key>OENDSButtonSelect</key>
		<string>{150, 160}</string>
		<key>OENDSButtonB</key>
		<string>{50, 100}</string>
		<key>OENDSButtonL</key>
		<string>{150, 250}</string>
		<key>OENDSButtonR</key>
		<string>{150, 220}</string>
		<key>OENDSButtonX</key>
		<string>{50, 70}</string>
		<key>OENDSButtonY</key>
		<string>{50, 40}</string>
		<key>OENDSButtonMicrophone</key>
		<string>{150, 130}</string>
		<key>OENDSButtonLid</key>
		<string>{150, 100}</string>
		<key>OENDSButtonDebug</key>
		<string>{150, 70}</string>
	</dict>
</dict>
</plist>
