<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_nds</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_nds_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OENDSButtonUp</key>
		<string>{96, 159}</string>
		<key>OENDSButtonDown</key>
		<string>{96, 123}</string>
		<key>OENDSButtonA</key>
		<string>{426, 150}</string>
		<key>OENDSButtonLeft</key>
		<string>{78, 141}</string>
		<key>OENDSButtonRight</key>
		<string>{114, 141}</string>
		<key>OENDSButtonStart</key>
		<string>{374, 77}</string>
		<key>OENDSButtonSelect</key>
		<string>{374, 54}</string>
		<key>OENDSButtonB</key>
		<string>{403, 127}</string>
		<key>OENDSButtonL</key>
		<string>{81, 229}</string>
		<key>OENDSButtonR</key>
		<string>{419, 229}</string>
		<key>OENDSButtonX</key>
		<string>{403, 173}</string>
		<key>OENDSButtonY</key>
		<string>{380, 150}</string>
		<key>OENDSButtonMicrophone</key>
		<string>{249, 229}</string>
		<key>OENDSButtonLid</key>
		<string>{0, 0}</string>
		<key>OENDSButtonDebug</key>
		<string>{0, 0}</string>
		<key>OENDSButtonDisplayMode</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
