<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OENDSSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OENDSButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OENDSButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OENDSButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OENDSButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OENDSButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OENDSButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>X</string>
				<key>OEControlListKeyNameKey</key>
				<string>OENDSButtonX</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Y</string>
				<key>OEControlListKeyNameKey</key>
				<string>OENDSButtonY</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left Trigger</string>
				<key>OEControlListKeyNameKey</key>
				<string>OENDSButtonL</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right Trigger</string>
				<key>OEControlListKeyNameKey</key>
				<string>OENDSButtonR</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OENDSButtonStart</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OENDSButtonSelect</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Lid</string>
				<key>OEControlListKeyNameKey</key>
				<string>OENDSButtonLid</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Mic</string>
				<key>OEControlListKeyNameKey</key>
				<string>OENDSButtonMicrophone</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OENDSButtonUp</string>
				<string>OENDSButtonDown</string>
			</array>
			<array>
				<string>OENDSButtonLeft</string>
				<string>OENDSButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OENDSButtonUp</string>
				<string>OENDSButtonRight</string>
				<string>OENDSButtonDown</string>
				<string>OENDSButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>nds</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OENDSButtonUp</string>
		<string>OENDSButtonDown</string>
		<string>OENDSButtonLeft</string>
		<string>OENDSButtonRight</string>
		<string>OENDSButtonA</string>
		<string>OENDSButtonB</string>
		<string>OENDSButtonX</string>
		<string>OENDSButtonY</string>
		<string>OENDSButtonL</string>
		<string>OENDSButtonR</string>
		<string>OENDSButtonStart</string>
		<string>OENDSButtonSelect</string>
		<string>OENDSButtonMicrophone</string>
		<string>OENDSButtonLid</string>
		<string>OENDSButtonDebug</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>1</integer>
	<key>OEResponderClassKey</key>
	<string>OENDSSystemResponder</string>
	<key>OESystemCoverAspectRatio</key>
	<string>0.9</string>
	<key>OESystemIcon</key>
	<string>nds_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.nds</string>
	<key>OESystemName</key>
	<string>Nintendo DS</string>
	<key>OESystemType</key>
	<string>OESystemTypeHandheld</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
