<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>Gamma</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>gamma</string>
		<key>parameters</key>
		<array>
			<string>CRTgamma</string>
			<string>monitorgamma</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Halation</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>halation</string>
		<key>parameters</key>
		<array>
			<string>halation</string>
			<string>width</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Phosphor</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>phosphor</string>
		<key>parameters</key>
		<array>
			<string>phosphor_power</string>
			<string>phosphor_amplitude</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Mask</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>mask</string>
		<key>parameters</key>
		<array>
			<string>mask_type</string>
			<string>aperture_strength</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Geometry</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>geom</string>
		<key>parameters</key>
		<array>
			<string>curvature</string>
			<string>R</string>
			<string>d</string>
			<string>angle_x</string>
			<string>angle_y</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Border</string>
		<key>hidden</key>
		<false/>
		<key>name</key>
		<string>border</string>
		<key>parameters</key>
		<array>
			<string>cornersize</string>
			<string>cornersmooth</string>
			<string>overscan_x</string>
			<string>overscan_y</string>
			<string>aspect_x</string>
			<string>aspect_y</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>default</string>
		<key>hidden</key>
		<true/>
		<key>name</key>
		<string>default</string>
		<key>parameters</key>
		<array/>
	</dict>
</array>
</plist>
