<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OEIntellivisionButtonUp</key>
		<string>OEControllerMicrosoftXbox360DPadUp</string>
		<key>OEIntellivisionButtonDown</key>
		<string>OEControllerMicrosoftXbox360DPadDown</string>
		<key>OEIntellivisionButtonLeft</key>
		<string>OEControllerMicrosoftXbox360DPadLeft</string>
		<key>OEIntellivisionButtonRight</key>
		<string>OEControllerMicrosoftXbox360DPadRight</string>
		<key>OEIntellivisionButtonTopAction</key>
		<string>OEControllerMicrosoftXbox360ButtonY</string>
		<key>OEIntellivisionButtonBottomLeftAction</key>
		<string>OEControllerMicrosoftXbox360ButtonX</string>
		<key>OEIntellivisionButtonBottomRightAction</key>
		<string>OEControllerMicrosoftXbox360ButtonA</string>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OEIntellivisionButtonUp</key>
		<string>OEControllerSonyPS3SixaxisDPadUp</string>
		<key>OEIntellivisionButtonDown</key>
		<string>OEControllerSonyPS3SixaxisDPadDown</string>
		<key>OEIntellivisionButtonLeft</key>
		<string>OEControllerSonyPS3SixaxisDPadLeft</string>
		<key>OEIntellivisionButtonRight</key>
		<string>OEControllerSonyPS3SixaxisDPadRight</string>
		<key>OEIntellivisionButtonTopAction</key>
		<string>OEControllerSonyPS3SixaxisButtonTriangle</string>
		<key>OEIntellivisionButtonBottomLeftAction</key>
		<string>OEControllerSonyPS3SixaxisButtonSquare</string>
		<key>OEIntellivisionButtonBottomRightAction</key>
		<string>OEControllerSonyPS3SixaxisButtonCross</string>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OEIntellivisionButtonUp</key>
		<string>OEControllerLogitechDualActionDPadUp</string>
		<key>OEIntellivisionButtonBottomLeftAction</key>
		<string>OEControllerLogitechDualActionButton1</string>
		<key>OEIntellivisionButtonBottomRightAction</key>
		<string>OEControllerLogitechDualActionButton2</string>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OEIntellivisionButtonUp</key>
		<string>OEControllerSegaSaturnDPadUp</string>
		<key>OEIntellivisionButtonLeft</key>
		<string>OEControllerSegaSaturnDPadLeft</string>
		<key>OEIntellivisionButtonBottomLeftAction</key>
		<string>OEControllerSegaSaturnButtonA</string>
		<key>OEIntellivisionButtonBottomRightAction</key>
		<string>OEControllerSegaSaturnButtonB</string>
	</dict>
	<key>OEControllerGravisGamePadPro</key>
	<dict>
		<key>OEIntellivisionButtonUp</key>
		<string>OEControllerGravisGamePadProDPadUp</string>
		<key>OEIntellivisionButtonLeft</key>
		<string>OEControllerGravisGamePadProDPadLeft</string>
		<key>OEIntellivisionButtonBottomLeftAction</key>
		<string>OEControllerGravisGamePadProButton1</string>
		<key>OEIntellivisionButtonBottomRightAction</key>
		<string>OEControllerGravisGamePadProButton2</string>
	</dict>
	<key>OEControllerRetroUSBSNES</key>
	<dict>
		<key>OEIntellivisionButtonUp</key>
		<string>OEControllerRetroUSBSNESDPadUp</string>
		<key>OEIntellivisionButtonLeft</key>
		<string>OEControllerRetroUSBSNESDPadLeft</string>
		<key>OEIntellivisionButtonBottomLeftAction</key>
		<string>OEControllerRetroUSBSNESButtonY</string>
		<key>OEIntellivisionButtonBottomRightAction</key>
		<string>OEControllerRetroUSBSNESButtonB</string>
	</dict>
	<key>OEControllerPS3NeoGeoPad</key>
	<dict>
		<key>OEIntellivisionButtonUp</key>
		<string>OEControllerPS3NeoGeoPadDPadUp</string>
		<key>OEIntellivisionButtonBottomLeftAction</key>
		<string>OEControllerPS3NeoGeoPadButtonCross</string>
		<key>OEIntellivisionButtonBottomRightAction</key>
		<string>OEControllerPS3NeoGeoPadButtonCircle</string>
	</dict>
	<key>OEControllerRetrode</key>
	<dict>
		<key>OEIntellivisionButtonUp</key>
		<string>OEControllerRetrodeDPadUp</string>
		<key>OEIntellivisionButtonLeft</key>
		<string>OEControllerRetrodeDPadLeft</string>
		<key>OEIntellivisionButtonBottomLeftAction</key>
		<string>OEControllerRetrodeButtonY</string>
		<key>OEIntellivisionButtonBottomRightAction</key>
		<string>OEControllerRetrodeButtonB</string>
	</dict>
	<key>OEControllerRetrolinkSNES</key>
	<dict>
		<key>OEIntellivisionButtonUp</key>
		<string>OEControllerRetrolinkSNESDPadUp</string>
		<key>OEIntellivisionButtonLeft</key>
		<string>OEControllerRetrolinkSNESDPadLeft</string>
		<key>OEIntellivisionButtonBottomLeftAction</key>
		<string>OEControllerRetrolinkSNESButtonY</string>
		<key>OEIntellivisionButtonBottomRightAction</key>
		<string>OEControllerRetrolinkSNESButtonB</string>
	</dict>
	<key>OEControllerRetrolinkN64</key>
	<dict>
		<key>OEIntellivisionButtonUp</key>
		<string>OEControllerRetrolinkN64DPadUp</string>
		<key>OEIntellivisionButtonBottomLeftAction</key>
		<string>OEControllerRetrolinkN64ButtonA</string>
		<key>OEIntellivisionButtonBottomRightAction</key>
		<string>OEControllerRetrolinkN64CPadDown</string>
	</dict>
	<key>OEControllerAdaptoidN64</key>
	<dict>
		<key>OEIntellivisionButtonUp</key>
		<string>OEControllerAdaptoidN64DPadUp</string>
		<key>OEIntellivisionButtonDown</key>
		<string>OEControllerAdaptoidN64DPadDown</string>
		<key>OEIntellivisionButtonLeft</key>
		<string>OEControllerAdaptoidN64DPadLeft</string>
		<key>OEIntellivisionButtonRight</key>
		<string>OEControllerAdaptoidN64DPadRight</string>
		<key>OEIntellivisionButtonBottomLeftAction</key>
		<string>OEControllerAdaptoidN64ButtonA</string>
		<key>OEIntellivisionButtonBottomRightAction</key>
		<string>OEControllerAdaptoidN64CPadDown</string>
	</dict>
	<key>OEControllerWiimote</key>
	<dict>
		<key>OEIntellivisionButtonUp</key>
		<string>OEControllerWiimoteDPadRight</string>
		<key>OEIntellivisionButtonDown</key>
		<string>OEControllerWiimoteDPadLeft</string>
		<key>OEIntellivisionButtonLeft</key>
		<string>OEControllerWiimoteDPadUp</string>
		<key>OEIntellivisionButtonRight</key>
		<string>OEControllerWiimoteDPadDown</string>
		<key>OEIntellivisionButtonBottomLeftAction</key>
		<string>OEControllerWiimoteButton1</string>
		<key>OEIntellivisionButtonBottomRightAction</key>
		<string>OEControllerWiimoteButton2</string>
	</dict>
	<key>OEControllerNintendoWiiUProController</key>
	<dict>
		<key>OEIntellivisionButtonUp</key>
		<string>OEControllerNintendoWiiUProControllerDPadUp</string>
		<key>OEIntellivisionButtonDown</key>
		<string>OEControllerNintendoWiiUProControllerDPadDown</string>
		<key>OEIntellivisionButtonLeft</key>
		<string>OEControllerNintendoWiiUProControllerDPadLeft</string>
		<key>OEIntellivisionButtonRight</key>
		<string>OEControllerNintendoWiiUProControllerDPadRight</string>
		<key>OEIntellivisionButtonBottomLeftAction</key>
		<string>OEControllerNintendoWiiUProControllerButtonY</string>
		<key>OEIntellivisionButtonBottomRightAction</key>
		<string>OEControllerNintendoWiiUProControllerButtonB</string>
	</dict>
	<key>OEControllerSonyPS4Dualshock4</key>
	<dict>
		<key>OEIntellivisionButtonUp</key>
		<string>OEControllerSonyPS4Dualshock4DPadUp</string>
		<key>OEIntellivisionButtonBottomLeftAction</key>
		<string>OEControllerSonyPS4Dualshock4ButtonSquare</string>
		<key>OEIntellivisionButtonBottomRightAction</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCross</string>
	</dict>
	<key>OEControllerSteelSeriesWireless</key>
	<dict>
		<key>OEIntellivisionButtonUp</key>
		<string>OEControllerSteelSeriesWirelessDPadUp</string>
		<key>OEIntellivisionButtonDown</key>
		<string>OEControllerSteelSeriesWirelessDPadDown</string>
		<key>OEIntellivisionButtonLeft</key>
		<string>OEControllerSteelSeriesWirelessDPadLeft</string>
		<key>OEIntellivisionButtonRight</key>
		<string>OEControllerSteelSeriesWirelessDPadRight</string>
		<key>OEIntellivisionButtonTopAction</key>
		<string>OEControllerSteelSeriesWirelessButtonY</string>
		<key>OEIntellivisionButtonBottomLeftAction</key>
		<string>OEControllerSteelSeriesWirelessButtonX</string>
		<key>OEIntellivisionButtonBottomRightAction</key>
		<string>OEControllerSteelSeriesWirelessButtonA</string>
	</dict>
</dict>
</plist>
