<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.openemu.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 OpenEmu Team. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>OEArcadeSystemController</string>
	<key>OEArchiveIDs</key>
	<array>
		<integer>101</integer>
	</array>
	<key>OEControlListKey</key>
	<array>
		<array>
			<array>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Up</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEArcadeButtonUp[@]</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Down</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEArcadeButtonDown[@]</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Left</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEArcadeButtonLeft[@]</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Right</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEArcadeButtonRight[@]</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Insert Coin</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEArcadeButtonInsertCoin[@]</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Player 1 Start</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEArcadeButtonP1Start[@]</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Button 1</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEArcadeButton1[@]</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Button 2</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEArcadeButton2[@]</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Button 3</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEArcadeButton3[@]</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Button 4</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEArcadeButton4[@]</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Button 5</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEArcadeButton5[@]</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Button 6</string>
					<key>OEControlListKeyNameKey</key>
					<string>OEArcadeButton6[@]</string>
				</dict>
			</array>
		</array>
	</array>
	<key>OEFileSuffixes</key>
	<array>
		<string>zip</string>
	</array>
	<key>OESystemIcon</key>
	<string>arcade_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.arcade</string>
	<key>OESystemName</key>
	<string>Arcade</string>
	<key>OESystemPluginName</key>
	<string>Arcade</string>
</dict>
</plist>
