<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEArcadeSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Configure</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeUIConfigure</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Insert Coin</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButtonInsertCoin</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Player Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButtonP1Start</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Service</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButtonService</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButton1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButton2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButton3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 4</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButton4</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 5</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButton5</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 6</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButton6</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEArcadeButtonUp</string>
				<string>OEArcadeButtonDown</string>
			</array>
			<array>
				<string>OEArcadeButtonLeft</string>
				<string>OEArcadeButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEArcadeButtonUp</string>
				<string>OEArcadeButtonRight</string>
				<string>OEArcadeButtonDown</string>
				<string>OEArcadeButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>zip</string>
		<string>7z</string>
		<string>chd</string>
		<string>bin</string>
		<string>rom</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEArcadeButtonUp</string>
		<string>OEArcadeButtonDown</string>
		<string>OEArcadeButtonLeft</string>
		<string>OEArcadeButtonRight</string>
		<string>OEArcadeButton1</string>
		<string>OEArcadeButton2</string>
		<string>OEArcadeButton3</string>
		<string>OEArcadeButton4</string>
		<string>OEArcadeButton5</string>
		<string>OEArcadeButton6</string>
		<string>OEArcadeButtonP1Start</string>
		<string>OEArcadeButtonInsertCoin</string>
		<string>OEArcadeButtonService</string>
		<string>OEArcadeUIConfigure</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>8</integer>
	<key>OEResponderClassKey</key>
	<string>OEArcadeSystemResponder</string>
	<key>OESystemIcon</key>
	<string>arcade_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.arcade</string>
	<key>OESystemName</key>
	<string>Arcade</string>
	<key>OESystemType</key>
	<string>OESystemTypeArcade</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaArcadeROM</string>
	</array>
</dict>
</plist>
