<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerMicrosoftXbox360DPadUp</string>
		<key>OEArcadeButtonDown</key>
		<string>OEControllerMicrosoftXbox360DPadDown</string>
		<key>OEArcadeButtonLeft</key>
		<string>OEControllerMicrosoftXbox360DPadLeft</string>
		<key>OEArcadeButtonRight</key>
		<string>OEControllerMicrosoftXbox360DPadRight</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerMicrosoftXbox360ButtonX</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerMicrosoftXbox360ButtonY</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerMicrosoftXbox360ButtonA</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerMicrosoftXbox360ButtonB</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerMicrosoftXbox360ButtonRightShoulder</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerMicrosoftXbox360ButtonRightTrigger</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerMicrosoftXbox360ButtonStart</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerMicrosoftXbox360ButtonBack</string>
		<key>OEArcadeUIConfigure</key>
		<string>OEControllerMicrosoftXbox360ButtonHome</string>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerSonyPS3SixaxisDPadUp</string>
		<key>OEArcadeButtonDown</key>
		<string>OEControllerSonyPS3SixaxisDPadDown</string>
		<key>OEArcadeButtonLeft</key>
		<string>OEControllerSonyPS3SixaxisDPadLeft</string>
		<key>OEArcadeButtonRight</key>
		<string>OEControllerSonyPS3SixaxisDPadRight</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerSonyPS3SixaxisButtonSquare</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerSonyPS3SixaxisButtonTriangle</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerSonyPS3SixaxisButtonCross</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerSonyPS3SixaxisButtonCircle</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerSonyPS3SixaxisButtonR1</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerSonyPS3SixaxisButtonR2</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerSonyPS3SixaxisButtonStart</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerSonyPS3SixaxisButtonSelect</string>
		<key>OEArcadeUIConfigure</key>
		<string>OEControllerSonyPS3SixaxisButtonHome</string>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerLogitechDualActionDPadUp</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerLogitechDualActionButton1</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerLogitechDualActionButton4</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerLogitechDualActionButton2</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerLogitechDualActionButton3</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerLogitechDualActionButtonRightShoulder</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerLogitechDualActionButtonRightTrigger</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerLogitechDualActionButtonStart</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerLogitechDualActionButtonSelect</string>
		<key>OEArcadeUIConfigure</key>
		<string>OEControllerLogitechDualActionButtonLeftShoulder</string>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerSegaSaturnDPadUp</string>
		<key>OEArcadeButtonLeft</key>
		<string>OEControllerSegaSaturnDPadLeft</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerSegaSaturnButtonX</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerSegaSaturnButtonY</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerSegaSaturnButtonZ</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerSegaSaturnButtonA</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerSegaSaturnButtonB</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerSegaSaturnButtonC</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerSegaSaturnButtonStart</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerSegaSaturnButtonRightShoulder</string>
		<key>OEArcadeUIConfigure</key>
		<string>OEControllerSegaSaturnButtonLeftShoulder</string>
	</dict>
	<key>OEControllerGravisGamePadPro</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerGravisGamePadProDPadUp</string>
		<key>OEArcadeButtonLeft</key>
		<string>OEControllerGravisGamePadProDPadLeft</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerGravisGamePadProButton1</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerGravisGamePadProButton4</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerGravisGamePadProButton2</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerGravisGamePadProButton3</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerGravisGamePadProButtonRightShoulder</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerGravisGamePadProButtonRightTrigger</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerGravisGamePadProButtonStart</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerGravisGamePadProButtonSelect</string>
		<key>OEArcadeUIConfigure</key>
		<string>OEControllerGravisGamePadProButtonLeftShoulder</string>
	</dict>
	<key>OEControllerRetroUSBSNES</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerRetroUSBSNESDPadUp</string>
		<key>OEArcadeButtonLeft</key>
		<string>OEControllerRetroUSBSNESDPadLeft</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerRetroUSBSNESButtonX</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerRetroUSBSNESButtonLeftShoulder</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerRetroUSBSNESButtonRightShoulder</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerRetroUSBSNESButtonY</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerRetroUSBSNESButtonB</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerRetroUSBSNESButtonA</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerRetroUSBSNESButtonStart</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerRetroUSBSNESButtonSelect</string>
	</dict>
	<key>OEControllerPS3NeoGeoPad</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerPS3NeoGeoPadDPadUp</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerPS3NeoGeoPadButtonSquare</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerPS3NeoGeoPadButtonTriangle</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerPS3NeoGeoPadButtonL1</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerPS3NeoGeoPadButtonCross</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerPS3NeoGeoPadButtonCircle</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerPS3NeoGeoPadButtonR1</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerPS3NeoGeoPadButtonStart</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerPS3NeoGeoPadButtonSelect</string>
		<key>OEArcadeUIConfigure</key>
		<string>OEControllerPS3NeoGeoPadButtonHome</string>
	</dict>
	<key>OEControllerRetrode</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerRetrodeDPadUp</string>
		<key>OEArcadeButtonLeft</key>
		<string>OEControllerRetrodeDPadLeft</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerRetrodeButtonX</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerRetrodeButtonLeftShoulder</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerRetrodeButtonRightShoulder</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerRetrodeButtonY</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerRetrodeButtonB</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerRetrodeButtonA</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerRetrodeButtonStart</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerRetrodeButtonSelect</string>
	</dict>
	<key>OEControllerRetrolinkSNES</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerRetrolinkSNESDPadUp</string>
		<key>OEArcadeButtonLeft</key>
		<string>OEControllerRetrolinkSNESDPadLeft</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerRetrolinkSNESButtonX</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerRetrolinkSNESButtonLeftShoulder</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerRetrolinkSNESButtonRightShoulder</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerRetrolinkSNESButtonY</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerRetrolinkSNESButtonB</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerRetrolinkSNESButtonA</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerRetrolinkSNESButtonStart</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerRetrolinkSNESButtonSelect</string>
	</dict>
	<key>OEControllerRetrolinkN64</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerRetrolinkN64DPadUp</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerRetrolinkN64CPadUp</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerRetrolinkN64ButtonLeftShoulder</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerRetrolinkN64ButtonRightShoulder</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerRetrolinkN64CPadLeft</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerRetrolinkN64CPadDown</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerRetrolinkN64CPadRight</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerRetrolinkN64ButtonStart</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerRetrolinkN64ButtonZ</string>
	</dict>
	<key>OEControllerAdaptoidN64</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerAdaptoidN64DPadUp</string>
		<key>OEArcadeButtonDown</key>
		<string>OEControllerAdaptoidN64DPadDown</string>
		<key>OEArcadeButtonLeft</key>
		<string>OEControllerAdaptoidN64DPadLeft</string>
		<key>OEArcadeButtonRight</key>
		<string>OEControllerAdaptoidN64DPadRight</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerAdaptoidN64ButtonB</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerAdaptoidN64CPadLeft</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerAdaptoidN64CPadUp</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerAdaptoidN64ButtonA</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerAdaptoidN64CPadDown</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerAdaptoidN64CPadRight</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerAdaptoidN64ButtonStart</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerAdaptoidN64ButtonZ</string>
		<key>OEArcadeUIConfigure</key>
		<string>OEControllerAdaptoidN64ButtonLeftShoulder</string>
	</dict>
	<key>OEControllerNintendoWiiUProController</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerNintendoWiiUProControllerDPadUp</string>
		<key>OEArcadeButtonDown</key>
		<string>OEControllerNintendoWiiUProControllerDPadDown</string>
		<key>OEArcadeButtonLeft</key>
		<string>OEControllerNintendoWiiUProControllerDPadLeft</string>
		<key>OEArcadeButtonRight</key>
		<string>OEControllerNintendoWiiUProControllerDPadRight</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerNintendoWiiUProControllerButtonY</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerNintendoWiiUProControllerButtonX</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerNintendoWiiUProControllerButtonB</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerNintendoWiiUProControllerButtonA</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerNintendoWiiUProControllerButtonR</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerNintendoWiiUProControllerButtonZR</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerNintendoWiiUProControllerButtonPlus</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerNintendoWiiUProControllerButtonMinus</string>
		<key>OEArcadeUIConfigure</key>
		<string>OEControllerNintendoWiiUProControllerButtonHome</string>
	</dict>
	<key>OEControllerSonyPS4Dualshock4</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerSonyPS4Dualshock4DPadUp</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerSonyPS4Dualshock4ButtonSquare</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerSonyPS4Dualshock4ButtonTriangle</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCross</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCircle</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerSonyPS4Dualshock4ButtonR1</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerSonyPS4Dualshock4ButtonR2</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerSonyPS4Dualshock4ButtonOptions</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerSonyPS4Dualshock4ButtonShare</string>
		<key>OEArcadeUIConfigure</key>
		<string>OEControllerSonyPS4Dualshock4ButtonHome</string>
	</dict>
	<key>OEControllerGCExtendedGamepadProfile</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerGCExtendedGamepadProfileDPadUp</string>
		<key>OEArcadeButtonDown</key>
		<string>OEControllerGCExtendedGamepadProfileDPadDown</string>
		<key>OEArcadeButtonLeft</key>
		<string>OEControllerGCExtendedGamepadProfileDPadLeft</string>
		<key>OEArcadeButtonRight</key>
		<string>OEControllerGCExtendedGamepadProfileDPadRight</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerGCExtendedGamepadProfileButtonX</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerGCExtendedGamepadProfileButtonY</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerGCExtendedGamepadProfileButtonA</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerGCExtendedGamepadProfileButtonB</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerGCExtendedGamepadProfileButtonR1</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerGCExtendedGamepadProfileButtonR2</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerGCExtendedGamepadProfileButtonHome</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerGCExtendedGamepadProfileButtonL1</string>
		<key>OEArcadeUIConfigure</key>
		<string>OEControllerGCExtendedGamepadProfileButtonL2</string>
	</dict>
	<key>OEControllerNintendoSwitchProController</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerNintendoSwitchProControllerDPadUp</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerNintendoSwitchProControllerButtonY</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerNintendoSwitchProControllerButtonX</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerNintendoSwitchProControllerButtonB</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerNintendoSwitchProControllerButtonA</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerNintendoSwitchProControllerButtonR</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerNintendoSwitchProControllerButtonZR</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerNintendoSwitchProControllerButtonPlus</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerNintendoSwitchProControllerButtonMinus</string>
		<key>OEArcadeUIConfigure</key>
		<string>OEControllerNintendoSwitchProControllerButtonHome</string>
	</dict>
	<key>OEControllerMicrosoftXboxOne</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerMicrosoftXboxOneDPadUp</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerMicrosoftXboxOneButtonX</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerMicrosoftXboxOneButtonY</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerMicrosoftXboxOneButtonA</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerMicrosoftXboxOneButtonB</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerMicrosoftXboxOneButtonRightShoulder</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerMicrosoftXboxOneButtonRightTrigger</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerMicrosoftXboxOneButtonMenu</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerMicrosoftXboxOneButtonView</string>
		<key>OEArcadeUIConfigure</key>
		<string>OEControllerMicrosoftXboxOneButtonXbox</string>
	</dict>
	<key>OEControllerRetroBitSegaBluetooth8ButtonArcadePad</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadDPadUp</string>
		<key>OEArcadeButton1</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonX</string>
		<key>OEArcadeButton2</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonY</string>
		<key>OEArcadeButton3</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonZ</string>
		<key>OEArcadeButton4</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonA</string>
		<key>OEArcadeButton5</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonB</string>
		<key>OEArcadeButton6</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonC</string>
		<key>OEArcadeButtonP1Start</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonStart</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonSelect</string>
		<key>OEArcadeUIConfigure</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonHome</string>
	</dict>
</dict>
</plist>
