<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_arcade.png</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_arcade_mask.png</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEArcadeButtonUp</key>
		<string>{169, 154}</string>
		<key>OEArcadeButtonDown</key>
		<string>{169, 110}</string>
		<key>OEArcadeButtonLeft</key>
		<string>{147, 132}</string>
		<key>OEArcadeButtonRight</key>
		<string>{192, 132}</string>
		<key>OEArcadeButtonP1Start</key>
		<string>{299, 117}</string>
		<key>OEArcadeButtonInsertCoin</key>
		<string>{252, 117}</string>
		<key>OEArcadeButton5</key>
		<string>{456, 130}</string>
		<key>OEArcadeButton4</key>
		<string>{413, 95}</string>
		<key>OEArcadeButton2</key>
		<string>{416, 164}</string>
		<key>OEArcadeButton1</key>
		<string>{373, 130}</string>
		<key>OEArcadeButton3</key>
		<string>{166, 220}</string>
		<key>OEArcadeButton6</key>
		<string>{423, 220}</string>
	</dict>
</dict>
</plist>
