<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_gc</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_gc_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEGCButtonUp</key>
		<string>{0, 0}</string>
		<key>OEGCButtonDown</key>
		<string>{0, 0}</string>
		<key>OEGCButtonLeft</key>
		<string>{0, 0}</string>
		<key>OEGCButtonRight</key>
		<string>{0, 0}</string>
		<key>OEGCAnalogUp</key>
		<string>{0, 0}</string>
		<key>OEGCAnalogDown</key>
		<string>{0, 0}</string>
		<key>OEGCAnalogLeft</key>
		<string>{0, 0}</string>
		<key>OEGCAnalogRight</key>
		<string>{0, 0}</string>
		<key>OEGCAnalogCUp</key>
		<string>{0, 0}</string>
		<key>OEGCAnalogCDown</key>
		<string>{0, 0}</string>
		<key>OEGCAnalogCLeft</key>
		<string>{0, 0}</string>
		<key>OEGCAnalogCRight</key>
		<string>{0, 0}</string>
		<key>OEGCButtonA</key>
		<string>{0, 0}</string>
		<key>OEGCButtonB</key>
		<string>{0, 0}</string>
		<key>OEGCButtonX</key>
		<string>{0, 0}</string>
		<key>OEGCButtonY</key>
		<string>{0, 0}</string>
		<key>OEGCButtonL</key>
		<string>{0, 0}</string>
		<key>OEGCButtonR</key>
		<string>{0, 0}</string>
		<key>OEGCButtonZ</key>
		<string>{0, 0}</string>
		<key>OEGCButtonStart</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
