<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OESNESButtonUp</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>12</integer>
		</dict>
		<key>OESNESButtonDown</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>13</integer>
		</dict>
		<key>OESNESButtonLeft</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>14</integer>
		</dict>
		<key>OESNESButtonRight</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>15</integer>
		</dict>
		<key>OESNESButtonA</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>2</integer>
		</dict>
		<key>OESNESButtonB</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>1</integer>
		</dict>
		<key>OESNESButtonX</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>4</integer>
		</dict>
		<key>OESNESButtonY</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>3</integer>
		</dict>
		<key>OESNESButtonTriggerLeft</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>5</integer>
		</dict>
		<key>OESNESButtonTriggerRight</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>6</integer>
		</dict>
		<key>OESNESButtonStart</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>9</integer>
		</dict>
		<key>OESNESButtonSelect</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OESNESButtonUp</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>5</integer>
		</dict>
		<key>OESNESButtonDown</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>7</integer>
		</dict>
		<key>OESNESButtonLeft</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>8</integer>
		</dict>
		<key>OESNESButtonRight</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>6</integer>
		</dict>
		<key>OESNESButtonA</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>14</integer>
		</dict>
		<key>OESNESButtonB</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>15</integer>
		</dict>
		<key>OESNESButtonX</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>13</integer>
		</dict>
		<key>OESNESButtonY</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>16</integer>
		</dict>
		<key>OESNESButtonTriggerLeft</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>11</integer>
		</dict>
		<key>OESNESButtonTriggerRight</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>12</integer>
		</dict>
		<key>OESNESButtonStart</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>4</integer>
		</dict>
		<key>OESNESButtonSelect</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OESNESButtonUp</key>
		<dict>
			<key>Type</key>
			<string>HatSwitch</string>
			<key>Direction</key>
			<string>N</string>
		</dict>
		<key>OESNESButtonA</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>3</integer>
		</dict>
		<key>OESNESButtonB</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>2</integer>
		</dict>
		<key>OESNESButtonX</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>4</integer>
		</dict>
		<key>OESNESButtonY</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>1</integer>
		</dict>
		<key>OESNESButtonTriggerLeft</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>5</integer>
		</dict>
		<key>OESNESButtonTriggerRight</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>6</integer>
		</dict>
		<key>OESNESButtonStart</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>9</integer>
		</dict>
		<key>OESNESButtonSelect</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OESNESButtonUp</key>
		<dict>
			<key>Type</key>
			<string>Axis</string>
			<key>Axis</key>
			<string>Y</string>
			<key>Direction</key>
			<string>-1</string>
		</dict>
		<key>OESNESButtonLeft</key>
		<dict>
			<key>Type</key>
			<string>Axis</string>
			<key>Axis</key>
			<string>X</string>
			<key>Direction</key>
			<string>-1</string>
		</dict>
		<key>OESNESButtonA</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>3</integer>
		</dict>
		<key>OESNESButtonB</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>2</integer>
		</dict>
		<key>OESNESButtonX</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>6</integer>
		</dict>
		<key>OESNESButtonY</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>5</integer>
		</dict>
		<key>OESNESButtonTriggerLeft</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>7</integer>
		</dict>
		<key>OESNESButtonTriggerRight</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>8</integer>
		</dict>
		<key>OESNESButtonStart</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>9</integer>
		</dict>
		<key>OESNESButtonSelect</key>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Number</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
