<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_snes_eu</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_snes_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OESNESButtonUp</key>
		<string>{127, 242}</string>
		<key>OESNESButtonDown</key>
		<string>{127, 198}</string>
		<key>OESNESButtonLeft</key>
		<string>{105, 220}</string>
		<key>OESNESButtonRight</key>
		<string>{150, 220}</string>
		<key>OESNESButtonStart</key>
		<string>{257, 205}</string>
		<key>OESNESButtonSelect</key>
		<string>{210, 205}</string>
		<key>OESNESButtonA</key>
		<string>{414, 218}</string>
		<key>OESNESButtonB</key>
		<string>{371, 183}</string>
		<key>OESNESButtonX</key>
		<string>{374, 252}</string>
		<key>OESNESButtonY</key>
		<string>{331, 218}</string>
		<key>OESNESButtonTriggerLeft</key>
		<string>{124, 308}</string>
		<key>OESNESButtonTriggerRight</key>
		<string>{381, 308}</string>
	</dict>
</dict>
</plist>
