<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_snes_eu.png</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_snes_mask.png</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OESNESButtonUp</key>
		<string>{119, 242}</string>
		<key>OESNESButtonDown</key>
		<string>{119, 198}</string>
		<key>OESNESButtonLeft</key>
		<string>{97, 220}</string>
		<key>OESNESButtonRight</key>
		<string>{142, 220}</string>
		<key>OESNESButtonStart</key>
		<string>{249, 205}</string>
		<key>OESNESButtonSelect</key>
		<string>{202, 205}</string>
		<key>OESNESButtonA</key>
		<string>{406, 218}</string>
		<key>OESNESButtonB</key>
		<string>{363, 183}</string>
		<key>OESNESButtonX</key>
		<string>{366, 252}</string>
		<key>OESNESButtonY</key>
		<string>{323, 218}</string>
		<key>OESNESButtonTriggerLeft</key>
		<string>{116, 308}</string>
		<key>OESNESButtonTriggerRight</key>
		<string>{373, 308}</string>
	</dict>
</dict>
</plist>
