<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_snes_eu.png</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_snes_mask.png</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OESNESButtonUp</key>
		<string>{169, 154}</string>
		<key>OESNESButtonDown</key>
		<string>{169, 110}</string>
		<key>OESNESButtonLeft</key>
		<string>{147, 132}</string>
		<key>OESNESButtonRight</key>
		<string>{192, 132}</string>
		<key>OESNESButtonStart</key>
		<string>{299, 117}</string>
		<key>OESNESButtonSelect</key>
		<string>{252, 117}</string>
		<key>OESNESButtonA</key>
		<string>{456, 130}</string>
		<key>OESNESButtonB</key>
		<string>{413, 95}</string>
		<key>OESNESButtonX</key>
		<string>{416, 164}</string>
		<key>OESNESButtonY</key>
		<string>{373, 130}</string>
		<key>OESNESButtonTriggerLeft</key>
		<string>{166, 220}</string>
		<key>OESNESButtonTriggerRight</key>
		<string>{423, 220}</string>
	</dict>
</dict>
</plist>
