<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.openemu.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 OpenEmu Team. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>OESNESSystemController</string>
	<key>OESystemName</key>
	<string>Super Nintendo (SNES)</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.snes</string>
	<key>OENumberOfPlayersKey</key>
	<integer>8</integer>
	<key>OEResponderClassKey</key>
	<string>OESNESSystemResponder</string>
	<key>OEFileSuffixes</key>
	<array>
		<string>smc</string>
		<string>snes</string>
		<string>fig</string>
		<string>sfc</string>
	</array>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonSelect</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonStart</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>X</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonX</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Y</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonY</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonTriggerLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R</string>
				<key>OEControlListKeyNameKey</key>
				<string>OESNESButtonTriggerRight</string>
			</dict>
		</array>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OESNESButtonUp</string>
		<string>OESNESButtonDown</string>
		<string>OESNESButtonLeft</string>
		<string>OESNESButtonRight</string>
		<string>OESNESButtonA</string>
		<string>OESNESButtonB</string>
		<string>OESNESButtonX</string>
		<string>OESNESButtonY</string>
		<string>OESNESButtonTriggerLeft</string>
		<string>OESNESButtonTriggerRight</string>
		<string>OESNESButtonStart</string>
		<string>OESNESButtonSelect</string>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OESNESButtonUp</string>
				<string>OESNESButtonRight</string>
				<string>OESNESButtonDown</string>
				<string>OESNESButtonLeft</string>
			</array>
		</array>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OESNESButtonUp</string>
				<string>OESNESButtonDown</string>
			</array>
			<array>
				<string>OESNESButtonLeft</string>
				<string>OESNESButtonRight</string>
			</array>
		</array>
	</dict>
	<key>OERequiredFiles</key>
	<dict>
		<key>cx4.rom</key>
		<dict>
			<key>Description</key>
			<string>Cx4 coprocessor</string>
			<key>Size</key>
			<integer>3072</integer>
			<key>MD5</key>
			<string>037AC4296B6B6A5C47C440188D3C72E3</string>
		</dict>
		<key>dsp1.rom</key>
		<dict>
			<key>Description</key>
			<string>DSP1/1A coprocessor</string>
			<key>Size</key>
			<integer>8192</integer>
			<key>MD5</key>
			<string>428FDB968D54353D9C9ECED1B0586671</string>
		</dict>
		<key>dsp1b.rom</key>
		<dict>
			<key>Description</key>
			<string>DSP1B coprocessor</string>
			<key>Size</key>
			<integer>8192</integer>
			<key>MD5</key>
			<string>332273CC0DF5775D3803F2FD88E95D18</string>
		</dict>
		<key>dsp2.rom</key>
		<dict>
			<key>Description</key>
			<string>DSP2 coprocessor</string>
			<key>Size</key>
			<integer>8192</integer>
			<key>MD5</key>
			<string>9EBBDCEC67C0C01D5A0593D3CF167C9E</string>
		</dict>
		<key>dsp3.rom</key>
		<dict>
			<key>Description</key>
			<string>DSP3 coprocessor</string>
			<key>Size</key>
			<integer>8192</integer>
			<key>MD5</key>
			<string>484908D68405D44E2BE757B4E1E75D15</string>
		</dict>
		<key>dsp4.rom</key>
		<dict>
			<key>Description</key>
			<string>DSP4 coprocessor</string>
			<key>Size</key>
			<integer>8192</integer>
			<key>MD5</key>
			<string>F229FDA2D7B33C5A218CBA28147AB9B8</string>
		</dict>
		<key>st010.rom</key>
		<dict>
			<key>Description</key>
			<string>ST-0010 coprocessor</string>
			<key>Size</key>
			<integer>53248</integer>
			<key>MD5</key>
			<string>636093910FBAFF60C8B327BE00AEFBD9</string>
		</dict>
		<key>st011.rom</key>
		<dict>
			<key>Description</key>
			<string>ST-0011 coprocessor</string>
			<key>Size</key>
			<integer>53248</integer>
			<key>MD5</key>
			<string>5C209CE0283632B6574AD835BF862BEE</string>
		</dict>
		<key>st018.rom</key>
		<dict>
			<key>Description</key>
			<string>ST-0018 coprocessor</string>
			<key>Size</key>
			<integer>163840</integer>
			<key>MD5</key>
			<string>DAFAE0E0C71C924075811C595C61A30E</string>
		</dict>
	</dict>
</dict>
</plist>
