<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.openemu.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 OpenEmu Team. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>OESNESSystemController</string>
	<key>OESystemPluginName</key>
	<string>Super Nintendo (SNES)</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.snes</string>
	<key>OEArchiveIDs</key>
	<array>
		<integer>47</integer>
	</array>
	<key>OEFileSuffixes</key>
	<array>
		<string>smc</string>
		<string>snes</string>
		<string>fig</string>
		<string>sfc</string>
	</array>
	<key>OEControlListKey</key>
	<array>
		<array>
			<array>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Up</string>
					<key>OEControlListKeyNameKey</key>
					<string>OESNESButtonUp[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{169, 154}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Down</string>
					<key>OEControlListKeyNameKey</key>
					<string>OESNESButtonDown[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{169, 110}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Left</string>
					<key>OEControlListKeyNameKey</key>
					<string>OESNESButtonLeft[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{147, 132}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Right</string>
					<key>OEControlListKeyNameKey</key>
					<string>OESNESButtonRight[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{192, 132}</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Select</string>
					<key>OEControlListKeyNameKey</key>
					<string>OESNESButtonSelect[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{252, 117}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Start</string>
					<key>OEControlListKeyNameKey</key>
					<string>OESNESButtonStart[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{299, 117}</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>A</string>
					<key>OEControlListKeyNameKey</key>
					<string>OESNESButtonA[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{456, 130}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>B</string>
					<key>OEControlListKeyNameKey</key>
					<string>OESNESButtonB[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{413, 95}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>X</string>
					<key>OEControlListKeyNameKey</key>
					<string>OESNESButtonX[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{416, 164}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Y</string>
					<key>OEControlListKeyNameKey</key>
					<string>OESNESButtonY[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{373, 130}</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Trigger Left</string>
					<key>OEControlListKeyNameKey</key>
					<string>OESNESButtonTriggerLeft[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{166, 220}</string>
				</dict>
				<dict>
					<key>OEControlListKeyLabelKey</key>
					<string>Trigger Right</string>
					<key>OEControlListKeyNameKey</key>
					<string>OESNESButtonTriggerRight[@]</string>
					<key>OEControlListKeyPositionKey</key>
					<string>{423, 220}</string>
				</dict>
			</array>
		</array>
	</array>
</dict>
</plist>
