<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jma</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JMA archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JMAf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sfc</string>
				<string>smc</string>
				<string>swc</string>
				<string>fig</string>
				<string>gd3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>CART.icns</string>
			<key>CFBundleTypeName</key>
			<string>Snes9x ROM Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CART</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>srm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SRAM.icns</string>
			<key>CFBundleTypeName</key>
			<string>Snes9x SRAM Data</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SRAM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>frz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SAVE.icns</string>
			<key>CFBundleTypeName</key>
			<string>Snes9x Freeze Data</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SAVE</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>smv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Snes9x Movie Data</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SMOV</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Snes9x SPC Data</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SSPC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cht</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Snes9x Cheat Data</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SCHT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Snes9x RTC Data</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SRTC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Snes9x (ppc)</string>
	<key>CFBundleGetInfoString</key>
	<string>Snes9x 1.53, Copyright 1996-2011 Snes9x developers.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Snes9x Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Snes9x Help</string>
	<key>CFBundleIconFile</key>
	<string>APPL.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.snes9x.macos.snes9x</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Snes9x</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.53</string>
	<key>CFBundleSignature</key>
	<string>~9X~</string>
	<key>CFBundleVersion</key>
	<string>1.53</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
