<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>3</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>ProductBuildVersion</key>
	<string>9M2729</string>
	<key>ProjectName</key>
	<string>DevToolsWizardTemplates</string>
	<key>SourceVersion</key>
	<string>11600000</string>
</dict>
</plist>
