<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OESystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE7800ButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE7800ButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE7800ButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE7800ButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Fire 1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE7800ButtonFire1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Fire 2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE7800ButtonFire2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE7800ButtonSelect</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Console Pause</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE7800ButtonPause</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Console Reset</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE7800ButtonReset</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L Diff</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE7800ButtonLeftDiff</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R Diff</string>
				<key>OEControlListKeyNameKey</key>
				<string>OE7800ButtonRightDiff</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OE7800ButtonUp</string>
				<string>OE7800ButtonDown</string>
			</array>
			<array>
				<string>OE7800ButtonLeft</string>
				<string>OE7800ButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OE7800ButtonUp</string>
				<string>OE7800ButtonRight</string>
				<string>OE7800ButtonDown</string>
				<string>OE7800ButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>a78</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OE7800ButtonUp</string>
		<string>OE7800ButtonDown</string>
		<string>OE7800ButtonLeft</string>
		<string>OE7800ButtonRight</string>
		<string>OE7800ButtonFire1</string>
		<string>OE7800ButtonFire2</string>
		<string>OE7800ButtonSelect</string>
		<string>OE7800ButtonPause</string>
		<string>OE7800ButtonReset</string>
		<string>OE7800ButtonLeftDiff</string>
		<string>OE7800ButtonRightDiff</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OE7800SystemResponder</string>
	<key>OESystemIcon</key>
	<string>atari7800_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.7800</string>
	<key>OESystemName</key>
	<string>Atari 7800</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
