<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OE7800ButtonUp</key>
	<integer>82</integer>
	<key>OE7800ButtonDown</key>
	<integer>81</integer>
	<key>OE7800ButtonLeft</key>
	<integer>80</integer>
	<key>OE7800ButtonRight</key>
	<integer>79</integer>
	<key>OE7800ButtonFire1</key>
	<integer>4</integer>
	<key>OE7800ButtonFire2</key>
	<integer>22</integer>
	<key>OE7800ButtonSelect</key>
	<integer>40</integer>
	<key>OE7800ButtonPause</key>
	<integer>229</integer>
	<key>OE7800ButtonReset</key>
	<integer>20</integer>
	<key>OE7800ButtonLeftDiff</key>
	<integer>26</integer>
	<key>OE7800ButtonRightDiff</key>
	<integer>21</integer>
</dict>
</plist>
