<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEN64SystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<string>D-Pad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64ButtonDPadUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64ButtonDPadDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64ButtonDPadLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64ButtonDPadRight</string>
			</dict>
		</array>
		<array>
			<string>Analog</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64AnalogUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64AnalogDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64AnalogLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64AnalogRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64ButtonL</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64ButtonR</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64ButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64ButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64ButtonStart</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Z</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64ButtonZ</string>
			</dict>
		</array>
		<array>
			<string>C-Pad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64ButtonCUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64ButtonCDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64ButtonCLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEN64ButtonCRight</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAnalogControlsKey</key>
		<array>
			<string>OEN64AnalogUp</string>
			<string>OEN64AnalogDown</string>
			<string>OEN64AnalogLeft</string>
			<string>OEN64AnalogRight</string>
		</array>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEN64ButtonDPadUp</string>
				<string>OEN64ButtonDPadDown</string>
			</array>
			<array>
				<string>OEN64ButtonDPadLeft</string>
				<string>OEN64ButtonDPadRight</string>
			</array>
			<array>
				<string>OEN64ButtonCUp</string>
				<string>OEN64ButtonCDown</string>
			</array>
			<array>
				<string>OEN64ButtonCLeft</string>
				<string>OEN64ButtonCRight</string>
			</array>
			<array>
				<string>OEN64AnalogLeft</string>
				<string>OEN64AnalogRight</string>
			</array>
			<array>
				<string>OEN64AnalogUp</string>
				<string>OEN64AnalogDown</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEN64ButtonDPadUp</string>
				<string>OEN64ButtonDPadRight</string>
				<string>OEN64ButtonDPadDown</string>
				<string>OEN64ButtonDPadLeft</string>
			</array>
			<array>
				<string>OEN64ButtonCUp</string>
				<string>OEN64ButtonCRight</string>
				<string>OEN64ButtonCDown</string>
				<string>OEN64ButtonCLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>n64</string>
		<string>z64</string>
		<string>v64</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEN64ButtonDPadUp</string>
		<string>OEN64ButtonDPadDown</string>
		<string>OEN64ButtonDPadLeft</string>
		<string>OEN64ButtonDPadRight</string>
		<string>OEN64ButtonCUp</string>
		<string>OEN64ButtonCDown</string>
		<string>OEN64ButtonCLeft</string>
		<string>OEN64ButtonCRight</string>
		<string>OEN64ButtonA</string>
		<string>OEN64ButtonB</string>
		<string>OEN64ButtonL</string>
		<string>OEN64ButtonR</string>
		<string>OEN64ButtonZ</string>
		<string>OEN64ButtonStart</string>
		<string>OEN64AnalogUp</string>
		<string>OEN64AnalogDown</string>
		<string>OEN64AnalogLeft</string>
		<string>OEN64AnalogRight</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>4</integer>
	<key>OEResponderClassKey</key>
	<string>OEN64SystemResponder</string>
	<key>OESystemIcon</key>
	<string>n64_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.n64</string>
	<key>OESystemName</key>
	<string>Nintendo 64</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
