<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_fc</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_fc_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OENESButtonUp</key>
		<string>{109, 225}</string>
		<key>OENESButtonDown</key>
		<string>{109, 178}</string>
		<key>OENESButtonLeft</key>
		<string>{86, 201}</string>
		<key>OENESButtonRight</key>
		<string>{133, 201}</string>
		<key>OENESButtonStart</key>
		<string>{259, 180}</string>
		<key>OENESButtonSelect</key>
		<string>{210, 180}</string>
		<key>OENESButtonA</key>
		<string>{399, 183}</string>
		<key>OENESButtonB</key>
		<string>{341, 183}</string>
	</dict>
</dict>
</plist>
