<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_lynx</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_lynx_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OELynxButtonUp</key>
		<string>{71,253}</string>
		<key>OELynxButtonDown</key>
		<string>{71, 209}</string>
		<key>OELynxButtonLeft</key>
		<string>{50, 228}</string>
		<key>OELynxButtonRight</key>
		<string>{93, 228}</string>
		<key>OELynxButtonB</key>
		<string>{394, 300}</string>
		<key>OELynxButtonA</key>
		<string>{433, 310}</string>
		<key>OELynxButtonOption1</key>
		<string>{363, 265}</string>
		<key>OELynxButtonOption2</key>
		<string>{362, 190}</string>
	</dict>
</dict>
</plist>
