/* <html><head><meta name="robots" content="noindex"></head></html> */

a:hover
{
	text-decoration: underline;
}

h1
{
	font-size: 14pt;
	font-family: "Lucida Grande", Helvetica, Arial;
}

h2
{
	font-size: 12pt;
	font-family: "Lucida Grande", Helvetica, Arial;
}

h3
{
	font-size: 10pt;
	font-family: "Lucida Grande", Helvetica, Arial;
	margin-top: 3em;
}

h4
{
	font-size: 9pt;
	font-family: "Lucida Grande", Helvetica, Arial;
}

p
{
	font-size: 9pt;
	font-family: "Lucida Grande", Helvetica, Arial;
}

table
{
	font-size: 9pt;
	font-family: "Lucida Grande", Helvetica, Arial;
}

ul
{
	font-size: 9pt;
	font-family: "Lucida Grande", Helvetica, Arial;
	padding-left: 3em;
}

dl
{
	font-size: 9pt;
	font-family: "Lucida Grande", Helvetica, Arial;
	padding-left: 3em;
}

dd
{
	margin-bottom: 0.5em;
}
