<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OESystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPMButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPMButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPMButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPMButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Menu</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPMButtonMenu</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Power</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPMButtonPower</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Shake</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPMButtonShake</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPMButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPMButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>C</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPMButtonC</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEPMButtonUp</string>
				<string>OEPMButtonDown</string>
			</array>
			<array>
				<string>OEPMButtonLeft</string>
				<string>OEPMButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEPMButtonUp</string>
				<string>OEPMButtonRight</string>
				<string>OEPMButtonDown</string>
				<string>OEPMButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>min</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEPMButtonMenu</string>
		<string>OEPMButtonA</string>
		<string>OEPMButtonB</string>
		<string>OEPMButtonC</string>
		<string>OEPMButtonUp</string>
		<string>OEPMButtonDown</string>
		<string>OEPMButtonLeft</string>
		<string>OEPMButtonRight</string>
		<string>OEPMButtonPower</string>
		<string>OEPMButtonShake</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>1</integer>
	<key>OEResponderClassKey</key>
	<string>OEPMSystemResponder</string>
	<key>OESystemCoverAspectRatio</key>
	<string>1</string>
	<key>OESystemIcon</key>
	<string>pokemonmini_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.pokemonmini</string>
	<key>OESystemName</key>
	<string>Pokémon mini</string>
	<key>OESystemType</key>
	<string>OESystemTypeHandheld</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
