<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_vb</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_vb_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEVBButtonLeftUp</key>
		<string>{115, 362}</string>
		<key>OEVBButtonLeftDown</key>
		<string>{115, 320}</string>
		<key>OEVBButtonLeftLeft</key>
		<string>{94, 341}</string>
		<key>OEVBButtonLeftRight</key>
		<string>{136, 341}</string>
		<key>OEVBButtonRightUp</key>
		<string>{385, 362}</string>
		<key>OEVBButtonRightDown</key>
		<string>{385, 320}</string>
		<key>OEVBButtonRightLeft</key>
		<string>{364, 341}</string>
		<key>OEVBButtonRightRight</key>
		<string>{406, 341}</string>
		<key>OEVBButtonL</key>
		<string>{115, 391}</string>
		<key>OEVBButtonR</key>
		<string>{385, 391}</string>
		<key>OEVBButtonA</key>
		<string>{333, 317}</string>
		<key>OEVBButtonB</key>
		<string>{301, 303}</string>
		<key>OEVBButtonStart</key>
		<string>{198, 303}</string>
		<key>OEVBButtonSelect</key>
		<string>{166, 317}</string>
	</dict>
</dict>
</plist>
