<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OESystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<string>Left D-Pad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVBButtonLeftUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVBButtonLeftDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVBButtonLeftLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVBButtonLeftRight</string>
			</dict>
		</array>
		<array>
			<string>Right D-Pad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVBButtonRightUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVBButtonRightDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVBButtonRightLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVBButtonRightRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVBButtonL</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVBButtonR</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVBButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVBButtonB</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVBButtonStart</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEVBButtonSelect</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEVBButtonLeftUp</string>
				<string>OEVBButtonLeftDown</string>
			</array>
			<array>
				<string>OEVBButtonLeftLeft</string>
				<string>OEVBButtonLeftRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEVBButtonLeftUp</string>
				<string>OEVBButtonLeftRight</string>
				<string>OEVBButtonLeftDown</string>
				<string>OEVBButtonLeftLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>vb</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEVBButtonLeftUp</string>
		<string>OEVBButtonLeftDown</string>
		<string>OEVBButtonLeftLeft</string>
		<string>OEVBButtonLeftRight</string>
		<string>OEVBButtonRightUp</string>
		<string>OEVBButtonRightDown</string>
		<string>OEVBButtonRightLeft</string>
		<string>OEVBButtonRightRight</string>
		<string>OEVBButtonL</string>
		<string>OEVBButtonR</string>
		<string>OEVBButtonA</string>
		<string>OEVBButtonB</string>
		<string>OEVBButtonStart</string>
		<string>OEVBButtonSelect</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>1</integer>
	<key>OEResponderClassKey</key>
	<string>OEVBSystemResponder</string>
	<key>OESystemCoverAspectRatio</key>
	<string>1</string>
	<key>OESystemIcon</key>
	<string>vb_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.vb</string>
	<key>OESystemName</key>
	<string>Virtual Boy</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
	</array>
</dict>
</plist>
