<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_gamegear</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_gamegear_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEGGButtonUp</key>
		<string>{73, 268}</string>
		<key>OEGGButtonDown</key>
		<string>{73, 228}</string>
		<key>OEGGButtonLeft</key>
		<string>{55, 248}</string>
		<key>OEGGButtonRight</key>
		<string>{95, 248}</string>
		<key>OEGGButtonA</key>
		<string>{404, 220}</string>
		<key>OEGGButtonB</key>
		<string>{437, 248}</string>
		<key>OEGGButtonStart</key>
		<string>{400, 288}</string>
	</dict>
</dict>
</plist>
