<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEGGButtonUp</key>
	<integer>82</integer>
	<key>OEGGButtonRight</key>
	<integer>79</integer>
	<key>OEGGButtonLeft</key>
	<integer>80</integer>
	<key>OEGGButtonDown</key>
	<integer>81</integer>
	<key>OEGGButtonA</key>
	<integer>4</integer>
	<key>OEGGButtonB</key>
	<integer>22</integer>
	<key>OEGGButtonStart</key>
	<integer>40</integer>
</dict>
</plist>
