<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_tg16</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_tg16_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEPCEButtonUp</key>
		<string>{102, 230}</string>
		<key>OEPCEButtonDown</key>
		<string>{102, 190}</string>
		<key>OEPCEButtonLeft</key>
		<string>{80, 210}</string>
		<key>OEPCEButtonRight</key>
		<string>{130, 210}</string>
		<key>OEPCEButtonRun</key>
		<string>{275, 190}</string>
		<key>OEPCEButtonSelect</key>
		<string>{225, 190}</string>
		<key>OEPCEButton1</key>
		<string>{407, 190}</string>
		<key>OEPCEButton2</key>
		<string>{357, 190}</string>
		<key>OEPCEButton3</key>
		<string>{0, 0}</string>
		<key>OEPCEButton4</key>
		<string>{0, 0}</string>
		<key>OEPCEButton5</key>
		<string>{0, 0}</string>
		<key>OEPCEButton6</key>
		<string>{0, 0}</string>
		<key>OEPCEButtonMode</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
