<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_pce</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_pce_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEPCEButtonUp</key>
		<string>{115, 220}</string>
		<key>OEPCEButtonDown</key>
		<string>{115, 170}</string>
		<key>OEPCEButtonLeft</key>
		<string>{90, 195}</string>
		<key>OEPCEButtonRight</key>
		<string>{140, 195}</string>
		<key>OEPCEButtonRun</key>
		<string>{275, 170}</string>
		<key>OEPCEButtonSelect</key>
		<string>{230, 170}</string>
		<key>OEPCEButton1</key>
		<string>{390, 180}</string>
		<key>OEPCEButton2</key>
		<string>{345, 180}</string>
		<key>OEPCEButton3</key>
		<string>{0, 0}</string>
		<key>OEPCEButton4</key>
		<string>{0, 0}</string>
		<key>OEPCEButton5</key>
		<string>{0, 0}</string>
		<key>OEPCEButton6</key>
		<string>{0, 0}</string>
		<key>OEPCEButtonMode</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
