<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEPCEButtonUp</key>
	<integer>82</integer>
	<key>OEPCEButtonDown</key>
	<integer>81</integer>
	<key>OEPCEButtonLeft</key>
	<integer>80</integer>
	<key>OEPCEButtonRight</key>
	<integer>79</integer>
	<key>OEPCEButton1</key>
	<integer>4</integer>
	<key>OEPCEButton2</key>
	<integer>22</integer>
	<key>OEPCEButtonRun</key>
	<integer>44</integer>
	<key>OEPCEButtonSelect</key>
	<integer>41</integer>
</dict>
</plist>
